Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

metadata: Remove code ensuring YAML 1.2 compatibility
  fdroidserver/metadata.py
  tests/metadata-rewrite-yml/app.with.special.build.params.yml
  tests/metadata/app.with.special.build.params.yml
Due: fdroid build

Add .mailmap
  .mailmap
Due: none

add myself to .mailmap !1347
  .mailmap
Due: none

add real test of moving files with deploy.update_serverwebroot()
  tests/deploy.TestCase
Due: none

build: add test case for maven: builds
  tests/build.TestCase
Due: none

remove last `maven:` quirks and make it always a string
  .gitlab-ci.yml
  CHANGELOG.md
  fdroidserver/metadata.py
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradle v8.1.1
  gradlew-fdroid
Due: gradlew-fdroid

index-v2 'mirrors' fully settable from config
  examples/config.yml
  fdroidserver/index.py
  tests/index.TestCase
  tests/repo/entry.json
  tests/repo/index-v2.json
Due: none

test of current internal format of mirrors list in config
  tests/index.TestCase
Due: none

index: use 'fake.url' as test domain when no networking is used
  tests/index.TestCase
Due: none

index.TestCase: manually convert to black code format
  .gitlab-ci.yml
  tests/index.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

enable black on fdroidserver/init.py
  .gitlab-ci.yml
  fdroidserver/init.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

enable black on fdroidserver/rewritemeta.py
  .gitlab-ci.yml
  fdroidserver/rewritemeta.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

enable black on tests: api, gpgsign, main, net, vcs
  .gitlab-ci.yml
  tests/gpgsign.TestCase
  tests/main.TestCase
  tests/net.TestCase
  tests/vcs.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

enable black on fdroidserver/signatures.py
  .gitlab-ci.yml
  fdroidserver/signatures.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

enable black on fdroidserver/asynchronousfilereader/__init__.py
  fdroidserver/asynchronousfilereader/__init__.py
Due: none

config black exceptions in pyproject.toml
  .gitlab-ci.yml
  pyproject.toml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

metadata: failfast=False like the rest of the tests
  tests/metadata.TestCase
Due: none

map out type conversions in metadata.PostMetadataParseTest suite
  tests/metadata.TestCase
Due: none

metadata: force TYPE_STRING fields to string in internal dict
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

warn on all unrecognized build flags
  fdroidserver/metadata.py
Due: fdroid build

metadata: remove strange app arg construct from parse_yaml_metadata()
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

App.comments is no more since !772
  .gitlab-ci.yml
  fdroidserver/index.py
  fdroidserver/metadata.py
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

metadata: refactor into one function to do YAML post processing
  fdroidserver/import_subcommand.py
  fdroidserver/metadata.py
  tests/import_subcommand.TestCase
  tests/metadata.TestCase
Due: fdroid build

metadata: transform all TYPE_STRING values w/ _normalize_type_string()
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: handle empty files and dicts, and error out on non-dicts
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

gitlab-ci: use bookworm for "Build documentation" job
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

hooks/pre-commit: enable pydocstyle, if installed
  hooks/pre-commit
  setup.py
Due: none

hooks/pre-commit: run yamllint on more YAML files
  .yamllint
  examples/Vagrantfile.yaml
  hooks/pre-commit
Due: none

add litecoin address native segwit format
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

some easier fixes for black code format
  fdroidserver/metadata.py
Due: fdroid build

add test_check_metadata_AntiFeatures
  tests/metadata.TestCase
Due: none

work towards switching fdroidserver/metadata.py to black
  fdroidserver/metadata.py
Due: fdroid build

ruamel.yaml is now required and the packages are all new enough
  fdroidserver/metadata.py
  tests/rewritemeta.TestCase
Due: fdroid build

refactor App.get_last_build() to checkupdates
  fdroidserver/checkupdates.py
  fdroidserver/metadata.py
Due: fdroid build

remove exception for ruamel.yaml on Debian/stretch
  fdroidserver/metadata.py
Due: fdroid build

metadata.TestCase: metadata.warnings_action = 'error' as default
  tests/metadata.TestCase
Due: none

add tests of TYPE_LIST parsing
  tests/metadata.TestCase
Due: none

update test_read_metadata to use ruamel.yaml and YAML 1.2
  fdroidserver/metadata.py
  tests/metadata.TestCase
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
Due: fdroid build

metadata: minor optimization: call fieldtype() once per loop
  fdroidserver/metadata.py
Due: fdroid build
