Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - cd buildserver
  - docker build -t $TEST_IMAGE --build-arg GIT_REV_PARSE_HEAD=$(git rev-parse HEAD) .
  ...

Update approved official SPDX license tags
  fdroidserver/lint.py
Due: none

gradle v7.5.1
  gradlew-fdroid
Due: gradlew-fdroid

scanner: fix maven url check for kts files
  fdroidserver/scanner.py
  tests/gradle-maven-blocks.yaml
  tests/scanner.TestCase
Due: fdroid build

stop checking existence for build-tools, platform-tools, tools
  fdroidserver/build.py
Due: fdroid build

Fix variable in exception
  fdroidserver/checkupdates.py
Due: none

Show all unused scanner path at once
  fdroidserver/common.py
Due: fdroid build

Fix tag match with GitPython
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

Android NDK None (None)
  fdroidserver/common.py
Due: fdroid build

Sort the xml file pathes for consistent result
  fdroidserver/common.py
Due: fdroid build

verify: normalize dicts via JSON for reliable comparisons
  fdroidserver/verify.py
  tests/verify.TestCase
Due: none

convert verify.py and verify.TestCase to black code format
  .gitlab-ci.yml
  fdroidserver/verify.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: paramiko from Debian to avoid crypto libs from source
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Apply 1 suggestion(s) to 1 file(s)
  fdroidserver/scanner.py
Due: fdroid build

scanner: add sinaweibosdk
  fdroidserver/scanner.py
Due: fdroid build

scanner: also scan classpath
  fdroidserver/scanner.py
  tests/scanner.TestCase
  tests/source-files/OtakuWorld/build.gradle
Due: fdroid build

[import] Rename to import_subcommand internally
  .gitlab-ci.yml
  MANIFEST.in
  fdroidserver/__main__.py
  fdroidserver/import_subcommand.py
  tests/import_proxy.py
  tests/import_subcommand.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Move methods specific to import to it's module
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
  tests/common.TestCase
  tests/import_subcommand.TestCase
Due: fdroid build

Also write status.json when command finished
  fdroidserver/common.py
Due: fdroid build

gitlab-ci: fix Windows job after import rename !1142
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

nightly: update Raw URLs to fix breakage and avoid redirects
  fdroidserver/nightly.py
  tests/nightly.TestCase
Due: none

Merge comparisons with 'in'
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
  fdroidserver/init.py
  fdroidserver/update.py
  makebuildserver
Due: fdroid build, docker

Add timeout argument to requests.(get,post)
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/net.py
  fdroidserver/scanner.py
  tests/gradle-release-checksums.py
  tests/import_subcommand.TestCase
  tests/ndk-release-checksums.py
  tests/net.TestCase
  tests/nightly.TestCase
  tests/openssl-version-check-test.py
  tests/scanner.TestCase
Due: fdroid build

Fix trailing whitespace
  tests/extra/manual-vmtools-test.py
Due: none

Fix added type
  fdroidserver/update.py
Due: none

nightly: add support for GitHub Actions
  fdroidserver/nightly.py
Due: none

[CI] fetchsrclibs use apt cffi
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

[CI] Install python3-pil from apt
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

[CI] install python3-matplotlib from apt
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: fix plugin_fetchsrclibs by using Debian packages
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

disable new pylint errors, this code is frozen
  .pylint-rcfile
  fdroidserver/build.py
  tests/androguard_test.py
  tests/extra/manual-vmtools-test.py
Due: fdroid build

disable new pylint/pep8 errors, this code is frozen
  hooks/pre-commit
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

gradlew-fdroid: include latest checksums and versions
  gradlew-fdroid
Due: gradlew-fdroid

version 2.0.5
  setup.py
Due: none

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
