Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

Drop successfulBuilds from build.json
  fdroidserver/build.py
Due: fdroid build

makebuildserver: delete unused libvirt image after process is complete
  makebuildserver
Due: docker

copy apksigcopier v1.1.0
  fdroidserver/apksigcopier.py
Due: none

f-droid modifications: rm do_compare(), main(), ...
  fdroidserver/apksigcopier.py
Due: none

Fix locale on buildserver to C.UTF-8
  buildserver/setup-env-vars
Due: docker

Replace custom code by verify_jar_signature()
  fdroidserver/common.py
Due: fdroid build

Drop old getsig.java test
  MANIFEST.in
  tests/getsig/getsig.java
  tests/getsig/make.sh
  tests/getsig/run.sh
  tests/run-tests
  tests/update.TestCase
Due: none

init: use provided keyalias
  fdroidserver/init.py
Due: none

signindex: fix buster workaround
  fdroidserver/signindex.py
Due: none

jarsigner: allow weak signatures
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/update.py
  tests/common.TestCase
  tests/signindex.TestCase
Due: fdroid build

build: read VM CPUs/RAM from builder/Vagrantfile
  fdroidserver/build.py
  tests/builder/Vagrantfile
Due: fdroid build

status.json: drop logs of failed builds
  fdroidserver/build.py
Due: fdroid build

🔍 add `scanner_signature_sources` config option
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

remove --exodus cli option from scanner.py
  fdroidserver/scanner.py
Due: fdroid build

Set ArchivePolicy based on VercodeOperation/signature
  fdroidserver/update.py
  tests/update.TestCase
Due: none

index-v2.jar is not a valid file, remove references
  fdroidserver/common.py
  fdroidserver/deploy.py
  tests/common.TestCase
  tests/deploy.TestCase
Due: fdroid build

stop pre-installing the ndk
  buildserver/Vagrantfile
  makebuildserver
Due: docker

verify_deprecated_jar_signature(): use temp dir instead of $PWD/.java.security
  fdroidserver/common.py
Due: fdroid build

nightly: support OpenSSL 3.0 with Paramiko
  .gitlab-ci.yml
  MANIFEST.in
  fdroidserver/nightly.py
  tests/aosp_testkey_debug.keystore
  tests/nightly.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

nightly: convert to config.yml
  fdroidserver/nightly.py
Due: none

Drop VCS version check on every build
  fdroidserver/build.py
Due: fdroid build

Don't get_android_tools_version_log for non builds
  fdroidserver/build.py
Due: fdroid build

Point user to Vagrant log if build server failed to build
  makebuildserver
Due: docker

include tests/nightly.TestCase in dist tarball
  MANIFEST.in
Due: none

nightly: only write SSH key files if ~/.ssh exists on dev's machine
  fdroidserver/nightly.py
Due: none

nightly: add tests
  .gitlab-ci.yml
  fdroidserver/nightly.py
  tests/nightly.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

nightly: fail if *-nightly git repo is not publicly available
  fdroidserver/common.py
  fdroidserver/nightly.py
  tests/nightly.TestCase
Due: fdroid build

nightly: if repo is too large, set archive_older to 3
  fdroidserver/nightly.py
Due: none

index: fix git-mirror size check for GitLab Pages
  fdroidserver/index.py
  tests/index.TestCase
Due: none

deploy: convert .gitlab-ci.yml generation to dict + yaml.dump()
  fdroidserver/deploy.py
Due: none

deploy: check repo size before enabling GitLab Pages
  fdroidserver/deploy.py
Due: none

deploy: support GitLab Job Artifacts as a mirror
  fdroidserver/index.py
  tests/index.TestCase
Due: none

deploy: GIT_DEPTH=1 so GitLab Pages job runs as quick as possible
  fdroidserver/deploy.py
Due: none

gitlab-ci: apksigner from current build-tools in ubuntu_jammy_pip
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

nightly: add tests
  fdroidserver/nightly.py
  tests/nightly.TestCase
Due: none

nightly: fail if *-nightly git repo is not publicly available
  fdroidserver/nightly.py
  tests/nightly.TestCase
Due: none

gitlab-ci: run test suite in the buildserver environment
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker
