Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

Path conditions:
  test_deploy_to_s3_with_rclone: any of: .gitlab-ci.yml, fdroidserver/deploy.py, tests/test_deploy.py, tests/test_integration.py
  bandit: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  pylint: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  shellcheck: any of: .gitlab-ci.yml, hooks/install-hooks.sh, hooks/pre-commit, tests/run-tests
  safety: any of: .gitlab-ci.yml, .safety-policy.yml, pyproject.toml, setup.py
  yamllint: any of: .gitlab-ci.yml, .safety-policy.yml, .yamllint, tests/*.yml, tests/*/*.yml, tests/*/*/.*.yml
  gradle: any of: .gitlab-ci.yml, makebuildserver
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py, makebuildserver, buildserver/*
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  Build documentation: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
  PUBLISH: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  podman system service: any of: .gitlab-ci.yml, fdroidserver/up.py, tests/test_up.py

Translated using Weblate: Swahili (sw) by Ashley Tsuma <tsumaashley@gmail.com>
  locale/sw/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  locale/ru/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Spanish (es) by Swyter <swyterzone@gmail.com>
  locale/es/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Spanish (es) by Nicolás Pérez <nicoperez241@proton.me>
  locale/es/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Turkish (tr) by Cabbar Hayıroğlu <halil48efe@gmail.com>
  locale/tr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by Wiesław Fijołek <percival@users.noreply.hosted.weblate.org>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

run locale/pick-complete-translations.py
  MANIFEST.in
Due: none

Translated using Weblate: Korean (ko) by Sabrina <hello@cherryband.space>
  locale/ko/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by Andrzej Stachera <Jackheisen@proton.me>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Swahili (sw) by Steve Solomon <stevenyasimi01@gmail.com>
  locale/sw/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Hungarian (hu) by Romhányi-Kakucska Viktor <viktor@romhanyi.dev>
  locale/hu/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  locale/ca/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  locale/ja/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Catalan (ca) by Ecron <ecron_89@hotmail.com>
  locale/ca/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by Grzegorz Szymaszek <gszymaszek@short.pl>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Dutch (nl) by Watchman89 <rplatte@hotmail.nl>
  locale/nl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Russian (ru) by Дмитрий Михирев <bizdelnick@gmail.com>
  locale/ru/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Norwegian Bokmål (nb_NO) by Telaneo <post@telaneo.net>
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Swahili (sw) by paul mayero <pmmayero@gmail.com>
  locale/sw/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Irish (ga) by Aindriú Mac Giolla Eoin <aindriu80@gmail.com>
  locale/ga/LC_MESSAGES/fdroidserver.po
Due: none

fix format strings
  locale/ca/LC_MESSAGES/fdroidserver.po
  locale/es_MX/LC_MESSAGES/fdroidserver.po
Due: none

make -C locale compile
  locale/ba/LC_MESSAGES/fdroidserver.po
  locale/bo/LC_MESSAGES/fdroidserver.po
  locale/ca/LC_MESSAGES/fdroidserver.po
  locale/cs/LC_MESSAGES/fdroidserver.po
  locale/de/LC_MESSAGES/fdroidserver.po
  locale/es/LC_MESSAGES/fdroidserver.po
  locale/fdroidserver.pot
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/ga/LC_MESSAGES/fdroidserver.po
  locale/hu/LC_MESSAGES/fdroidserver.po
  locale/it/LC_MESSAGES/fdroidserver.po
  locale/ja/LC_MESSAGES/fdroidserver.po
  locale/ko/LC_MESSAGES/fdroidserver.po
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
  locale/nl/LC_MESSAGES/fdroidserver.po
  locale/pl/LC_MESSAGES/fdroidserver.po
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
  locale/ro/LC_MESSAGES/fdroidserver.po
  locale/ru/LC_MESSAGES/fdroidserver.po
  locale/sq/LC_MESSAGES/fdroidserver.po
  locale/sr/LC_MESSAGES/fdroidserver.po
  locale/sw/LC_MESSAGES/fdroidserver.po
  locale/tr/LC_MESSAGES/fdroidserver.po
  locale/uk/LC_MESSAGES/fdroidserver.po
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

fix format strings
  locale/ba/LC_MESSAGES/fdroidserver.po
  locale/ca/LC_MESSAGES/fdroidserver.po
  locale/cs/LC_MESSAGES/fdroidserver.po
  locale/de/LC_MESSAGES/fdroidserver.po
  locale/es/LC_MESSAGES/fdroidserver.po
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/ga/LC_MESSAGES/fdroidserver.po
  locale/it/LC_MESSAGES/fdroidserver.po
  locale/ja/LC_MESSAGES/fdroidserver.po
  locale/nl/LC_MESSAGES/fdroidserver.po
  locale/pl/LC_MESSAGES/fdroidserver.po
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
  locale/ro/LC_MESSAGES/fdroidserver.po
  locale/ru/LC_MESSAGES/fdroidserver.po
  locale/sq/LC_MESSAGES/fdroidserver.po
  locale/sr/LC_MESSAGES/fdroidserver.po
  locale/sw/LC_MESSAGES/fdroidserver.po
  locale/tr/LC_MESSAGES/fdroidserver.po
  locale/uk/LC_MESSAGES/fdroidserver.po
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

makebuildserver: update to latest Debian basebox
  makebuildserver
Due: bandit, pylint, gradle, fdroid build, Build documentation, docker, PUBLISH

explicitly declare setuptools as the build system
  pyproject.toml
Due: safety

Fix 'occured' -> 'occurred' typo in 4 docstrings/messages
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/import_subcommand.py
  fdroidserver/install.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

remove unused string from translations
  locale/ba/LC_MESSAGES/fdroidserver.po
  locale/bo/LC_MESSAGES/fdroidserver.po
  locale/ca/LC_MESSAGES/fdroidserver.po
  locale/cs/LC_MESSAGES/fdroidserver.po
  locale/de/LC_MESSAGES/fdroidserver.po
  locale/es/LC_MESSAGES/fdroidserver.po
  locale/fdroidserver.pot
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/ga/LC_MESSAGES/fdroidserver.po
  locale/hu/LC_MESSAGES/fdroidserver.po
  locale/it/LC_MESSAGES/fdroidserver.po
  locale/ja/LC_MESSAGES/fdroidserver.po
  locale/ko/LC_MESSAGES/fdroidserver.po
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
  locale/nl/LC_MESSAGES/fdroidserver.po
  locale/pl/LC_MESSAGES/fdroidserver.po
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
  locale/ro/LC_MESSAGES/fdroidserver.po
  locale/ru/LC_MESSAGES/fdroidserver.po
  locale/sq/LC_MESSAGES/fdroidserver.po
  locale/sr/LC_MESSAGES/fdroidserver.po
  locale/sw/LC_MESSAGES/fdroidserver.po
  locale/tr/LC_MESSAGES/fdroidserver.po
  locale/uk/LC_MESSAGES/fdroidserver.po
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

ensure httpd is shut down when test_mirroring_a_repo fails
  tests/test_integration.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

gitlab-ci: add wget to ubuntu_jammy_pip so test_mirroring_a_repo runs
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

remove obsolete test back when `aapt dump badging` was parsed
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

use IntEnum for SCREEN_RESOLUTIONS
  fdroidserver/update.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

add tests of fdroidserver.update.get_icon_dir()
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH
