Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - export TEST_IMAGE=$CI_REGISTRY_IMAGE:$(printf $CI_COMMIT_REF_NAME | sed 's,[^a-zA-Z0-9_.-],_,g')
  - cd buildserver
  ...

scanner: suppress verbose/confusing log output on success
  tests/test_scanner.py
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Italian (it) by Champ0999 <champ0999@users.noreply.hosted.weblate.org>
  locale/it/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  locale/sq/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Latvian (lv) by Edgars Andersons <Edgars+Weblate@gaitenis.id.lv>
  locale/lv/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Irish (ga) by Aindriú Mac Giolla Eoin <aindriu80@gmail.com>
  locale/ga/LC_MESSAGES/fdroidserver.po
Due: none

fix _dexdump_found() in test_scanner.py !1621
  tests/test_scanner.py
Due: none

update: add execution stages to status JSON
  fdroidserver/common.py
  fdroidserver/update.py
Due: fdroid build

APK for testing maxSdkVersion handling
  MANIFEST.in
  tests/metadata/org.maxsdkversion.yml
  tests/repo/entry.json
  tests/repo/index-v1.json
  tests/repo/index-v2.json
  tests/repo/index.xml
  tests/repo/org.maxsdkversion_4.apk
  tests/test_update.py
Due: none

verify_apk_signature: work when options is not set
  .gitlab-ci.yml
  fdroidserver/common.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

delete cruft test script
  tests/parse-fdroiddata-mirror-config.py
Due: none

gitlab-ci: delete extraneous keystore key from PUBLISH job
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

publish: convert to black code format
  fdroidserver/publish.py
  pyproject.toml
  tests/test_publish.py
Due: none

MANIFEST.in: case-insensitive ASCII byte value for stable sort
  MANIFEST.in
Due: none

convert test_signatures.py to black code format
  pyproject.toml
  tests/test_signatures.py
Due: none

test_signatures: remove unneeded config from tests
  tests/test_signatures.py
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

fix missing comma in error message
  fdroidserver/publish.py
Due: none

locale/pick-complete-translations.py: use stable sort order for MANIFEST.in
  locale/pick-complete-translations.py
Due: none

use black code format for locale/pick-complete-translations.py
  locale/pick-complete-translations.py
  pyproject.toml
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

version 2.4.0
  setup.py
Due: none

ci: use GitLab Code Quality for linting tests
  .bandit
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

purge dead code: apk_signer_fingerprint_short
  fdroidserver/common.py
  tests/test_common.py
Due: fdroid build

black format and use returncode directly without `!= 0`
  fdroidserver/common.py
Due: fdroid build

delete file I mistakenly included
  dev/fdroid_scan-binary.py
Due: none

vcs_git: clearer error messages for checkrepo()
  fdroidserver/common.py
Due: fdroid build

metadata: rename srcdir -> srclibs_dir for clarity
  fdroidserver/metadata.py
Due: fdroid build

drop error prefix when raising VCSException in case retrieving git revision failed
  fdroidserver/common.py
Due: fdroid build

checkupdates: adjust log level
  fdroidserver/checkupdates.py
Due: none

gitlab-ci: move shellcheck to own job fenced by changes:
  .gitlab-ci.yml
  hooks/install-hooks.sh
  hooks/pre-commit
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: move pylint to its own job
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: move bandit to its own job
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: only run Python-only jobs when .py files change
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
