Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fdroid build, plugin_fetchsrclibs

fdroid build:
  image: registry.gitlab.com/fdroid/ci-images-client
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - bash buildserver/provision-apt-get-install http://deb.debian.org/debian
  - apt-get dist-upgrade
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

Log traceback with exception
  fdroidserver/build.py
Due: fdroid build

Provide verbose output with --verbose
  fdroidserver/build.py
Due: fdroid build

Support ruamel from Debian stretch
  fdroidserver/metadata.py
Due: fdroid build

index: do not include GitLab Pages mirror if it can't be deployed
  fdroidserver/common.py
  fdroidserver/index.py
  tests/index.TestCase
Due: fdroid build

build: run vcs.initsubmodules() on host as well
  fdroidserver/build.py
Due: fdroid build

find_sdk_tools_cmd(): s/found/not found/ in error message
  fdroidserver/common.py
Due: fdroid build

Fix get_dir_size call
  fdroidserver/index.py
Due: none

fix IndexTest.test_gitlab_get_mirror_service_urls
  tests/index.TestCase
Due: none

mirror-to-mirror.sh: also sync to plug-mirror.rcac.purdue.edu
  examples/mirror-to-mirror.sh
Due: none

Fix invalid key error due to NDK versions in "revision" form (e.g. 21.4.7075529)
  fdroidserver/common.py
Due: fdroid build

test whether NDK version parsing is working properly
  tests/common.TestCase
Due: none

tests: silence the linters
  tests/common.TestCase
Due: none

Add CI job "black" for code format checks
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

copy_triple_t_store_metadata(): handle subdir + flavor
  fdroidserver/update.py
Due: none

scanner: add com.google.mlkit to NON_FREE_GRADLE_LINES
  fdroidserver/scanner.py
Due: fdroid build

update: add test with APK for icon_id related exceptions
  tests/SystemWebView-repack.apk
  tests/update.TestCase
Due: none

Handle error when parsing WebView icon
  fdroidserver/update.py
Due: none

Clarify wording example for config.yml
  examples/config.yml
Due: none

Ignore failing Windows CI
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

[CI] fetchsrclibs use apt cffi
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

[checkupdates] Tweak logging
  fdroidserver/checkupdates.py
Due: none

Fix servergitmirrors ci
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

git prune branches in case of failure
  fdroidserver/common.py
Due: fdroid build

Improve rewritemeta --help
  fdroidserver/rewritemeta.py
Due: none

[CI] Install python3-pil from apt
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

[CI] install python3-pil from apt in servergitmirrors
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

NDK Install: Handle symlinks present in NDK zip
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

Add newline in ssh_config
  buildserver/setup-env-vars
Due: none

[CI] install python3-matplotlib from apt
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Simplify index.html for new html5lib
  fdroidserver/index.py
Due: none

gradle v7.3
  gradlew-fdroid
Due: none

Added Github actions/workflow to the nightly CI
  fdroidserver/nightly.py
Due: none

Always write VM status
  fdroidserver/build.py
Due: fdroid build

Suppress --wiki in fdroid build
  fdroidserver/build.py
Due: fdroid build

Drop code for the old wiki
  examples/config.yml
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/exception.py
  fdroidserver/update.py
  jenkins-build-all
  setup.py
Due: fdroid build

Renamed to NSFW as per https://gitlab.com/fdroid/admin/-/issues/252
  fdroidserver/metadata.py
Due: fdroid build

Add AdultContent to allowed anti-features
  fdroidserver/metadata.py
Due: fdroid build

Parse single digit sizes
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

add ndk r23b
  fdroidserver/common.py
Due: fdroid build

Fix subproject regex to allow subdir without colon
  MANIFEST.in
  fdroidserver/common.py
  tests/common.TestCase
  tests/source-files/org.noise_planet.noisecapture/app/build.gradle
  tests/source-files/org.noise_planet.noisecapture/settings.gradle
  tests/source-files/org.noise_planet.noisecapture/sosfilter/build.gradle
Due: fdroid build

Path conditions:
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
