Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fdroid build, plugin_fetchsrclibs

fdroid build:
  image: registry.gitlab.com/fdroid/ci-images-client
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - bash buildserver/provision-apt-get-install http://deb.debian.org/debian
  - apt-get dist-upgrade
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

use vagrantfile instead of 'builder/Vagrantfile' in get_clean_builder()
  fdroidserver/vmtools.py
Due: fdroid build

Add NDK 21e
  buildserver/config.buildserver.yml
  buildserver/provision-android-ndk
  examples/config.yml
  makebuildserver
Due: none

buildserver: only install the latest gradle version
  buildserver/provision-gradle
  makebuildserver
Due: none

gradlew-fdroid: use gradle zipballs from local cachedir, if present
  .gitlab-ci.yml
  gradlew-fdroid
  tests/test-gradlew-fdroid
Due: fdroid build, plugin_fetchsrclibs

update CHANGELOG
  CHANGELOG.md
Due: none

build: include useful successful build IDs in status JSON, closes #825
  fdroidserver/build.py
Due: fdroid build

makebuildserver: print message before rsyncing caches
  makebuildserver
Due: none

scanner: should not exit with error when apkanalyzer fails
  fdroidserver/scanner.py
Due: fdroid build

set development version
  setup.py
Due: none

metadata: remove git repo handling from metadata parsing
  examples/fdroid_fetchsrclibs.py
  fdroidserver/build.py
  fdroidserver/metadata.py
  tests/index.TestCase
Due: fdroid build, plugin_fetchsrclibs

update: take build subdir into account when looking for triple-t data
  fdroidserver/update.py
Due: none

Support versionCode and versionName in brackets
  MANIFEST.in
  fdroidserver/common.py
  tests/common.TestCase
  tests/source-files/dev.patrickgold.florisboard/app/build.gradle.kts
Due: fdroid build

code formatting: black --skip-string-normalization --line-length 100
  fdroidserver/btlog.py
  fdroidserver/exception.py
  fdroidserver/gpgsign.py
  fdroidserver/signindex.py
  fdroidserver/tail.py
Due: fdroid build

publish: always use apksigner to sign APKs, closes #880
  fdroidserver/common.py
Due: fdroid build

update: do not die when androguard files to extract icon
  fdroidserver/update.py
Due: none

switch to preferring apksigner, requiring for `fdroid publish`
  fdroidserver/common.py
  fdroidserver/init.py
  tests/build.TestCase
  tests/common.TestCase
  tests/init.TestCase
  tests/run-tests
  tests/update.TestCase
Due: fdroid build

add apksigner, jarsigner, and keytool to relevant status JSON
  fdroidserver/publish.py
  fdroidserver/update.py
  tests/publish.TestCase
  tests/update.TestCase
Due: none

run-tests: remove broken test that never ran due to a syntax error
  .gitlab-ci.yml
  tests/run-tests
Due: fdroid build, plugin_fetchsrclibs

purge complete-ci-tests, those are better covered in .gitlab-ci.yml
  .gitlab-ci.yml
  MANIFEST.in
  README.md
  tests/complete-ci-tests
Due: fdroid build, plugin_fetchsrclibs

jenkins-test: remove checkupdates; jenkins admins need short jobs
  jenkins-test
Due: none

jenkins-build-all: force-limit `fdroid build` to 6 hours
  jenkins-build-all
Due: none

include /etc/issue.net in status JSON to identify the base system
  fdroidserver/common.py
Due: fdroid build

verify: include diffoscope setup info in output JSON
  fdroidserver/verify.py
Due: none

buildserver: SharedFoldersEnableSymlinksCreate: false
  buildserver/Vagrantfile
Due: none

add complete tests for finding apksigner; fix minor detection bug
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

jenkins-build-all: use $WORKSPACE var to find correct file to modify
  jenkins-build-all
Due: none

skip test_find_apksigner_system_package_android_home if no apksigner
  tests/common.TestCase
Due: none

gitlab-ci: modernize ubuntu_lts_ppa job using updates to PPA
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Fix common.config is None in fetchlibs
  examples/fdroid_fetchsrclibs.py
Due: plugin_fetchsrclibs

Add a mypy run to the pipeline
  .gitlab-ci.yml
  fdroidserver/common.py
  fdroidserver/scanner.py
  mypy.ini
Due: fdroid build, plugin_fetchsrclibs

gitlab-ci: rm HTML index gen test from job, fails on stretch
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

gitlab-ci: fix broken download link for fdroiddata tarball
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Excluded disabled metadata in failedBuilds
  fdroidserver/update.py
Due: none

Create log file for VCSException
  fdroidserver/build.py
Due: fdroid build

Upgrade NDK r22 to r22b
  buildserver/config.buildserver.yml
  buildserver/provision-android-ndk
  examples/config.yml
  makebuildserver
Due: none

Use tag if known
  fdroidserver/checkupdates.py
Due: none

check for invalid appids passed to commands
  fdroidserver/common.py
  fdroidserver/install.py
  fdroidserver/metadata.py
  fdroidserver/publish.py
  fdroidserver/verify.py
Due: fdroid build

read_pkg_args(): allow appid_vercode.apk in addition to appid:vercode
  fdroidserver/common.py
Due: fdroid build

common: add test case for read_pkg_args()
  tests/common.TestCase
Due: none

gradle v7.0
  gradlew-fdroid
  makebuildserver
Due: none

Path conditions:
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
