Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - export TEST_IMAGE=$CI_REGISTRY_IMAGE:$(printf $CI_COMMIT_REF_NAME | sed 's,[^a-zA-Z0-9_.-],_,g')
  - cd buildserver
  ...

Translated using Weblate: English (United Kingdom) (en_GB) by "DB L." <deblm@tutamail.com>
  locale/en_GB/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  locale/es/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Norwegian Bokmål (nb_NO) by Telaneo <post@telaneo.net>
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Spanish (es) by Swyter <swyterzone@gmail.com>
  locale/es/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  locale/ru/LC_MESSAGES/fdroidserver.po
Due: none

🖋️ more docs for build
  fdroidserver/common.py
Due: fdroid build

metadata: get_single_build() for new subcommands
  fdroidserver/common.py
  fdroidserver/metadata.py
  tests/test_metadata.py
Due: fdroid build

set up new mechanism for unlisted subcommands
  fdroidserver/__main__.py
  fdroidserver/common.py
Due: fdroid build, plugin_fetchsrclibs

specify virt_container_type via config and CLI options
  fdroidserver/common.py
  tests/test_common.py
Due: fdroid build

new subcommand "up" for `vagrant up` and `podman run
  .gitlab-ci.yml
  fdroidserver/__main__.py
  fdroidserver/common.py
  fdroidserver/up.py
  setup.py
  tests/shared_test_code.py
  tests/test_up.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

🥊 add vagrant support to exec subcommand
  fdroidserver/common.py
Due: fdroid build

new subcommand "exec": podman implementation
  fdroidserver/__main__.py
  fdroidserver/common.py
  fdroidserver/exec.py
  tests/test_exec.py
Due: fdroid build, plugin_fetchsrclibs

🪆 --as-root to run command inside of container/VM as root
  fdroidserver/common.py
  fdroidserver/exec.py
Due: fdroid build

new subcommand "destroy": podman implementation
  fdroidserver/__main__.py
  fdroidserver/common.py
  fdroidserver/destroy.py
  fdroidserver/up.py
  tests/test_up.py
Due: fdroid build, plugin_fetchsrclibs

new subcommand "push": podman/vagrant implementation
  fdroidserver/__main__.py
  fdroidserver/common.py
  fdroidserver/push.py
  tests/test_push.py
Due: fdroid build, plugin_fetchsrclibs

💂 implement vagrant push
  fdroidserver/common.py
  fdroidserver/push.py
Due: fdroid build

new subcommand "pull": podman/vagrant implementation
  fdroidserver/__main__.py
  fdroidserver/pull.py
  tests/test_pull.py
Due: plugin_fetchsrclibs

🐴 implement pull for vagrant
  fdroidserver/pull.py
Due: none

🪳 prevent push.py from fetching source code
  fdroidserver/push.py
Due: none

new subcommand "schedule_verify" to generate events for apps to verify
  fdroidserver/__main__.py
  fdroidserver/schedule_verify.py
  tests/test_schedule_verify.py
Due: plugin_fetchsrclibs

switch test_signatures.py to mkdtemp to fix mystery
  tests/test_signatures.py
Due: none

🧭 started splitting out build_local from build.py
  fdroidserver/__main__.py
  fdroidserver/build_local_run.py
  fdroidserver/prepare_source.py
Due: plugin_fetchsrclibs

🪗 get auto NDK installs working in vm builds
  fdroidserver/__main__.py
  fdroidserver/install_ndk.py
  tests/test_install_ndk.py
Due: plugin_fetchsrclibs

new subcommand: make_source_tarball
  fdroidserver/__main__.py
  fdroidserver/make_source_tarball.py
Due: plugin_fetchsrclibs

🖼 set cpus and memory from CLI options
  fdroidserver/up.py
Due: none

get_virt_memory_opt: support str values like "16GB"
  fdroidserver/up.py
  tests/test_up.py
Due: none

safety catch for --cpus so it isn't higher than actual CPUs
  fdroidserver/up.py
  tests/test_up.py
Due: none

🦹 add execute_sudo subcommand
  fdroidserver/__main__.py
  fdroidserver/execute_sudo.py
Due: plugin_fetchsrclibs

new subcommand pull_verify to only pull the binary package
  fdroidserver/__main__.py
  fdroidserver/pull_verify.py
Due: plugin_fetchsrclibs

💂 push: owner fix
  fdroidserver/push.py
  tests/test_push.py
Due: none

🌅 add fetch_repo subcommand (based on fetchsrclibs plugin)
  fdroidserver/__main__.py
  fdroidserver/fetch_repo.py
Due: plugin_fetchsrclibs

🥍 add fetch_srclibs subcommand
  fdroidserver/__main__.py
  fdroidserver/fetch_srclibs.py
Due: plugin_fetchsrclibs

set up config['ndk_paths'] on demand by reading source.properties
  MANIFEST.in
  fdroidserver/common.py
  fdroidserver/metadata.py
  tests/source-files/ndk/11.1.2683735/source.properties
  tests/source-files/ndk/29.0.14033849/source.properties
  tests/source-files/ndk/29.0.14206865/source.properties
  tests/test_common.py
  tests/test_metadata.py
Due: fdroid build

Update litecoin address regex
  fdroidserver/metadata.py
  tests/test_metadata.py
Due: fdroid build

Bump RELEASE_COMMIT_ID
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Update BTC & LTC regex for Taproot and stricter rules
  fdroidserver/metadata.py
  tests/test_metadata.py
Due: fdroid build

Remove /opt/gradle related code
  .gitlab-ci.yml
  MANIFEST.in
  buildserver/config.buildserver.yml
  buildserver/provision-gradle
  fdroidserver/build.py
  fdroidserver/build_local_run.py
  fdroidserver/common.py
  hooks/pre-commit
  makebuildserver
  pyproject.toml
  tests/gradle-release-checksums.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
