Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  locale/pt/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@seznam.cz>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Julien Maulny <julien.maulny@protonmail.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Romanian (ro) by Simona Iacob <s@zp1.net>
  locale/ro/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Yang Yulin <yylteam@hotmail.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Yang Yulin <yylteam@icloud.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by yangyangdaji <1504305527@qq.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by JY3 <GeeyunJY3@gmail.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Czech (cs) by Filip Klopec <filipklopec@gmail.com>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by translator <kvb@tuta.io>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by C. Rüdinger <Mail-an-CR@web.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by ssantos <ssantos@web.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by shenzhui007 <12231252@bjtu.edu.cn>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Italian (it) by Frankie McEyes <mceyes@protonmail.com>
  locale/it/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Eric <alchemillatruth@purelymail.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Spanish (es) by Jaime Marquínez Ferrándiz <weblate@jregistros.fastmail.net>
  locale/es/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by linsui <linsui@inbox.lv>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by booteille <booteille@protonmail.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by YangYulin <yylteam@icloud.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Traditional) (zh_Hant) by Hans-Christoph Steiner <hans@guardianproject.info>
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

gitlab-ci: paramiko from Debian to avoid crypto libs from source
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

disable new pylint/pep8 errors, this code is frozen
  hooks/pre-commit
Due: none

disable new pylint errors, this code is frozen
  .pylint-rcfile
  fdroidserver/build.py
  tests/androguard_test.py
  tests/extra/manual-vmtools-test.py
Due: fdroid build

version 2.1.1
  setup.py
Due: none

gitlab-ci: make push in "docker" job opt-in
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: stop tags/branches overwriting buildserver docker image
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

CI: Bump RELEASE_COMMIT_ID for new release
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

index: remove unused, confusing args to file_entry()
  fdroidserver/index.py
Due: none

update: fully isolate testInsertStoreMetadata test
  tests/update.TestCase
Due: none

buildserver: default to HTTPS for apt sources
  buildserver/Dockerfile
Due: docker

gitlab-ci: only display message if not running docker push
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Cleanup tests/dump_internal_metadata_format.py
  .gitlab-ci.yml
  tests/dump_internal_metadata_format.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

[lint] Check if checking for updates makes no sense
  fdroidserver/lint.py
Due: none

git.getref: use python-git
  fdroidserver/common.py
Due: fdroid build
