Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - export TEST_IMAGE=$CI_REGISTRY_IMAGE:$(printf $CI_COMMIT_REF_NAME | sed 's,[^a-zA-Z0-9_.-],_,g')
  - cd buildserver
  ...

Migrate integration tests from Bash to Python
  tests/run-tests
  tests/test_integration.py
Due: none

Fix androguard import for versions <4
  tests/test_integration.py
Due: none

Set configuration variables for tests that run Git
  tests/test_integration.py
Due: none

test_integration: stop trying to handle proxy errors
  tests/test_integration.py
Due: none

new helpers: get_output_extension() & get_release_apk_filename()
  fdroidserver/common.py
  tests/test_integration.py
Due: fdroid build

use shared test function to replicate .testfiles setup
  tests/shared_test_code.py
  tests/test_integration.py
Due: none

skip gpgsign test if gpg is not availabe on the PATH
  tests/test_integration.py
Due: none

Force C.UTF-8 locale for messages instead of en_US.UTF-8
  tests/test_integration.py
Due: none

skip test with mystery failure only on macOS
  tests/test_integration.py
Due: none

update: do not crash on {env: } in paths in config.yml
  fdroidserver/common.py
Due: fdroid build

checkupdates: remove auto_author: config, it is no longer used
  fdroidserver/checkupdates.py
Due: none

fix: "no new line character at the end of file"
  tests/test_lint.py
Due: none

lint: implement for config.yml
  fdroidserver/lint.py
  tests/test_lint.py
Due: none

gradle v8.13
  gradlew-fdroid
Due: gradlew-fdroid

purge config.py handling, it is no longer supported
  .gitignore
  .gitlab-ci.yml
  MANIFEST.in
  fdroidserver/common.py
  fdroidserver/init.py
  tests/config.py
  tests/config.yml
  tests/test_common.py
  tests/test_index.py
  tests/test_nightly.py
  tests/test_publish.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: add yamllint job
  .gitlab-ci.yml
  tests/build/info.guardianproject.urzip/.fdroid.yml
  tests/metadata/duplicate.permisssions.yml
  tests/metadata/info.guardianproject.urzip.yml
  tests/metadata/info.zwanenburg.caffeinetile.yml
  tests/metadata/org.videolan.vlc.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

use common var for 'config.yml', standarize on UTF-8
  fdroidserver/common.py
  fdroidserver/init.py
  fdroidserver/lint.py
  fdroidserver/nightly.py
  tests/test_build.py
  tests/test_common.py
  tests/test_index.py
  tests/test_init.py
  tests/test_integration.py
  tests/test_lint.py
  tests/test_nightly.py
  tests/test_publish.py
  tests/test_scanner.py
  tests/test_update.py
Due: fdroid build

load lint_licenses where it is needed to avoid circular imports
  fdroidserver/common.py
  fdroidserver/lint.py
Due: fdroid build

standardize config on ruamel.yaml with a YAML 1.2 config
  fdroidserver/_yaml.py
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/lint.py
  fdroidserver/metadata.py
  tests/metadata/dump/app.with.special.build.params.yaml
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
  tests/test_common.py
  tests/test_integration.py
  tests/test_lint.py
  tests/test_metadata.py
  tests/test_publish.py
Due: fdroid build

_yaml.config_dump() for writing out config
  fdroidserver/_yaml.py
  fdroidserver/common.py
  tests/test_common.py
  tests/test_lint.py
Due: fdroid build

done
  README.md
Due: none

🪐 fix pydoc link in hooks/pre-commit
  hooks/pre-commit
Due: none

function-local imports to limit deps for publish/signindex/gpgsign
  fdroidserver/index.py
Due: none

expand {env: foo} in any place a string can be
  fdroidserver/common.py
  tests/test_common.py
  tests/test_lint.py
Due: fdroid build

AbstractBaseTest class for sharing setUp and tearDown in tests
  tests/test_common.py
  tests/test_lint.py
Due: none

only show "unsafe perms on config.yml" when secrets are present
  fdroidserver/common.py
  tests/test_common.py
Due: fdroid build

clarify config data types and structures
  fdroidserver/common.py
  fdroidserver/lint.py
  fdroidserver/net.py
  tests/test_common.py
  tests/test_lint.py
Due: fdroid build

test_common: remove self.tmpdir and use standard self.testdir pat
  tests/test_common.py
Due: none

lint: missing valid config key: apk_signing_key_block_list
  fdroidserver/lint.py
Due: none

hide error messages in tests that are meant to fail
  tests/test_lint.py
Due: none

signatures: make `from . import net` optional
  fdroidserver/signatures.py
Due: none

gitlab-ci: "PUBLISH" job to test in the signing server's setup
  .gitlab-ci.yml
  tests/config.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

purge test exceptions for Python < 3.9, that's the min version
  tests/test_scanner.py
Due: none

skip tests that won't run on a given CPU architecture
  tests/test_build.py
  tests/test_common.py
  tests/test_install.py
  tests/test_integration.py
  tests/test_publish.py
  tests/test_scanner.py
  tests/test_signatures.py
  tests/test_update.py
  tests/test_verify.py
Due: none

pick-complete-translations.py: use new Weblate API
  locale/pick-complete-translations.py
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by LucasMZ <git@lucasmz.dev>
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  locale/ca/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
