Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - cd buildserver
  - docker build -t $TEST_IMAGE --build-arg GIT_REV_PARSE_HEAD=$(git rev-parse HEAD) .
  ...

gitlab-ci: delete buster_backports job, prod signing is on bullseye
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: port ubuntu_bionic_pip to Ubuntu/jammy
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

tests/run-tests: fix "fatal: transport 'file' not allowed"
  tests/run-tests
Due: none

makebuildserver: use HTTPS in default debian apt source
  makebuildserver
Due: docker

buildserver: let `vagrant package ` handle insecure private key
  buildserver/Vagrantfile
  buildserver/provision-vagrant-insecure-private-key
Due: docker

gradle v7.5.1
  gradlew-fdroid
Due: gradlew-fdroid

net.download_file(): retry on errors
  fdroidserver/net.py
  tests/net.TestCase
Due: fdroid build

Require Python 3.9
  .gitlab-ci.yml
  pyproject.toml
  setup.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Fix ipfs test config
  tests/common.TestCase
Due: none

Support 0 as versionCode
  fdroidserver/metadata.py
Due: fdroid build

buildserver: strip extraneous packages installed in Vagrant base box
  buildserver/provision-apt-get-install
Due: docker

buildserver: mark fdroidserver deps as manual
  buildserver/Dockerfile
  buildserver/provision-apt-get-install
Due: docker

change VercodeOperation to TYPE_LIST
  .gitlab-ci.yml
  fdroidserver/checkupdates.py
  fdroidserver/lint.py
  fdroidserver/metadata.py
  tests/lint.TestCase
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
  tests/metadata/org.videolan.vlc.yml
  tests/update.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

use default.txt as fallback changelog when inserting fastlane metadata
  fdroidserver/update.py
Due: none

add tests for Fastlane changelogs including default.txt
  fdroidserver/update.py
  tests/metadata/info.guardianproject.urzip/en-US/changelogs/default.txt
  tests/update.TestCase
Due: none

gradlew-fdroid: use curl --retry 3 --retry-all-errors
  gradlew-fdroid
Due: gradlew-fdroid

run black on tests/updates.TestCase to fix lint failure
  tests/update.TestCase
Due: none

set black to format to py38 to support Debian/bullseye package
  pyproject.toml
Due: none

fixup from 8b484b37bd51 in !1240
  MANIFEST.in
  tests/repo/index-v1.json
Due: none

handle default.txt changelog in fdroid metadata/
  fdroidserver/update.py
Due: none

gitlab-ci: simplify ubuntu_jammy_pip job, babel is not needed
  .gitlab-ci.yml
  .yamllint
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

btlog: include index-v2 files
  fdroidserver/btlog.py
Due: none

index: Anti-Features should always be a sorted set
  fdroidserver/index.py
Due: none

index: standardized AntiFeature variable names
  fdroidserver/index.py
Due: none

buildserver: clean up secondary libvirt box image after rebuild
  makebuildserver
Due: docker

Run shell scripts with -e (Closes: #1035)
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/metadata.py
  tests/common.TestCase
  tests/dump_internal_metadata_format.py
  tests/metadata.TestCase
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
Due: fdroid build

makebuildserver: purge apt_package_cache feature
  buildserver/Vagrantfile
  examples/makebuildserver.config.py
  jenkins-setup-build-environment
  makebuildserver
Due: docker

makebuildserver: move copy_caches_from_host to command line flag
  examples/makebuildserver.config.py
  jenkins-setup-build-environment
  makebuildserver
Due: docker

buildserver: hard code basebox name and version
  buildserver/Vagrantfile
  examples/makebuildserver.config.py
  makebuildserver
Due: docker

buildserver: move config to buildserver/Vagrantfile.yaml
  buildserver/Vagrantfile
  jenkins-setup-build-environment
  makebuildserver
Due: docker

convert examples/makebuildserver.config.py to Vagrantfile.yaml
  .gitlab-ci.yml
  MANIFEST.in
  buildserver/Vagrantfile
  examples/Vagrantfile.yaml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

buildserver: clean up dirs from purged packages
  buildserver/provision-apt-get-install
Due: docker

update AGP/Gradle map
  gradlew-fdroid
Due: gradlew-fdroid

8.0 Android Gradle Plugin is already listed
  gradlew-fdroid
Due: gradlew-fdroid

Disable man-db auto-update (as done by sbuild)
  buildserver/provision-apt-get-install
Due: docker

makebuildserver: stop trying to write to Vagrantfile.yaml
  makebuildserver
Due: docker

gitlab-ci: fix Windows job by installing Python 3.10, which has wheels
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Drop JDK 11 on checkupdates
  fdroidserver/checkupdates.py
Due: none

lint: UpdateCheckData regex must match integers
  fdroidserver/lint.py
Due: none

lint: AUM with UCM: HTTP must have a pattern
  fdroidserver/lint.py
Due: none

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
