Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - export TEST_IMAGE=$CI_REGISTRY_IMAGE:$(printf $CI_COMMIT_REF_NAME | sed 's,[^a-zA-Z0-9_.-],_,g')
  - cd buildserver
  ...

Translated using Weblate: Portuguese (Brazil) (pt_BR) by The Cats <philosoph@danwin1210.de>
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Romanian (ro) by Simona Iacob <s@zp1.net>
  locale/ro/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Persian (fa) by HM <goodlinuxuser@chmail.ir>
  locale/fa/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Italian (it) by Random <random-r@users.noreply.hosted.weblate.org>
  locale/it/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Turkish (tr) by Bai <batuhanakkurt000@gmail.com>
  locale/tr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Xiang Heng Wei <yylteam@hotmail.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  locale/he/LC_MESSAGES/fdroidserver.po
Due: none

locale/ro: Fix template string
  locale/ro/LC_MESSAGES/fdroidserver.po
Due: none

Ignore encoding errors in logs
  fdroidserver/build.py
Due: fdroid build

Gradle 8.4
  gradlew-fdroid
Due: gradlew-fdroid

gradle v8.4
  gradlew-fdroid
Due: gradlew-fdroid

safety: ignore CVEs patched in Debian
  .safety-policy.yml
Due: none

Fix typo in build.py
  fdroidserver/build.py
Due: fdroid build

[checkupdates] Add more docstrings
  fdroidserver/checkupdates.py
Due: none

[docs] Enable intersphinx
  docs/source/conf.py
Due: none

[docs] Put type annotations in type hints instead of docstring
  fdroidserver/checkupdates.py
Due: none

[docs] Start utilising intersphinx
  fdroidserver/checkupdates.py
Due: none

[docs] Remove unnecessary use of Union
  fdroidserver/checkupdates.py
Due: none

Clone without blobs to save space
  fdroidserver/common.py
Due: fdroid build

allow gradle/sdkmanager to install extras;android;m2repository
  buildserver/provision-android-sdk
Due: docker

deinit git submodule
  fdroidserver/common.py
  tests/build.TestCase
  tests/common.TestCase
Due: fdroid build

buildserver: Add python3-packaging dependency
  buildserver/provision-apt-get-install
Due: docker

fetch_srclib: fetch source code
  .gitlab-ci.yml
  examples/fdroid_fetchsrclibs.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Revert "Clone without blobs to save space" !1382
  fdroidserver/common.py
Due: fdroid build

[checkupdates] Remove --gplay option
  completion/bash-completion
  fdroidserver/checkupdates.py
Due: none

[checkupdates] Remove UpdateCheckMode "RepoTrunk"
  fdroidserver/checkupdates.py
  fdroidserver/metadata.py
Due: fdroid build

set ruamel.yaml version to older than 1.17.22
  setup.py
Due: none

remove jq dependency in the tests, port to GNU sed
  .gitlab-ci.yml
  tests/run-tests
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

add --force to git deinit
  fdroidserver/common.py
Due: fdroid build

🩹 fix bandit warning
  .safety-policy.yml
Due: none

gradle v8.5
  gradlew-fdroid
Due: gradlew-fdroid

lint: remove check_bulletes_lists
  fdroidserver/lint.py
Due: none

Support `Uri.create()` syntax for maven repositories
  fdroidserver/scanner.py
Due: fdroid build

establish config/mirrors.yml as a way to set up mirrors
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/index.py
  tests/index.TestCase
Due: fdroid build

index: add datatype checking to mirrors: and config/mirrors.yml
  fdroidserver/index.py
Due: none

Add support for Python 3.12
  fdroidserver/common.py
  setup.py
  tests/common.TestCase
  tests/gradle-release-checksums.py
  tests/update.TestCase
Due: fdroid build

download looseversion to vendor
  .gitlab-ci.yml
  fdroidserver/looseversion.py
  hooks/pre-commit
  pyproject.toml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
