Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - export TEST_IMAGE=$CI_REGISTRY_IMAGE:$(printf $CI_COMMIT_REF_NAME | sed 's,[^a-zA-Z0-9_.-],_,g')
  - cd buildserver
  ...

Translated using Weblate: Japanese (ja) by Suguru Hirahara <shirahara@users.noreply.hosted.weblate.org>
  locale/ja/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Wang <wang@plasma.ac.cn>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Irish (ga) by Aindriú Mac Giolla Eoin <aindriu80@gmail.com>
  locale/ga/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Peter Dave Hello <hsu@peterdavehello.org>
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  locale/ru/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by Lily Chou <lily-develop@outlook.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  locale/pt/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (Portugal) (pt_PT) by Fat Potato <mjwany48@gmail.com>
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by Eryk Michalak <gnu.ewm@protonmail.com>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

enable new languages: Irish (ga) and Japanese (ja)
  MANIFEST.in
Due: none

Reword extra blocks
  fdroidserver/scanner.py
Due: fdroid build

install: verify sig for all downloaded APKs if apksigner is installed
  fdroidserver/install.py
Due: none

install: echo characters that the user inputs at the prompt
  fdroidserver/install.py
Due: none

install: download any app from f-droid.org
  fdroidserver/install.py
Due: none

net: ignore proxy env vars, tests only use localhost
  tests/net.TestCase
Due: none

net: use localhost instead of IP for both sides of test setup
  tests/net.TestCase
Due: none

net: skip test in CI that mysteriously fails there
  .gitlab-ci.yml
  tests/net.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

include net.TestCase in dist tarball
  MANIFEST.in
Due: none

gradle v8.11
  gradlew-fdroid
Due: gradlew-fdroid

Fix warning from "chown" about the syntax
  buildserver/provision-disable-analytics
  buildserver/provision-gradle
Due: docker

Vagrantfile: fix undefined method `exists?' error
  buildserver/Vagrantfile
Due: docker

Remove "hg purge" after "hg update"
  fdroidserver/common.py
Due: fdroid build

Remove ignored files on gotorevisionx for hg
  fdroidserver/common.py
Due: fdroid build

add ColorFormatter class for optional colorized log output
  completion/bash-completion
  fdroidserver/common.py
  fdroidserver/init.py
  fdroidserver/install.py
  fdroidserver/mirror.py
  fdroidserver/signatures.py
Due: fdroid build

black formatting
  fdroidserver/common.py
Due: fdroid build

update: fix _strip_and_copy_image to work with pathlib
  fdroidserver/update.py
Due: none

rename to test_gradlew-fdroid to match Python unittest naming
  .gitlab-ci.yml
  MANIFEST.in
  tests/test_gradlew-fdroid
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Refactor TestCase files into python modules
  .gitlab-ci.yml
  MANIFEST.in
  README.md
  hooks/pre-commit
  pyproject.toml
  tests/__init__.py
  tests/init.TestCase
  tests/run-tests
  tests/test_api.py
  tests/test_build.py
  tests/test_checkupdates.py
  tests/test_common.py
  tests/test_deploy.py
  tests/test_exception.py
  tests/test_github.py
  tests/test_gpgsign.py
  tests/test_import_subcommand.py
  tests/test_index.py
  tests/test_init.py
  tests/test_install.py
  tests/test_lint.py
  tests/test_main.py
  tests/test_metadata.py
  tests/test_net.py
  tests/test_nightly.py
  tests/test_publish.py
  tests/test_rewritemeta.py
  tests/test_scanner.py
  tests/test_signatures.py
  tests/test_signindex.py
  tests/test_update.py
  tests/test_vcs.py
  tests/test_verify.py
  tests/testcommon.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

tests: standardize on VerboseFalseOptions as mock
  tests/test_deploy.py
  tests/test_import_subcommand.py
  tests/test_publish.py
  tests/test_vcs.py
  tests/testcommon.py
Due: none

scanner: disallow wasm file
  fdroidserver/scanner.py
Due: fdroid build

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
