Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

test_deploy_to_s3_with_rclone:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - apt-get update
  - apt-get install -y androguard apksigner curl docker.io git python3-venv rclone
  - docker info
  - python3 -m venv --system-site-packages test-venv
  - . test-venv/bin/activate
  ...

bandit:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

pylint:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

shellcheck:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

safety:
  variables:
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

yamllint:
  variables:
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

gradle:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

PUBLISH:
  image: debian:bookworm-backports
  script:
  - apt-get update
  - apt-get -qy upgrade
  ...

link gradlew-fdroid to gradle
  buildserver/provision-gradle
Due: fdroid build, docker

change debian instance to use debian:trixie-slim
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

lint: master or main is actually preferred in URLs over HEAD
  fdroidserver/lint.py
  tests/test_lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint; fix double execution of tests
  tests/test_lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: check git/srclib Repo URLs for proper format
  fdroidserver/lint.py
  tests/test_lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: remove "Invalid bulleted list", there is no list syntax
  fdroidserver/lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: leave leading/trailing space enforcement to yamllint
  fdroidserver/lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: port to common.config, remove local config var
  fdroidserver/lint.py
  tests/test_lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: isolate "options" var to only main() and lint_metadata()
  fdroidserver/lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: mediawiki-style links are no longer supported
  fdroidserver/lint.py
Due: bandit, pylint, Build documentation, PUBLISH

log actual commit ID from git Repo: and srclibs:
  fdroidserver/common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

checkupdates: fix pylint invalid-name use-dict-literal no-else-return/raise
  fdroidserver/checkupdates.py
  tests/test_checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

checkupdates: remove status JSON, it is no longer used
  fdroidserver/checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

checkupdates does not need common.config
  fdroidserver/checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

checkupdates: standardize on "from fdroidserver import X"
  tests/test_checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

rm config.buildserver.yml, ANDROID_HOME set in /etc/profile.d/bsenv.sh
  MANIFEST.in
  buildserver/config.buildserver.yml
  fdroidserver/build.py
  setup.py
  tests/test_common.py
Due: bandit, pylint, safety, fdroid build, Build documentation, docker, PUBLISH

remove internal CACHEDIR env var, it was only used for gradle
  fdroidserver/build.py
  fdroidserver/build_local_run.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

buildserver: remove /opt/gradle/bin from PATH, it is no more
  buildserver/setup-env-vars
Due: fdroid build, docker

buildserver: set fs.inotify.max_user_watches globally
  buildserver/Vagrantfile
Due: fdroid build, docker

schedule_verify: do not schedule if no Repo: is provided
  fdroidserver/metadata.py
  fdroidserver/schedule_verify.py
  tests/test_metadata.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

rewritemeta: support read from stdin
  fdroidserver/metadata.py
  fdroidserver/rewritemeta.py
  tests/test_metadata.py
  tests/test_rewritemeta.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

purge remove_debuggable_flags(), upstreams should handle this
  fdroidserver/common.py
  tests/source-files/fdroid/fdroidclient/AndroidManifest.xml
  tests/test_common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

🚗 streamline execute_sudo
  fdroidserver/execute_sudo.py
Due: bandit, pylint, Build documentation, PUBLISH

🧹 cleanup get_virt_container_type() fail with exception instead exiting
  fdroidserver/common.py
  tests/test_common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

🏗️ subcommands scheduling and sending buildcycles
  fdroidserver/__main__.py
  fdroidserver/schedule_buildcycle.py
  fdroidserver/send_buildcycle.py
Due: bandit, pylint, plugin_fetchsrclibs, Build documentation, PUBLISH

🎼 silence bandit
  fdroidserver/schedule_buildcycle.py
  fdroidserver/send_buildcycle.py
Due: bandit, pylint, Build documentation, PUBLISH

Apply 1 suggestion(s) to 1 file(s)
  fdroidserver/__main__.py
Due: bandit, pylint, plugin_fetchsrclibs, Build documentation, PUBLISH

lint: fix false positives on URL shorteners
  fdroidserver/lint.py
  tests/test_lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: require https:// and no shorteners in Donate: links
  fdroidserver/lint.py
  tests/test_lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: require Binaries:/binary: use https:// and no URL shorteners
  fdroidserver/lint.py
  tests/test_lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: if Binaries:/binary: then enforce reproducible srclib refs
  fdroidserver/lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: use PEP8 upper case names for global vars
  fdroidserver/lint.py
  tests/test_lint.py
Due: bandit, pylint, Build documentation, PUBLISH

lint: update list of URL shorteners
  fdroidserver/lint.py
  tests/test_lint.py
Due: bandit, pylint, Build documentation, PUBLISH

scanner: check binaries for debuggable/testOnly
  fdroidserver/scanner.py
  tests/test_scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

makebuildserver: Be more verbose with actions/stages
  makebuildserver
Due: bandit, pylint, gradle, fdroid build, Build documentation, docker, PUBLISH

🛡️ add pip-audit to gitlab ci
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

scanner: remove file without read permission
  fdroidserver/scanner.py
  tests/test_scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

scanner: flag suspicious permissions also when running as root
  fdroidserver/scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

net.download_file() only uses https:// by default
  fdroidserver/net.py
  fdroidserver/signatures.py
  tests/test_net.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

Path conditions:
  test_deploy_to_s3_with_rclone: any of: .gitlab-ci.yml, fdroidserver/deploy.py, tests/test_deploy.py, tests/test_integration.py
  bandit: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  pylint: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  shellcheck: any of: .gitlab-ci.yml, hooks/install-hooks.sh, hooks/pre-commit, tests/run-tests
  safety: any of: .gitlab-ci.yml, .safety-policy.yml, pyproject.toml, setup.py
  yamllint: any of: .gitlab-ci.yml, .safety-policy.yml, .yamllint, tests/*.yml, tests/*/*.yml, tests/*/*/.*.yml
  gradle: any of: .gitlab-ci.yml, makebuildserver
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py, makebuildserver, buildserver/*
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  Build documentation: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
  PUBLISH: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  podman system service: any of: .gitlab-ci.yml, fdroidserver/up.py, tests/test_up.py
