Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fdroid build, plugin_fetchsrclibs

fdroid build:
  image: registry.gitlab.com/fdroid/ci-images-client
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - bash buildserver/provision-apt-get-install http://deb.debian.org/debian
  - apt-get dist-upgrade
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

Test index before signing
  fdroidserver/signindex.py
Due: none

signindex: added simple test case
  .gitlab-ci.yml
  MANIFEST.in
  tests/signindex.TestCase
Due: fdroid build, plugin_fetchsrclibs

buildserver: remove old LTS NDK and only pre-install current LTS
  buildserver/Vagrantfile
  makebuildserver
Due: none

build: improve error message when NDK SHA-256 does not match
  fdroidserver/common.py
Due: fdroid build

mirror-to-mirror.sh: replace mirror.f-droid.org with ftp.agdsn.de
  examples/mirror-to-mirror.sh
Due: none

Simplify code
  fdroidserver/scanner.py
Due: fdroid build

Use latest build-tools version
  fdroidserver/common.py
Due: fdroid build

Log zip recursion limit
  fdroidserver/scanner.py
Due: fdroid build

Rework code
  fdroidserver/scanner.py
Due: fdroid build

Improve recursion warning, thx Hans!
  fdroidserver/scanner.py
Due: fdroid build

Add apk.embedded_1.apk test
  MANIFEST.in
  tests/apk.embedded_1.apk
  tests/scanner.TestCase
Due: none

[scanner] replace apkanalyzer by dexdump
  .gitlab-ci.yml
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build, plugin_fetchsrclibs

Fix variable name
  fdroidserver/scanner.py
Due: fdroid build

Handle BadZipFile
  fdroidserver/scanner.py
Due: fdroid build

Support nested apks
  fdroidserver/scanner.py
Due: fdroid build

Silence dexdump output in build --verbose
  fdroidserver/scanner.py
Due: fdroid build

gitlab-ci: fix debian_testing and ubuntu_lts_ppa jobs
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Update scanner.py
  fdroidserver/scanner.py
Due: fdroid build

scan gradle.kts
  fdroidserver/scanner.py
  tests/scanner.TestCase
  tests/source-files/com.github.shadowsocks/core/build.gradle.kts
  tests/source-files/com.github.shadowsocks/mobile/build.gradle.kts
Due: fdroid build

scanner: add kotlinx-coroutines-play-services
  fdroidserver/scanner.py
Due: fdroid build

fix tests
  tests/scanner.TestCase
Due: none

net: improve parsing filenames from URL
  fdroidserver/net.py
  tests/net.TestCase
Due: fdroid build

Merge androguard_test into update.TestCase
  tests/androguard_test.py
  tests/update.TestCase
Due: none

Fix androguard_test
  tests/androguard_test.py
Due: none

signindex: do not remove index-v1.json after signing
  fdroidserver/signindex.py
  tests/signindex.TestCase
Due: none

scanner: include dexdump in buildserver for APK analysis
  buildserver/provision-apt-get-install
Due: fdroid build

scanner: add me.pushy
  fdroidserver/scanner.py
Due: fdroid build

Index v2
  .gitlab-ci.yml
  fdroidserver/common.py
  fdroidserver/gpgsign.py
  fdroidserver/index.py
  fdroidserver/signindex.py
  fdroidserver/update.py
  tests/common.TestCase
  tests/gpgsign.TestCase
  tests/index.TestCase
  tests/signindex.TestCase
Due: fdroid build, plugin_fetchsrclibs

Don't include disabled apks in the index
  fdroidserver/update.py
  tests/update.TestCase
Due: none

gitlab-ci: run test suite in the buildserver environment
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

deploy: handle index-v2 files on two pass sync methods
  fdroidserver/deploy.py
Due: none

refactor comment into docstring for update_serverwebroot
  fdroidserver/deploy.py
Due: none

fix tests and docstring error
  fdroidserver/deploy.py
  tests/deploy.TestCase
Due: none

btlog: include index-v2.json entry.json and entry.jar
  fdroidserver/btlog.py
Due: none

btlog: run black to format code
  .gitlab-ci.yml
  fdroidserver/btlog.py
Due: fdroid build, plugin_fetchsrclibs

update: hide confusing androguard warning that is irrelevant here
  fdroidserver/common.py
Due: fdroid build

include index-v2 in signindex tests
  tests/signindex.TestCase
Due: none

Fix parsing of smartcardoptions config
  fdroidserver/common.py
Due: fdroid build

add test cases for parsing smartcardoptions config field
  tests/common.TestCase
Due: none

AGP 7.2.0 requires gradle 7.3.3
  gradlew-fdroid
Due: none

Path conditions:
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
