Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - export TEST_IMAGE=$CI_REGISTRY_IMAGE:$(printf $CI_COMMIT_REF_NAME | sed 's,[^a-zA-Z0-9_.-],_,g')
  - cd buildserver
  ...

gitlab-ci: gradle job needs python3-packaging now
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

add looseversion license information to vendored file
  fdroidserver/looseversion.py
Due: none

port to looseversion
  fdroidserver/common.py
  setup.py
  tests/common.TestCase
  tests/update.TestCase
Due: fdroid build

tests/run-tests: use $sed var for all calls that need GNU sed
  tests/run-tests
Due: none

gitlab-ci: add shellcheck to gradlew-fdroid checks
  .gitlab-ci.yml
  gradlew-fdroid
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: enable shellcheck on tests/run-tests
  .gitlab-ci.yml
  tests/run-tests
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: silence irrelevant bandit error
  fdroidserver/build.py
Due: fdroid build

androguard 4 came out, and has breaking changes
  setup.py
Due: none

gitlab-ci: add macOS job based on only Travis job
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

tests/run-tests: temp disable git mirror test on non-Linux
  tests/run-tests
Due: none

tests/run-tests: disable nightly.TestCase on non-Linux until its ported
  tests/run-tests
Due: none

all @ in srclib tag
  fdroidserver/common.py
Due: fdroid build

handle all cases of @ in srclibs
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

always parse srclib entries with parse_srclib_spec()
  fdroidserver/common.py
Due: fdroid build

lint: do yamllint install check once globally
  fdroidserver/lint.py
Due: none

lint: support linting config files
  fdroidserver/common.py
  fdroidserver/lint.py
  tests/common.TestCase
Due: fdroid build

lint: check syntax of countryCode: fields for mirrors
  .gitlab-ci.yml
  fdroidserver/lint.py
  tests/get-country-region-data.py
  tests/lint.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

switch to loading mirrors.yml with ruamel to get YAML 1.2 support
  fdroidserver/index.py
Due: none

"field will be in random order" only applies to config.py
  fdroidserver/common.py
Due: fdroid build

Use git rev-parse instead of describe
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

metadata_v0: use `git rev-parse` instead of `git describe`
  tests/dump_internal_metadata_format.py
Due: none

gitlab-ci: include pycountry in all master-only jobs
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: bump base commit in metadata_v0 job to get rev-parse fix
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Add Apple ipa support (Closes: #1067)
  fdroidserver/common.py
  fdroidserver/update.py
Due: fdroid build

Move version_string_to_int into separate function
  fdroidserver/update.py
Due: none

ipa: add Usage permissions
  fdroidserver/update.py
Due: none

Use CFBundleShortVersionString for version code
  fdroidserver/update.py
Due: none

Update with suggestions
  fdroidserver/common.py
  fdroidserver/update.py
Due: fdroid build

Make python3-biplist optional
  fdroidserver/update.py
Due: none

🛠️ update.py: finish minimal IPA support
  fdroidserver/update.py
Due: none

🧴 force android package names for IPAs for now
  fdroidserver/common.py
Due: fdroid build

🍲 add unit test for update.scan_repo_for_ipas
  fdroidserver/update.py
  tests/update.TestCase
Due: none

🥔 add strapped IPA file and test for parse_ipa
  fdroidserver/update.py
  tests/com.fake.IpaApp_1000000000001.ipa
  tests/update.TestCase
Due: none

🪨 version string conversion: error handling+tests
  fdroidserver/update.py
  tests/update.TestCase
Due: none

🥔 install biplist for ci tests
  .gitlab-ci.yml
  setup.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

⛰️ make ipa related test cases more robust
  MANIFEST.in
  tests/update.TestCase
Due: none

run black on new .ipa test cases
  tests/update.TestCase
Due: none

gitlab-ci: install biplist if available, otherwise skip test_parse_ipa
  .gitlab-ci.yml
  tests/update.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

config: test cases for serverwebroot: with string and list
  tests/common.TestCase
Due: none

config: convert serverwebroot: to list-of-dicts format
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/deploy.py
  tests/common.TestCase
  tests/deploy.TestCase
Due: fdroid build

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
