Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - cd buildserver
  - docker build -t $TEST_IMAGE --build-arg GIT_REV_PARSE_HEAD=$(git rev-parse HEAD) .
  ...

Apply 2 suggestion(s) to 1 file(s)
  gradlew-fdroid
Due: gradlew-fdroid

Android NDK None (None)
  fdroidserver/common.py
Due: fdroid build

[import] Fix crash when no Gradle subdir is found
  fdroidserver/import.py
Due: none

allow common.get_apk_id() to be used in the API
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

explicitly re-raising exceptions
  fdroidserver/apksigcopier.py
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/update.py
  fdroidserver/verify.py
  fdroidserver/vmtools.py
Due: fdroid build

Archive .idsig and .log.gz.asc files as well
  fdroidserver/update.py
Due: none

Pass --scan-binary to build server
  fdroidserver/build.py
Due: fdroid build

Make webBaseUrl configurable
  fdroidserver/index.py
Due: none

Simplify primary mirror logic
  fdroidserver/index.py
Due: none

Fix --nosign semantics
  fdroidserver/index.py
Due: none

index: add test for --nosign config and file generation
  tests/index.TestCase
Due: none

Archive _src.tar.gz.asc not .log.gz.asc
  fdroidserver/update.py
Due: none

use apksigner to sign index-v2 with modern, supported algorithms
  .gitlab-ci.yml
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/signindex.py
  tests/common.TestCase
  tests/signindex.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

run-tests: skip tests that require apksigner when running on Java8
  tests/run-tests
  tests/signindex.TestCase
  tests/update.TestCase
Due: none

gitlab-ci: port fedora job to fdroid/sdkmanager and Java 17
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

test_find_apksigner_system_package_android_home if build_tools is new enough
  tests/common.TestCase
Due: none

gitlab-ci: upgrade 'servergitmirrors' job to Debian/bullseye-backports
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

build: add test to ensure the flags are passed to the buildserver
  tests/build.TestCase
Due: none

Update preinstalled NDK to r23c
  buildserver/Vagrantfile
  makebuildserver
Due: docker

deploy: ensure progress is instantiated before trying to use it
  fdroidserver/deploy.py
Due: none

signindex: do not remove index-v1.json after signing
  fdroidserver/signindex.py
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

version 2.0.4
  setup.py
Due: none

NDK r25
  fdroidserver/common.py
Due: fdroid build

gitlab-ci: 'Safety' now needs git to run
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradle v7.5
  gradlew-fdroid
Due: gradlew-fdroid

Integrate Exodus (Closes: #566, #1008)
  fdroidserver/scanner.py
Due: fdroid build

Use binary scanner with fdroid scanner path/to.apk
  fdroidserver/scanner.py
Due: fdroid build

add tests for scanner.load_exodus_trackers_signatures
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

🔧 improve scanner.scan_apk tests
  tests/scanner.TestCase
Due: none

get tests working on ci
  tests/scanner.TestCase
Due: none

add missing "or" to scanner cli synopsis
  fdroidserver/scanner.py
Due: fdroid build

add .ropeproject/ to .gitignore
  .gitignore
Due: none

add test case for _exodus_compile_signatures
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

add some basic tests for scanner.main
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

scan_binary: Log matched class
  fdroidserver/scanner.py
Due: fdroid build

Reduce try/except block
  fdroidserver/common.py
Due: fdroid build

Catch DefusedXmlException (as ValueError)
  MANIFEST.in
  fdroidserver/common.py
  tests/common.TestCase
  tests/source-files/com.ubergeek42.WeechatAndroid/app/build.gradle.kts
  tests/source-files/com.ubergeek42.WeechatAndroid/app/src/main/res/values/strings.xml
Due: fdroid build

Fix flake8 E275 missing whitespace after keyword
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/metadata.py
  fdroidserver/update.py
  makebuildserver
  tests/update.TestCase
Due: fdroid build, docker

nightly: fix "deploy key URL" that is printed to log output
  fdroidserver/nightly.py
Due: none

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
