Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fdroid build, plugin_fetchsrclibs

fdroid build:
  image: registry.gitlab.com/fdroid/ci-images-client
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - bash buildserver/provision-apt-get-install http://deb.debian.org/debian
  - apt-get dist-upgrade
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

Translated using Weblate: Ukrainian (uk) by DankXylese <dankxylese@slapmywang.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

bash-completion: complete *.apk files for `fdroid signatures`
  completion/bash-completion
Due: none

index: make download_repo_index() handle common URL mistakes
  fdroidserver/index.py
  tests/index.TestCase
Due: none

do not crash when config.yml is 0 bytes or empty of data
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

gitlab-ci: use CVC for `fdroid build` job for more reliably runs
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

update CHANGELOG
  CHANGELOG.md
Due: none

version 2.1a0
  setup.py
Due: none

fix copy_triple_t_store_metadata() w/ multiple apps in same repo
  fdroidserver/update.py
Due: none

add test_insert_triple_t_multiple_metadata()
  MANIFEST.in
  tests/triple-t-multiple/.gitignore
  tests/triple-t-multiple/build/ch.admin.bag.covidcertificate.verifier/verifier/src/main/play/listings/en-US/title.txt
  tests/triple-t-multiple/build/ch.admin.bag.covidcertificate.verifier/wallet/src/main/play/listings/en-US/title.txt
  tests/triple-t-multiple/build/ch.admin.bag.covidcertificate.wallet/verifier/src/main/play/listings/en-US/title.txt
  tests/triple-t-multiple/build/ch.admin.bag.covidcertificate.wallet/wallet/src/main/play/listings/en-US/title.txt
  tests/triple-t-multiple/metadata/ch.admin.bag.covidcertificate.verifier.yml
  tests/triple-t-multiple/metadata/ch.admin.bag.covidcertificate.wallet.yml
  tests/update.TestCase
Due: none

gradle v7.1.1
  gradlew-fdroid
Due: none

Add new test case to manifest
  MANIFEST.in
Due: none

New com.jens.automation2 test case
  tests/scanner.TestCase
  tests/source-files/com.jens.automation2/app/build.gradle
Due: none

Add build-tools;31.0.0 and platforms;android-31
  makebuildserver
Due: none

Support multiple flavours in parse_androidmanifests
  MANIFEST.in
  fdroidserver/common.py
  tests/common.TestCase
  tests/source-files/de.varengold.activeTAN/build.gradle
Due: fdroid build

[checkupdates] Simplify logic in check_http
  fdroidserver/checkupdates.py
Due: none

[checkupdates] Don't catch exceptions
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
Due: none

[checkupdates] Move log messages into method
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
Due: none

[checkupdates] Exit 1 in case of errors
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
  tests/run-tests
Due: none

[checkupdates] Raise exception instead of returning an error
  fdroidserver/checkupdates.py
Due: none

[checkupdates] Don't fail for disabled apps
  fdroidserver/checkupdates.py
Due: none

[checkupdates] make no version information an error
  fdroidserver/checkupdates.py
Due: none

Fix CheckupdatesTest
  tests/checkupdates.TestCase
Due: none

fix copy_triple_t_store_metadata()
  fdroidserver/update.py
Due: none

update test_insert_triple_t_multiple_metadata() test data
  MANIFEST.in
  tests/triple-t-multiple/build/ch.admin.bag.covidcertificate.verifier/settings.gradle
  tests/triple-t-multiple/build/ch.admin.bag.covidcertificate.wallet/settings.gradle
Due: none

copy_triple_t_store_metadata(): also look in $subdir/*/src/*/play
  fdroidserver/update.py
Due: none

add test_insert_triple_t_anysoftkeyboard()
  MANIFEST.in
  tests/triple-t-anysoftkeyboard/.gitignore
  tests/triple-t-anysoftkeyboard/build/com.anysoftkeyboard.languagepack.dutch/addons/languages/dutch/apk/src/main/play/listings/en-US/title.txt
  tests/triple-t-anysoftkeyboard/build/com.anysoftkeyboard.languagepack.dutch/ime/app/src/main/play/listings/en-US/title.txt
  tests/triple-t-anysoftkeyboard/build/com.anysoftkeyboard.languagepack.dutch/settings.gradle
  tests/triple-t-anysoftkeyboard/build/com.menny.android.anysoftkeyboard/addons/languages/dutch/apk/src/main/play/listings/en-US/title.txt
  tests/triple-t-anysoftkeyboard/build/com.menny.android.anysoftkeyboard/ime/app/src/main/play/listings/en-US/title.txt
  tests/triple-t-anysoftkeyboard/build/com.menny.android.anysoftkeyboard/settings.gradle
  tests/triple-t-anysoftkeyboard/metadata/com.anysoftkeyboard.languagepack.dutch.yml
  tests/triple-t-anysoftkeyboard/metadata/com.menny.android.anysoftkeyboard.yml
  tests/update.TestCase
Due: none

metadata: remove unused fields and types
  fdroidserver/metadata.py
Due: fdroid build

update: AllowedAPKSigningKeys metadata to enforce APK signers
  .gitlab-ci.yml
  fdroidserver/metadata.py
  fdroidserver/update.py
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
  tests/update.TestCase
Due: fdroid build, plugin_fetchsrclibs

update: modernize options handling in tests
  tests/update.TestCase
Due: none

Don't fail fdroid update on empty repository
  fdroidserver/common.py
Due: fdroid build

import: fix error when using python3-git from stretch
  fdroidserver/import.py
Due: none

[checkupdates] Warn if no version in latest tag
  fdroidserver/checkupdates.py
Due: none

gradle v7.2
  gradlew-fdroid
Due: none

Android NDK None (None)
  fdroidserver/common.py
Due: fdroid build

Remove waring about no config file
  fdroidserver/common.py
Due: fdroid build

Update README.md
  README.md
Due: none

[makebuildserver] run dpkg with --force-confdef
  buildserver/provision-apt-get-install
Due: fdroid build

[buildserver] run update again after upgrade
  buildserver/provision-apt-get-install
Due: fdroid build

Deploy build error log in case of an exception
  fdroidserver/build.py
Due: fdroid build

Path conditions:
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
