Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - export TEST_IMAGE=$CI_REGISTRY_IMAGE:$(printf $CI_COMMIT_REF_NAME | sed 's,[^a-zA-Z0-9_.-],_,g')
  - cd buildserver
  ...

only copy icons into repo/ if they changed
  fdroidserver/common.py
  fdroidserver/update.py
  tests/test_common.py
Due: fdroid build

gitlab-ci: 'pages' needs 'Build documentation' but it has `changes:`
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradle 8.14.3
  gradlew-fdroid
Due: gradlew-fdroid

AGP 8.11 requires Gradle 8.13
  gradlew-fdroid
Due: gradlew-fdroid

gradle v8.14.3
  gradlew-fdroid
Due: gradlew-fdroid

gitlab-ci: update gradle: job to only check files in
  .gitlab-ci.yml
  tests/gradle-release-checksums.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

update: fetch Builds one time and reuse
  fdroidserver/update.py
Due: none

update: support fastlane/ dir in subdir:
  fdroidserver/update.py
  tests/test_update.py
Due: none

gitlab-ci: update PUBLISH to bookworm since prod has already
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

buildserver: always use HTTPS for apt connections in Docker image
  .gitlab-ci.yml
  buildserver/Dockerfile
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

make gradlew-fdroid a standalone project
  .gitlab-ci.yml
  buildserver/provision-gradle
  fdroidserver/build.py
  fdroidserver/common.py
  gradlew-fdroid
  hooks/pre-commit
  tests/gradle-release-checksums.py
  tests/test_gradlew-fdroid
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

scanner: report all errors
  fdroidserver/common.py
  fdroidserver/scanner.py
Due: fdroid build

update: more accurate fastlane subdir/flavor matching
  fdroidserver/update.py
  tests/test_update.py
Due: none

Remove UpstreamNonFree
  tests/config/antiFeatures.yml
  tests/config/de/antiFeatures.yml
  tests/config/fa/antiFeatures.yml
  tests/config/ro/antiFeatures.yml
  tests/config/zh-rCN/antiFeatures.yml
  tests/metadata-rewrite-yml/app.with.special.build.params.yml
  tests/metadata/app.with.special.build.params.yml
  tests/metadata/com.politedroid.yml
  tests/metadata/dump/app.with.special.build.params.yaml
  tests/metadata/dump/com.politedroid.yaml
  tests/repo/entry.json
  tests/repo/index-v1.json
  tests/repo/index-v2.json
  tests/repo/index.xml
  tests/test_common.py
  tests/test_lint.py
  tests/test_metadata.py
  tests/test_rewritemeta.py
  tests/test_update.py
Due: none

update: cache the SHA-256 of the src tarball
  fdroidserver/index.py
  fdroidserver/update.py
Due: none

update: don't crash if src tarball is not present
  fdroidserver/update.py
Due: none

Sonatype is now Maven Central
  fdroidserver/scanner.py
Due: fdroid build

convert fdroidserver/__init__.py to black format
  fdroidserver/__init__.py
  pyproject.toml
Due: none

update: Handle APKs without a version code in their manifest
  fdroidserver/exception.py
  fdroidserver/update.py
Due: fdroid build

scanner: remove tailing / from maven repo address
  fdroidserver/scanner.py
Due: fdroid build

standardize on versionCode as spelling
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
  fdroidserver/lint.py
  fdroidserver/update.py
Due: fdroid build

standardize on versionName as spelling
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
Due: fdroid build

Remove libcloud and s3cmd from fdroidserver
  .gitlab-ci.yml
  CHANGELOG.md
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/lint.py
  setup.py
  tests/test_deploy.py
  tests/test_integration.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

deploy: find rclone.conf in the root of the repo
  fdroidserver/deploy.py
  tests/test_deploy.py
Due: none

error if repo rclone.conf is not referenced in config.yml
  fdroidserver/deploy.py
Due: none

checkupdates: fix get_upstream_main_branch() for Debian/forky
  fdroidserver/checkupdates.py
Due: none

scanner: remove asLibraryDependency from catalog accessor
  fdroidserver/scanner.py
  tests/source-files/catalog.test/buildSrc/build.gradle.kts
  tests/source-files/catalog.test/gradle/libs.versions.toml
  tests/test_scanner.py
Due: fdroid build

scanner: fix catalog match
  MANIFEST.in
  fdroidserver/scanner.py
  tests/source-files/com.infomaniak.mail/Core/gradle/core.versions.toml
  tests/source-files/com.infomaniak.mail/gradle/libs.versions.toml
  tests/source-files/com.infomaniak.mail/settings.gradle
  tests/test_scanner.py
Due: fdroid build

Fix tests for replacing s3cmd and libcloud
  .gitlab-ci.yml
  tests/test_integration.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

deploy: wire up --checksum option to rclone functionality
  fdroidserver/deploy.py
Due: none

use example.com as default repo domain name, closes admin#300
  examples/config.yml
  fdroidserver/common.py
  tests/config.yml
  tests/repo/entry.json
  tests/repo/index-v1.json
  tests/repo/index-v2.json
  tests/repo/index.xml
  tests/test_common.py
  tests/test_index.py
Due: fdroid build

deploy: move remote repo to common test setup in TestServerGitMirrors
  tests/test_deploy.py
Due: none

nightly: GitLab URLs end in '.git' to avoid warning and redirects
  fdroidserver/nightly.py
  tests/test_nightly.py
Due: none

deploy: test case for !1666
  tests/test_deploy.py
Due: none

deploy: simplify asserts in servergitmirrors tests
  tests/test_deploy.py
Due: none

nightly: print error if env var is missing
  fdroidserver/nightly.py
Due: none

deploy: assert logs when error messges should be thrown
  tests/test_deploy.py
Due: none

import GitPython exceptions using public module to placate pylint
  fdroidserver/__main__.py
  fdroidserver/nightly.py
Due: plugin_fetchsrclibs

deploy: do not leak username/hostname from machine pushing repo
  fdroidserver/deploy.py
  tests/test_deploy.py
Due: none

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
