Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

Translated using Weblate: Czech (cs) by Fjuro <ifjuro@proton.me>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by nautilusx <translate@disroot.org>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by RainSlide <RainSlide@outlook.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by ZZY2357 <ZZY2357@outlook.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  locale/es/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Russian (ru) by Andrei Stepanov <adem4ik@gmail.com>
  locale/ru/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by 快乐的老鼠宝宝 <keaitianxinmail@qq.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Xiang Heng Wei <yylteam@hotmail.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Eric <hamburger1024@duck.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Italian (it) by random r <epsilin@yopmail.com>
  locale/it/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Italian (it) by Pixel-Tux <luis.pardus@gmail.com>
  locale/it/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Ukrainian (uk) by Dan <denqwerta@gmail.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

gitlab-ci: sanitize git ref names for use as docker tags
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

CI: fix permissions for git diff --cached
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

build: Rename chan to ssh_channel
  fdroidserver/build.py
Due: fdroid build

build: close ssh_channel upon timeout
  fdroidserver/build.py
Due: fdroid build

install_ndk: cleanup tempdir
  fdroidserver/common.py
Due: fdroid build

Don't create unused testfiles directory
  tests/checkupdates.TestCase
  tests/rewritemeta.TestCase
Due: none

update test: set update options
  tests/update.TestCase
Due: none

tests: use context manager and/or standard setup temp files
  tests/build.TestCase
  tests/common.TestCase
  tests/import_subcommand.TestCase
  tests/index.TestCase
  tests/init.TestCase
  tests/metadata.TestCase
  tests/nightly.TestCase
  tests/publish.TestCase
  tests/scanner.TestCase
  tests/testcommon.py
  tests/update.TestCase
  tests/vcs.TestCase
Due: none

common tests: use patch.dict for os.environ
  tests/common.TestCase
Due: none

run-tests: make mirror test independent of update test
  tests/run-tests
Due: none

nightly test: cleaup test directory
  tests/nightly.TestCase
Due: none

run-tests: make scanner test independent on importer test
  tests/run-tests
Due: none

run-tests: always cleanup testfiles
  tests/run-tests
Due: none

Skip nightly test on Fedora with pip in $HOME
  .gitlab-ci.yml
  tests/nightly.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Remove references to Travis CI
  .travis.yml
  README.md
Due: none

README: Remove CI/CD status section
  README.md
Due: none

makebuildserver: make sure config is a dict
  makebuildserver
Due: docker

Remove path workarounds for old python versions
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
  fdroidserver/metadata.py
  fdroidserver/rewritemeta.py
  tests/checkupdates.TestCase
  tests/common.TestCase
  tests/import_subcommand.TestCase
  tests/lint.TestCase
  tests/metadata.TestCase
  tests/rewritemeta.TestCase
Due: fdroid build

Fix pathlib usage
  fdroidserver/common.py
Due: fdroid build

gradle v8.0
  gradlew-fdroid
Due: gradlew-fdroid

Add postbuild
  .gitlab-ci.yml
  fdroidserver/build.py
  fdroidserver/metadata.py
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Add build.binary
  .gitlab-ci.yml
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/metadata.py
  fdroidserver/publish.py
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

build: support PosixPath in log message (Closes: #1096)
  fdroidserver/build.py
Due: fdroid build

common: support PosixPath in log message
  fdroidserver/common.py
Due: fdroid build

v2: move video to translated text (Closes: #1095)
  fdroidserver/index.py
Due: none

add test case for index.package_metadata()
  tests/index.TestCase
Due: none
