Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fdroid build, plugin_fetchsrclibs

fdroid build:
  image: registry.gitlab.com/fdroid/ci-images-client
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - bash buildserver/provision-apt-get-install http://deb.debian.org/debian
  - apt-get dist-upgrade
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

add html5print as test dependency
  setup.py
Due: none

Update SPDX License List
  fdroidserver/lint.py
Due: none

gitlab-ci: arch job needs to build python-cryptography
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Revert removing Licenses
  fdroidserver/lint.py
Due: none

update: handle large, corrupt, or inaccessible fastlane/triple-t files
  fdroidserver/update.py
  tests/update.TestCase
Due: none

Fix after https://gitlab.com/fdroid/fdroidserver/-/merge_requests/853
  buildserver/provision-apt-get-install
Due: fdroid build

pylint flags "_" as bad variable name, its the gettext function
  .pylint-rcfile
  fdroidserver/index.py
Due: none

code format cleanup
  fdroidserver/index.py
Due: none

Publish unsigned builds
  fdroidserver/deploy.py
  tests/run-tests
Due: none

Fix serverwebroot test
  tests/run-tests
Due: none

Add needsUpdate and noUpdateCheck to update.json
  fdroidserver/update.py
Due: none

gradle v6.8.3
  gradlew-fdroid
  makebuildserver
Due: none

build: set overall timeout to 72 hours
  fdroidserver/build.py
Due: fdroid build

fix "vritualbox" typo in BASEBOX_CHECKSUMS
  makebuildserver
Due: none

Run push_binary_transparency only once
  fdroidserver/deploy.py
Due: none

checkupdates: set User-Agent to make gitlab.com happy
  fdroidserver/checkupdates.py
Due: none

index: raise error rather than crash on bad repo file
  fdroidserver/update.py
  tests/index.TestCase
Due: none

update: stop extracting and storing XML icons, they're useless
  fdroidserver/update.py
  tests/repo/index-v1.json
  tests/repo/index.xml
  tests/update.TestCase
Due: none

gitlab-ci: use python3-cryptography to avoid building rust sources
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

index: rename vars to match the dict key 'signer'
  fdroidserver/index.py
Due: none

build: include all wiki data in the JSON status output
  fdroidserver/build.py
Due: fdroid build

update: reuse local_copy_dir to provide auto-copying with --nosign
  fdroidserver/index.py
Due: none

ignore repo/archive index HTML and related files in test repo
  .gitignore
Due: none

scanner: show error if scan_binary fails to run apkanalyzer
  fdroidserver/scanner.py
Due: fdroid build

common: properly parse version from NDK's source.properties
  MANIFEST.in
  fdroidserver/common.py
  tests/common.TestCase
  tests/get_android_tools_versions/android-ndk/android-ndk-r21d/source.properties
  tests/get_android_tools_versions/android-ndk/r11c/source.properties
  tests/get_android_tools_versions/android-ndk/r17c/source.properties
  tests/get_android_tools_versions/android-sdk/patcher/v4/source.properties
  tests/get_android_tools_versions/android-sdk/platforms/android-30/source.properties
  tests/get_android_tools_versions/android-sdk/skiaparser/1/source.properties
  tests/get_android_tools_versions/android-sdk/tools/source.properties
Due: fdroid build

metadata: stop setting up source repo when running lint/rewritemeta
  examples/fdroid_fetchsrclibs.py
  fdroidserver/build.py
  fdroidserver/metadata.py
Due: fdroid build, plugin_fetchsrclibs

version 2.0.1
  setup.py
Due: none

run-tests: fix local_copy_dir test, it broke when /tmp/fdroid existed
  tests/run-tests
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
