Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fdroid build, plugin_fetchsrclibs

fdroid build:
  image: registry.gitlab.com/fdroid/ci-images-client
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - bash buildserver/provision-apt-get-install http://deb.debian.org/debian
  - apt-get dist-upgrade
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

buildserver: fix ssh BatchMode config
  buildserver/setup-env-vars
Due: none

buildserver: standardize SDK install location /opt/android-sdk
  buildserver/Vagrantfile
  buildserver/config.buildserver.yml
Due: none

buildserver: use standardized paths for the NDKs
  buildserver/Vagrantfile
  buildserver/config.buildserver.yml
  buildserver/provision-android-ndk
  fdroidserver/common.py
Due: fdroid build

metadata: allow `ndk:` to be str or list of release or revision
  fdroidserver/common.py
  fdroidserver/metadata.py
  tests/common.TestCase
Due: fdroid build

auto-detect NDKs installed in standard paths
  buildserver/config.buildserver.yml
  examples/config.yml
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

only support zipballs in NDK provisioning
  buildserver/provision-android-ndk
  buildserver/provision-apt-get-install
  fdroidserver/common.py
  makebuildserver
  tests/common.TestCase
Due: fdroid build

make get_android_tools_versions() search ndk_paths from config
  fdroidserver/build.py
  fdroidserver/common.py
  tests/build.TestCase
Due: fdroid build

makebuilserver: only install most recent two releases
  makebuildserver
Due: none

provision-android-sdk: ensure ANDROID_HOME parent dir is accessible by all
  buildserver/provision-android-sdk
Due: none

build: missing NDK is now a warning not a critical error
  fdroidserver/build.py
Due: fdroid build

stop modifying default_config when running fill_config_defaults()
  fdroidserver/common.py
Due: fdroid build

ndk-release-checksums.py: fix crash, there is no version here
  tests/ndk-release-checksums.py
Due: none

add checksums for basebox 0.6.1
  makebuildserver
Due: none

Fix ruamel round_trip_dump will be removed
  fdroidserver/metadata.py
Due: fdroid build

Support AutoUpdateMode: Version without pattern
  fdroidserver/checkupdates.py
  fdroidserver/metadata.py
  tests/checkupdates.TestCase
Due: fdroid build

gitlab-ci: fix tests using updates from master
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

update CHANGELOG
  CHANGELOG.md
Due: none

version 2.0.2
  setup.py
Due: none

fix broken NDK extraction routine to correctly name resulting dir
  fdroidserver/common.py
Due: fdroid build

provision-android-ndk: do all configuration via args
  buildserver/Vagrantfile
  buildserver/provision-android-ndk
Due: none

Added missing linebreak
  README.md
Due: none

tests/ndk-release-checksums.py: fix parsing of NDK r10e
  hooks/pre-commit
  tests/ndk-release-checksums.py
Due: none

easy changes to black code format in test cases
  tests/build.TestCase
  tests/checkupdates.TestCase
  tests/common.TestCase
  tests/deploy.TestCase
  tests/exception.TestCase
  tests/import.TestCase
  tests/index.TestCase
  tests/init.TestCase
  tests/install.TestCase
  tests/lint.TestCase
  tests/main.TestCase
  tests/metadata.TestCase
  tests/publish.TestCase
  tests/rewritemeta.TestCase
  tests/scanner.TestCase
  tests/signatures.TestCase
  tests/update.TestCase
  tests/vcs.TestCase
Due: none

Support UpdateCheckData in check_tags
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
Due: none

Drop unused package id check
  fdroidserver/checkupdates.py
Due: none

Support hex in versionCode with UCM RepoManifest
  fdroidserver/checkupdates.py
Due: none

checkupdates.py: use pathlib and support Windows
  fdroidserver/__main__.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  tests/checkupdates.TestCase
Due: fdroid build, plugin_fetchsrclibs

fix tests for !935
  tests/checkupdates.TestCase
Due: none

[checkupdates] handle non matching regex
  fdroidserver/checkupdates.py
Due: none

[lint] only check for https with UpdateCheckMode HTTP
  fdroidserver/lint.py
Due: none

import.py: use pathlib and support Windows
  fdroidserver/common.py
  fdroidserver/import.py
  fdroidserver/metadata.py
  tests/common.TestCase
  tests/import.TestCase
  tests/import_proxy.py
Due: fdroid build

metadata.py/rewritemeta.py: use pathlib and support Windows
  fdroidserver/common.py
  fdroidserver/metadata.py
  fdroidserver/rewritemeta.py
  tests/build.TestCase
  tests/checkupdates.TestCase
  tests/import.TestCase
  tests/metadata.TestCase
  tests/rewritemeta.TestCase
Due: fdroid build

remove redundant call to Path()
  tests/build.TestCase
Due: none

lint.py: use pathlib and support Windows
  fdroidserver/common.py
  fdroidserver/lint.py
  tests/lint.TestCase
Due: fdroid build

[checkupdates] UpdateCheckData warn if file was not found
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
Due: none

gitlab-ci: fix whitespace
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

gitlab-ci: use mypy from Debian/bullseye to prevent random breakage
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

use .as_posix()
  fdroidserver/import.py
  fdroidserver/metadata.py
Due: fdroid build

Don't allow '_' in first place of version code
  fdroidserver/common.py
  tests/common.TestCase
  tests/source-files/com.kunzisoft.testcase/build.gradle
Due: fdroid build

Path conditions:
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
