Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

🎡 add unit tests for github.py
  fdroidserver/github.py
  tests/github.TestCase
  tests/testcommon.py
Due: none

🛄 deploy: separate function for release file lookup
  fdroidserver/deploy.py
Due: none

♟️ deploy: add global config `github_token`
  examples/config.yml
  fdroidserver/deploy.py
Due: none

☄️ deploy: github releases - whatsNew text as note
  examples/config.yml
  fdroidserver/deploy.py
  fdroidserver/github.py
  tests/github.TestCase
Due: none

🎯 deploy: no releaseChannels on github releases
  examples/config.yml
  fdroidserver/deploy.py
Due: none

🚥 deploy: tests for github releases deploy functions
  fdroidserver/deploy.py
  tests/deploy.TestCase
Due: none

🏏 incorporate review feedback
  examples/config.yml
  fdroidserver/deploy.py
  tests/deploy.TestCase
Due: none

🐐 appeace bandint security warnings
  fdroidserver/github.py
Due: none

💇 implement review nits
  examples/config.yml
  fdroidserver/deploy.py
  fdroidserver/github.py
  tests/deploy.TestCase
Due: none

deploy: complete index-only support for awsbucket:
  fdroidserver/deploy.py
Due: none

always use GitLab Pages, not Artifacts, with index-only mode
  fdroidserver/deploy.py
  fdroidserver/index.py
Due: none

Prune origin before fetch
  fdroidserver/common.py
Due: fdroid build

gradle 8.9
  gradlew-fdroid
Due: gradlew-fdroid

Replace unmaintained appdirs by platformdirs
  fdroidserver/common.py
  setup.py
Due: fdroid build

🐜 scanner: fix ScannerTool init crash
  fdroidserver/scanner.py
Due: fdroid build

Support UpdateCheckName in dirs_with_manifest
  fdroidserver/checkupdates.py
Due: none

Drop --reset-server
  completion/bash-completion
  fdroidserver/build.py
Due: fdroid build

gradle v8.10
  gradlew-fdroid
Due: gradlew-fdroid

fix(nightly): workaround for broken os.walk and more logging
  fdroidserver/nightly.py
Due: none

chore(nightly): improve log messages
  fdroidserver/nightly.py
Due: none

scanner: error on dependency files without lock file
  fdroidserver/scanner.py
  tests/scanner.TestCase
  tests/source-files/lockfile.test/Cargo.lock
  tests/source-files/lockfile.test/Cargo.toml
  tests/source-files/lockfile.test/package.json
  tests/source-files/lockfile.test/pubspec.yaml
  tests/source-files/lockfile.test/yarn.lock
Due: fdroid build

Add ruff rule
  pyproject.toml
Due: none

scanner.py: format
  fdroidserver/scanner.py
Due: fdroid build

black: fdroidserver/scanner.py now complies
  pyproject.toml
Due: none

scanner.py: skip format on hex literal
  fdroidserver/scanner.py
Due: fdroid build

Remove comment of google mave repo to workground a bug of ruff
  fdroidserver/scanner.py
Due: fdroid build

WIP safety: make CVE-2024-6345 just a warning
  .safety-policy.yml
Due: none

gitlab-ci: port to Safety 3.x and move to own job
  .gitlab-ci.yml
  .safety-policy.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

safety: make CVE-2024-5569 just a warning
  .safety-policy.yml
Due: none

scanner: fix npm lock file name
  fdroidserver/scanner.py
Due: fdroid build

scanner: fix test
  tests/scanner.TestCase
Due: none

scanner: support workspace for lock files
  fdroidserver/scanner.py
  tests/source-files/lockfile.test/flutter/.dart_tool/flutter_gen/pubspec.yaml
  tests/source-files/lockfile.test/flutter/pubspec.lock
  tests/source-files/lockfile.test/flutter/pubspec.yaml
  tests/source-files/lockfile.test/javascript/package.json
  tests/source-files/lockfile.test/javascript/yarn.lock
  tests/source-files/lockfile.test/rust/subdir/Cargo.lock
  tests/source-files/lockfile.test/rust/subdir/Cargo.toml
  tests/source-files/lockfile.test/rust/subdir/subdir/subdir/Cargo.toml
  tests/source-files/lockfile.test/rust/subdir2/Cargo.toml
Due: fdroid build

scanner: add test files into MANIFEST.in
  MANIFEST.in
Due: none

scanner: fix build_dir type
  fdroidserver/scanner.py
Due: fdroid build

lint.py: format
  fdroidserver/lint.py
Due: none

lint: check config keys
  fdroidserver/lint.py
  tests/lint.TestCase
Due: none

Correct traversing cibase
  fdroidserver/nightly.py
Due: none

safety: clarify reason to ignore CVE
  .safety-policy.yml
Due: none

gitlab-ci: only trigger safety job if API key is present
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

README: remove obsolete section on buildserver tests
  README.md
Due: none
