Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

Path conditions:
  test_deploy_to_s3_with_rclone: any of: .gitlab-ci.yml, fdroidserver/deploy.py, tests/test_deploy.py, tests/test_integration.py
  bandit: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  pylint: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  shellcheck: any of: .gitlab-ci.yml, hooks/install-hooks.sh, hooks/pre-commit, tests/run-tests
  safety: any of: .gitlab-ci.yml, .safety-policy.yml, pyproject.toml, setup.py
  yamllint: any of: .gitlab-ci.yml, .safety-policy.yml, .yamllint, tests/*.yml, tests/*/*.yml, tests/*/*/.*.yml
  gradle: any of: .gitlab-ci.yml, makebuildserver
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py, makebuildserver, buildserver/*
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  Build documentation: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
  PUBLISH: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  podman system service: any of: .gitlab-ci.yml, fdroidserver/up.py, tests/test_up.py

calculate_math_string: support Python 3.14 and newer
  fdroidserver/common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

deploy: "=" not allowed in configparser key in Python 3.14
  fdroidserver/deploy.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

calculate_math_string: isolate tests, they need no setUp
  tests/test_common.py
Due: bandit, pylint, Build documentation, PUBLISH

add Python 3.14 as supported
  setup.py
Due: bandit, pylint, safety, Build documentation, PUBLISH

skip rewritemeta tests if ruamel.yaml > 0.17.21 #1138
  tests/test_metadata.py
Due: bandit, pylint, Build documentation, PUBLISH

checkupdates: only run tests on GNU/Linux
  tests/test_checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

update CHANGELOG.md
  CHANGELOG.md
Due: none

version 2.4.3
  setup.py
Due: bandit, pylint, safety, Build documentation, PUBLISH

example Vagrantfile: Outdated defaults
  examples/Vagrantfile.yaml
Due: none

example Vagrantfile: Consistent with formatting
  examples/Vagrantfile.yaml
Due: none

example config: Consistent with lines
  examples/config.yml
Due: none

example config: Typos
  examples/config.yml
Due: none

gitlab-ci: add all YAML files to yamllint job
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

remove broken code block that treats text as a path
  fdroidserver/metadata.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

update.get_old_icon_filename() to document old naming scheme
  fdroidserver/update.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

convert common.py index.py metadata.py update.py to Black format
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/metadata.py
  fdroidserver/update.py
  pyproject.toml
Due: bandit, pylint, safety, fdroid build, Build documentation, PUBLISH

make --create-key string translatable
  fdroidserver/common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

index: refactor v2 json.dump calls into reusable function
  fdroidserver/index.py
Due: bandit, pylint, Build documentation, PUBLISH

convert to f-strings for cleaner code format
  fdroidserver/index.py
Due: bandit, pylint, Build documentation, PUBLISH

gitlab-ci: upgrade "black" job to Trixie for improved `fmt: skip`
  .gitlab-ci.yml
  tests/test_build.py
  tests/test_metadata.py
  tests/test_publish.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

ruff: add exclude list
  pyproject.toml
Due: safety

black: bump target version to py39
  pyproject.toml
  tests/test_build.py
  tests/test_checkupdates.py
  tests/test_deploy.py
  tests/test_github.py
  tests/test_import_subcommand.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, safety, Build documentation, PUBLISH

Don't require versionName
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
  fdroidserver/index.py
  fdroidserver/lint.py
  fdroidserver/scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

add tests for common.replace_build_vars()
  tests/test_common.py
Due: bandit, pylint, Build documentation, PUBLISH

*_icon was not checking correct path
  fdroidserver/index.py
  fdroidserver/update.py
Due: bandit, pylint, Build documentation, PUBLISH

fix: fix existing icon detection for repo and archive
  fdroidserver/index.py
  fdroidserver/lint.py
  fdroidserver/update.py
  tests/test_index.py
Due: bandit, pylint, Build documentation, PUBLISH

error if repo_icon is a path not just a filename
  fdroidserver/common.py
  fdroidserver/index.py
  tests/test_common.py
  tests/test_index.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

checkupdates: always try to use commit ID for `commit:` field
  fdroidserver/checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

checkupdates: name boolean var to avoid conflict with commit IDs
  fdroidserver/checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

checkupdates: run CurrentVersion replacement if %v in AutoUpdateMode
  fdroidserver/checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

checkupdates: error if %v in AutoUpdateMode but no CurrentVersion
  fdroidserver/checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

Fix wrong type: build.versionCode is int
  fdroidserver/scanner.py
  tests/test_scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

scanner: fix gradle command match
  fdroidserver/scanner.py
  tests/source-files/catalog.test/buildSrc/build.gradle.kts
  tests/test_scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

Revert "scanner: fix gradle command match"
  fdroidserver/scanner.py
  tests/source-files/catalog.test/buildSrc/build.gradle.kts
  tests/test_scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

scanner: match command with quote marks
  MANIFEST.in
  fdroidserver/scanner.py
  tests/source-files/flavor.test/build.gradle
  tests/source-files/flavor.test/build.gradle.kts
  tests/test_scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

checkupdate: enable squash
  fdroidserver/checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH
