Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - cd buildserver
  - docker build -t $TEST_IMAGE --build-arg GIT_REV_PARSE_HEAD=$(git rev-parse HEAD) .
  ...

make linting and formatting rules consistent
  hooks/pre-commit
  pyproject.toml
  setup.cfg
Due: none

build: check `AllowedAPKSigningKeys` in reproducible build scenario
  fdroidserver/build.py
  tests/build.TestCase
Due: fdroid build

lint: `binary` or `Binaries` requires `AllowedAPKSigningKeys`
  fdroidserver/lint.py
Due: none

keep old test case intact
  tests/build.TestCase
Due: none

add keep_when_not_allowed config/option
  fdroidserver/build.py
  fdroidserver/common.py
  tests/build.TestCase
Due: fdroid build

build: fix loading config files in tests
  tests/build.TestCase
Due: none

remove obsolete test case
  tests/run-tests
Due: none

gitlab-ci: CI_BUILD_* vars were renamed to other things
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

move load_locale() and file_entry() to be accessible by all modules
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/update.py
Due: fdroid build

common: load_localized_config() should make repo/ if not present
  fdroidserver/common.py
Due: fdroid build

index: fix requestsdict check order of operations
  fdroidserver/index.py
Due: none

deploy: ensure mirrors and binary transparency always create 'master'
  .gitlab-ci.yml
  fdroidserver/btlog.py
  fdroidserver/deploy.py
  tests/run-tests
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

rewritemeta: split into remove_blank_flags_from_builds()
  fdroidserver/rewritemeta.py
  tests/rewritemeta.TestCase
Due: none

load_localized_config() returns a dict in a stable order
  fdroidserver/common.py
Due: fdroid build

test load_localized_locale() and translated Anti-Features
  MANIFEST.in
  tests/common.TestCase
  tests/config/antiFeatures.yml
  tests/config/de/antiFeatures.yml
  tests/config/fa/antiFeatures.yml
  tests/config/ic_antifeature_ads.xml
  tests/config/ic_antifeature_disabledalgorithm.xml
  tests/config/ic_antifeature_knownvuln.xml
  tests/config/ic_antifeature_nonfreeadd.xml
  tests/config/ic_antifeature_nonfreeassets.xml
  tests/config/ic_antifeature_nonfreedep.xml
  tests/config/ic_antifeature_nonfreenet.xml
  tests/config/ic_antifeature_nosourcesince.xml
  tests/config/ic_antifeature_nsfw.xml
  tests/config/ic_antifeature_tracking.xml
  tests/config/ic_antifeature_upstreamnonfree.xml
  tests/config/ro/antiFeatures.yml
  tests/config/zh-rCN/antiFeatures.yml
  tests/repo/entry.json
  tests/repo/index-v2.json
  tests/run-tests
Due: none

lint: Anti-Features validator uses names from config
  fdroidserver/lint.py
  fdroidserver/metadata.py
  tests/lint.TestCase
  tests/metadata.TestCase
Due: fdroid build

index: rename app var to app_dict, its not an App instance
  fdroidserver/index.py
  fdroidserver/update.py
Due: none

metadata: test to check that metadata/*.yml overrides .fdroid.yml
  .gitignore
  tests/build/info.guardianproject.urzip/.fdroid.yml
  tests/metadata.TestCase
Due: none

test_parse_yaml_metadata_continue_on_warning checks logging calls
  tests/metadata.TestCase
Due: none

gitlab-ci: bump version to compare in metadata_v0 job
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

metadata: fix crash if .fdroid.yml but its not a git repo
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

use constant for default locale
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/update.py
Due: fdroid build

Create repo/icons without failure
  fdroidserver/common.py
Due: fdroid build

scanner: replace global dict by dataclass
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

gradlew-fdroid: use last duplicate key like java.util.Properties
  gradlew-fdroid
Due: gradlew-fdroid

update README to fix out of date things
  README.md
Due: none

update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat(scanner): Allow non-zero-exit code if problems were found
  fdroidserver/scanner.py
Due: fdroid build

metadata: handle TYPE_STRINGMAP when writing out YAML
  fdroidserver/metadata.py
  fdroidserver/rewritemeta.py
  tests/metadata-rewrite-yml/app.with.special.build.params.yml
  tests/metadata.TestCase
  tests/rewritemeta.TestCase
Due: fdroid build

define "string map" type for new Anti-Features explanations
  MANIFEST.in
  fdroidserver/index.py
  fdroidserver/lint.py
  fdroidserver/metadata.py
  fdroidserver/rewritemeta.py
  fdroidserver/scanner.py
  fdroidserver/update.py
  tests/metadata-rewrite-yml/app.with.special.build.params.yml
  tests/metadata.TestCase
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/metadata/app.with.special.build.params.yml
  tests/metadata/app.with.special.build.params/en-US/antifeatures/50_Ads.txt
  tests/metadata/app.with.special.build.params/en-US/antifeatures/50_Tracking.txt
  tests/metadata/app.with.special.build.params/en-US/antifeatures/Ads.txt
  tests/metadata/app.with.special.build.params/en-US/antifeatures/NoSourceSince.txt
  tests/metadata/app.with.special.build.params/zh-CN/antifeatures/49_Tracking.txt
  tests/metadata/app.with.special.build.params/zh-CN/antifeatures/50_Ads.txt
  tests/metadata/dump/app.with.special.build.params.yaml
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
  tests/repo/entry.json
  tests/repo/index-v2.json
  tests/rewritemeta.TestCase
  tests/update.TestCase
Due: fdroid build

metadata: break out write_yaml to standalone function and add unit tests
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: keep manually added NoSourceSince in AntiFeatures
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: check error messages are printed for more cases
  tests/metadata.TestCase
Due: none

error if a YAML Anti-Feature conflicts with a localized file
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: RequiresRoot is boolean, according to docs
  fdroidserver/metadata.py
  tests/update.TestCase
Due: fdroid build

metadata: simplify _app_to_yaml()
  fdroidserver/metadata.py
Due: fdroid build

use pathlib's read_text() to avoid confusin intended blocks
  fdroidserver/metadata.py
Due: fdroid build

test to check that the right Builds flag values get removed
  tests/rewritemeta.TestCase
Due: none

gitlab-ci: update metadata_v0 job for RequiresRoot: as TYPE_BOOL
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
