Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - cd buildserver
  - docker build -t $TEST_IMAGE --build-arg GIT_REV_PARSE_HEAD=$(git rev-parse HEAD) .
  ...

Use yaml.safe_*
  makebuildserver
Due: docker

Install required packages for fdroidserver automatically
  buildserver/provision-apt-get-install
Due: docker

Drop old java_paths
  buildserver/config.buildserver.yml
Due: docker

install Vagrant insecure_private_key into buildserver box
  buildserver/Vagrantfile
  buildserver/provision-vagrant-insecure-private-key
Due: docker

remove hack to disable GNOME.Accessibility for minimal deps
  buildserver/provision-apt-get-install
Due: docker

Stop adding i386 architecture to dpkg
  buildserver/provision-apt-get-install
Due: docker

Install patch and rsync (required by fdroidserver)
  buildserver/provision-apt-get-install
Due: docker

Stop installing ConstraintLayout
  buildserver/provision-android-sdk
Due: docker

Upgrade Buildserver VM
  .gitlab-ci.yml
  buildserver/Dockerfile
  buildserver/provision-apt-get-install
  fdroidserver/import_subcommand.py
  jenkins-build-all
  jenkins-test
  makebuildserver
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Drop obsolete apt-transport-https
  buildserver/provision-apt-get-install
Due: docker

gitlab-ci: fix reversed logic in docker push
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

buildserver: prevent fdroidserver deps from being purged in Docker
  buildserver/Dockerfile
Due: docker

remove MVN3
  fdroidserver/common.py
Due: fdroid build

gitlab-ci: install sdkmanager from bullseye-backports
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

buildserver: include apksigner for Binaries: verification
  buildserver/provision-apt-get-install
Due: docker

Pre-install git-svn and mercurial
  buildserver/provision-apt-get-install
Due: docker

buildserver: fix apksigner install
  buildserver/provision-apt-get-install
Due: docker

gitlab-ci: update alpine to supported version
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

update: only show missing ipfs_cid warning once.
  fdroidserver/common.py
Due: fdroid build

gradlew-fdroid: Gradle Android Plugin 7.3 needs Gradle 7.4
  gradlew-fdroid
Due: gradlew-fdroid

test that get_apk_id throws exceptions (issuebot#60)
  tests/common.TestCase
Due: none

version 2.2 alpha 0
  setup.py
Due: none

fix ipfs_cid detection logic
  fdroidserver/common.py
Due: fdroid build

Allow pow in VercodeOperation (Closes: #1021)
  fdroidserver/common.py
Due: fdroid build

Write build/running.json only on build
  .gitlab-ci.yml
  fdroidserver/build.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

remove transitional apt-transport-https package
  buildserver/Dockerfile
Due: docker

Dockerfile: apt-mark manual fdroidserver dependencies
  buildserver/Dockerfile
Due: docker

buildserver: stop installing 'android;m2repository' by default
  makebuildserver
Due: docker

add missing build-tools and platforms
  buildserver/provision-android-sdk
Due: docker

buildserver: install default SDK packages using fdroid/sdkmanager
  buildserver/Dockerfile
  buildserver/provision-android-sdk
  buildserver/provision-apt-get-install
  makebuildserver
Due: docker

stop installing ancient plaforms: 2.1 (7), 2.2 (8), 2.3 (9)
  makebuildserver
Due: docker

scanner: fix loading config.yml
  fdroidserver/common.py
Due: fdroid build

Sync status json after every build
  fdroidserver/build.py
Due: fdroid build

buildserver: show informative message if Vagrant is not configed
  buildserver/Vagrantfile
Due: docker

makebuildserver: use `vagrant package`; purge custom code
  fdroidserver/vmtools.py
  makebuildserver
Due: fdroid build, docker

make versionCode/build.timeout an integer
  .gitlab-ci.yml
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
  fdroidserver/index.py
  fdroidserver/lint.py
  fdroidserver/metadata.py
  fdroidserver/update.py
  tests/build.TestCase
  tests/checkupdates.TestCase
  tests/common.TestCase
  tests/import_subcommand.TestCase
  tests/index.TestCase
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
  tests/scanner.TestCase
  tests/update.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

fix typo: Build -> Builds
  fdroidserver/metadata.py
  tests/metadata.TestCase
  tests/update.TestCase
Due: fdroid build

checkupdates.TestCase: remove indentation
  tests/checkupdates.TestCase
Due: none

Change VercodeOperation to list
  fdroidserver/checkupdates.py
  fdroidserver/lint.py
  tests/checkupdates.TestCase
Due: none

gitlab-ci: fix apt.conf syntax for Acquire::Retries
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
