Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

test_deploy_to_s3_with_rclone:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - apt-get update
  - apt-get install -y androguard apksigner curl docker.io git python3-venv rclone
  - docker info
  - python3 -m venv --system-site-packages test-venv
  - . test-venv/bin/activate
  ...

bandit:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

pylint:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

shellcheck:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

safety:
  variables:
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

yamllint:
  variables:
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

gradle:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

PUBLISH:
  image: debian:bookworm-backports
  script:
  - apt-get update
  - apt-get -qy upgrade
  ...

Translated using Weblate: Polish (pl) by Kuba <weblate.undercut450@passmail.net>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Hungarian (hu) by Péter Reszegi <rpetya1704@gmail.com>
  locale/hu/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by full name <hosted-weblate.5w160@dralias.com>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by marzzzello <anmeldezeugs@top-email.net>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by Ceeee <marius.romanus@gmx.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Swedish (sv) by Kristoffer Grundström <swedishsailfishosuser@tutanota.com>
  locale/sv/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  locale/hu/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by Stevezxc <stevezxc@qq.com>
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Indonesian (id) by cyberboh <cybermay686@gmail.com>
  locale/id/LC_MESSAGES/fdroidserver.po
Due: none

remove errant translations from automation subcommands
  fdroidserver/schedule_buildcycle.py
  fdroidserver/send_buildcycle.py
Due: bandit, pylint, Build documentation, PUBLISH

split_pkg_arg: clean up error message strings
  fdroidserver/common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

rewritemeta: fix for metadata from stdin
  fdroidserver/rewritemeta.py
  tests/test_rewritemeta.py
Due: bandit, pylint, Build documentation, PUBLISH

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Mickaël Binos <mickaelbinos@outlook.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <gorpinicmaksim0@gmail.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Irish (ga) by Aindriú Mac Giolla Eoin <aindriu80@gmail.com>
  locale/ga/LC_MESSAGES/fdroidserver.po
Due: none

fix format strings
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Fix apk['antiFeatures']['DisabledAlgorithm']
  fdroidserver/update.py
Due: bandit, pylint, Build documentation, PUBLISH

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
Due: none

run locale/copy-antifeatures-translations-from-fdroidclient.py
  locale/cs/LC_MESSAGES/fdroidserver.po
  locale/de/LC_MESSAGES/fdroidserver.po
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/ga/LC_MESSAGES/fdroidserver.po
  locale/uk/LC_MESSAGES/fdroidserver.po
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

buildserver: update to trixie
  buildserver/Vagrantfile
  buildserver/provision-apt-get-install
  makebuildserver
Due: bandit, pylint, gradle, fdroid build, Build documentation, docker, PUBLISH

checkupdates: update blocklist to trixie
  fdroidserver/checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

CI: update to trixie
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

CI: update to nose2
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

fix E721 type-comparison
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/lint.py
  fdroidserver/metadata.py
  fdroidserver/update.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, fdroid build, Build documentation, PUBLISH

fix B105 hardcoded_password_string
  fdroidserver/nightly.py
  tests/test_deploy.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

fix C0207 use-maxsplit-arg
  fdroidserver/common.py
  fdroidserver/update.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

scanner: fix json_per_appid['disabled'] is None
  fdroidserver/scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

docker: update to trixie
  buildserver/Dockerfile
Due: fdroid build, docker

pylint: disable global-variable-not-assigned, global-statement, global-variable-undefined, too-many-positional-arguments and unspecified-encoding
  pyproject.toml
Due: safety

CI: fix pip install
  .gitlab-ci.yml
  fdroidserver/checkupdates.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

update ruamel.yaml version restriction
  setup.py
Due: bandit, pylint, safety, Build documentation, PUBLISH

lint: disable trailing-spaces in yamllint
  fdroidserver/common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

makebuildserver: switch to debian/trixie64 box
  buildserver/Vagrantfile
  makebuildserver
Due: bandit, pylint, gradle, fdroid build, Build documentation, docker, PUBLISH

CI: ignore existing directory
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

Path conditions:
  test_deploy_to_s3_with_rclone: any of: .gitlab-ci.yml, fdroidserver/deploy.py, tests/test_deploy.py, tests/test_integration.py
  bandit: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  pylint: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  shellcheck: any of: .gitlab-ci.yml, hooks/install-hooks.sh, hooks/pre-commit, tests/run-tests
  safety: any of: .gitlab-ci.yml, .safety-policy.yml, pyproject.toml, setup.py
  yamllint: any of: .gitlab-ci.yml, .safety-policy.yml, .yamllint, tests/*.yml, tests/*/*.yml, tests/*/*/.*.yml
  gradle: any of: .gitlab-ci.yml, makebuildserver
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py, makebuildserver, buildserver/*
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  Build documentation: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
  PUBLISH: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  podman system service: any of: .gitlab-ci.yml, fdroidserver/up.py, tests/test_up.py
