Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

👑 altstore index: add entitlement support
  fdroidserver/update.py
Due: none

🖼️ altstore index screenshots and icons
  fdroidserver/update.py
Due: none

🍎 altstore: implement ipa entitlement parser
  fdroidserver/update.py
Due: none

🛻 move alstore index function
  fdroidserver/index.py
  fdroidserver/update.py
Due: none

🗺️ add test for _get_ipa_ico
  tests/update.TestCase
Due: none

🏟️ add test for _parse_from_pbxproj
  fdroidserver/index.py
  fdroidserver/update.py
  tests/update.TestCase
Due: none

🩹 fix parse_ipa tests
  tests/update.TestCase
Due: none

🕴️ add test for make_altstore
  fdroidserver/index.py
  tests/index.TestCase
Due: none

🏟️ fix ci
  tests/deploy.TestCase
  tests/index.TestCase
Due: none

🏏 alt-store index: incorporate review feedback
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/update.py
  tests/index.TestCase
Due: fdroid build

index: manual black format
  fdroidserver/index.py
Due: none

deploy: automatically convert to black format
  fdroidserver/deploy.py
  pyproject.toml
Due: none

deploy: manually move hard cases to black code format
  fdroidserver/deploy.py
Due: none

🐛 index fix: skip altstore when no IPAs present
  fdroidserver/index.py
  tests/index.TestCase
Due: none

apply review suggestions
  fdroidserver/index.py
Due: none

include sdkmanager as dep in setup.py
  setup.py
Due: none

update CHANGELOG for 2.2.2
  CHANGELOG.md
Due: none

version 2.2.2
  setup.py
Due: none

add CHANGELOG entry for v2.2.2
  CHANGELOG.md
Due: none

replace deprecated get_element() which was removed in 4.x
  fdroidserver/update.py
  setup.py
Due: none

single function to tame androguard's verbose default output
  fdroidserver/common.py
  tests/build.TestCase
  tests/update.TestCase
Due: fdroid build

port to androguard >= 4 and drop support for older than 3.3.3
  fdroidserver/common.py
  fdroidserver/update.py
  setup.py
  tests/run-tests
  tests/update.TestCase
Due: fdroid build

common.get_androguard_APK() is no longer private to the module
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

some parts of androguard 4.x use loguru instead of logging
  fdroidserver/common.py
Due: fdroid build

update: handle ValueError from apkInspector in androguard 4.1
  fdroidserver/update.py
Due: none

mirror: apparently the 'icons' dir does not always exist
  fdroidserver/mirror.py
Due: none

deploy: retry when git push fails
  fdroidserver/deploy.py
Due: none

add additional tests
  tests/lint.TestCase
Due: none

simplify test setup
  tests/lint.TestCase
Due: none

lint: blocklist known AOSP debug keys in AASK
  fdroidserver/lint.py
  tests/lint.TestCase
Due: none

make it easy to keep test artifacts from jobs
  tests/nightly.TestCase
  tests/testcommon.py
Due: none

index: handle image processing diffs across various Python versions
  tests/index.TestCase
Due: none

gitlab-ci: stay on Fedora 39 until it is no longer supported
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

throw error if gradle build method is used but no build.gradle file is found
  fdroidserver/common.py
Due: fdroid build

get_first_signer_certificate: check all v1 v2 and v3 certs
  fdroidserver/common.py
Due: fdroid build

androguard is required, stop using use_androguard()
  fdroidserver/common.py
Due: fdroid build

PoC + writeup + patch
  fdroidserver/common.py
Due: fdroid build

replace decade old pyasn1 crypto impl with working asn1crypto
  fdroidserver/common.py
  setup.py
Due: fdroid build

reliable implementation of get_first_signer_certificate()
  fdroidserver/common.py
  setup.py
  tests/common.TestCase
  tests/index.TestCase
Due: fdroid build

skip AndroidManifest.xml and resources when fetching v2+ certs
  fdroidserver/common.py
Due: fdroid build
