Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fdroid build, plugin_fetchsrclibs

Path conditions:
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py

version 2.1b0
  setup.py
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  locale/sq/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by nautilusx <translate@disroot.org>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguzersen@protonmail.com>
  locale/tr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  locale/ru/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by marzzzello <anmeldezeugs@top-email.net>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Eric <alchemillatruth@purelymail.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Norwegian Bokmål (nb_NO) by Allan Nordhøy <epost@anotheragency.no>
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
Due: none

update required gradle versions for Android Gradle Plugin
  gradlew-fdroid
Due: none

nightly: fix "deploy key URL" that is printed to log output
  fdroidserver/nightly.py
Due: none

nightly: stop stripping APKs before signing, apksigner does it
  fdroidserver/nightly.py
  tests/common.TestCase
Due: none

locale: fix corrupt python formats
  locale/bo/LC_MESSAGES/fdroidserver.po
  locale/es/LC_MESSAGES/fdroidserver.po
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/hu/LC_MESSAGES/fdroidserver.po
  locale/it/LC_MESSAGES/fdroidserver.po
  locale/ko/LC_MESSAGES/fdroidserver.po
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
  locale/ro/LC_MESSAGES/fdroidserver.po
  locale/sq/LC_MESSAGES/fdroidserver.po
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

publish index-v1.json and include a gpg signature
  fdroidserver/deploy.py
  fdroidserver/gpgsign.py
  tests/deploy.TestCase
Due: none

list .po files in the manifest, not .mo !1014 #934
  locale/pick-complete-translations.py
Due: none

version 2.1
  setup.py
Due: none

Fix CI for users with uppercase letters in username
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Fix detection of binary files without extension
  fdroidserver/scanner.py
Due: fdroid build

Fix Gradle version for AGP
  gradlew-fdroid
Due: none

Add support for Triple-T metadata in Flutter projects
  fdroidserver/update.py
Due: none

Add test case for Triple-T metadata in a Flutter project
  MANIFEST.in
  tests/triple-t-flutter/build/fr.emersion.goguma/android/app/src/main/play/contact-website.txt
  tests/triple-t-flutter/build/fr.emersion.goguma/android/app/src/main/play/listings/en-US/full-description.txt
  tests/triple-t-flutter/build/fr.emersion.goguma/android/app/src/main/play/listings/en-US/short-description.txt
  tests/triple-t-flutter/build/fr.emersion.goguma/android/app/src/main/play/listings/en-US/title.txt
  tests/triple-t-flutter/metadata/fr.emersion.goguma.yml
  tests/update.TestCase
Due: none

[checkupdates] update submodules according to tag
  fdroidserver/checkupdates.py
  tests/run-tests
Due: none

Handle XML parser errors
  fdroidserver/common.py
Due: fdroid build

gradle v7.4.1
  gradlew-fdroid
Due: none

Add junrar to blocklist
  fdroidserver/scanner.py
Due: fdroid build

Add NDK24
  fdroidserver/common.py
Due: fdroid build

Fix pylint warnings
  fdroidserver/apksigcopier.py
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/exception.py
  fdroidserver/tail.py
  fdroidserver/update.py
Due: fdroid build

gradle v7.4.2
  gradlew-fdroid
Due: none

Consider namespace for applicationId
  fdroidserver/common.py
Due: fdroid build

Import - some fixes for flutter apps
  fdroidserver/import.py
Due: none

[checkupdates] move gradle var check to parser
  fdroidserver/checkupdates.py
  fdroidserver/common.py
Due: fdroid build

Use buildserver image from fdroidserver
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

gitlab-ci: fix sudo test in "fdroid build" job
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

gitlab-ci: tag docker buildserver image with "stretch"
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Add check for repo/archive_url
  examples/config.yml
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

[scanner] Deep copy json structs (Closes: #985)
  fdroidserver/scanner.py
Due: fdroid build

buildserver: disable flutter dev/build analytics globally
  buildserver/Vagrantfile
  buildserver/provision-disable-analytics
Due: none

[CI] Bump client build to fix CI failure
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Avoid zero-length prefixes in PATH
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build
