Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

test_deploy_to_s3_with_rclone:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - apt-get update
  - apt-get install -y androguard apksigner curl docker.io git python3-venv rclone
  - docker info
  - python3 -m venv --system-site-packages test-venv
  - . test-venv/bin/activate
  ...

bandit:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

pylint:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

shellcheck:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

safety:
  variables:
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

yamllint:
  variables:
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

gradle:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

PUBLISH:
  image: debian:bookworm-backports
  script:
  - apt-get update
  - apt-get -qy upgrade
  ...

fix gradle output path
  fdroidserver/build.py
  tests/test_build.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

remove NSFW Anti-Feature
  MANIFEST.in
  tests/config/antiFeatures.yml
  tests/config/de/antiFeatures.yml
  tests/config/fa/antiFeatures.yml
  tests/config/ic_antifeature_nsfw.xml
  tests/config/ro/antiFeatures.yml
  tests/config/zh-rCN/antiFeatures.yml
  tests/repo/entry.json
  tests/repo/index-v2.json
  tests/test_common.py
Due: bandit, pylint, yamllint, Build documentation, PUBLISH

fix all other cases of sys.exit() overflow
  fdroidserver/lint.py
  fdroidserver/update.py
  fdroidserver/verify.py
Due: bandit, pylint, Build documentation, PUBLISH

🐛 publish: fix exit status integer overflow
  fdroidserver/publish.py
Due: bandit, pylint, Build documentation, PUBLISH

gitlab-ci: manual install of 'progress' on macOS
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

gitlab-ci: remove packages included in fdroidserver PPA package
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

gitlab-ci: python3-progress is not yet Depends: in PPA
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

gitlab-ci: !1792 removed clint, stop manually installing on Fedora
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

gitlab-ci: remove packages from Debian/testing job that are Depends:
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

gitlab-ci: python3-progress is not yet Depends: in testing
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

Add category description to tests
  tests/config/categories.yml
  tests/repo/entry.json
  tests/repo/index-v2.json
Due: yamllint

Add localized category to tests
  tests/config/de/categories.yml
  tests/repo/entry.json
  tests/repo/index-v2.json
Due: none

Allow description for categories
  fdroidserver/lint.py
Due: bandit, pylint, Build documentation, PUBLISH

checkupdates: run deinit before checkout
  fdroidserver/checkupdates.py
Due: bandit, pylint, Build documentation, PUBLISH

build_local_run: run gradle tasks one by one
  fdroidserver/build_local_run.py
Due: bandit, pylint, Build documentation, PUBLISH

Disable algif in VM
  buildserver/setup-env-vars
Due: fdroid build, docker

buildserver: fix grub-pc install
  buildserver/provision-apt-get-install
Due: fdroid build, docker

Revert "Merge branch 'patch-2' into 'master'"
  buildserver/setup-env-vars
Due: fdroid build, docker

gitlab-ci: "pages" should not fail if "Build documentation" didn't run
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

stop accessing private variable in sdkmanager in tests
  tests/test_common.py
Due: bandit, pylint, Build documentation, PUBLISH

update CHANGELOG.md
  CHANGELOG.md
Due: none

version 2.4.4
  setup.py
Due: bandit, pylint, safety, Build documentation, PUBLISH

buildserver: make sure everything is upgraded
  buildserver/provision-apt-get-install
Due: fdroid build, docker

buildserver: rally make sure that all packages are upgraded
  buildserver/provision-apt-get-install
Due: fdroid build, docker

gitlab-ci: update ubuntu_lts_ppa job for 26.04 resolute
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

pick-complete-translations.py: only pick files from current locale
  locale/pick-complete-translations.py
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  locale/sq/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Spanish (Mexico) (es_MX) by Gerardo Hernandez <gerahrz789@gmail.com>
  locale/es_MX/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Albanian (sq) by Sergio Granadoz <granadozsergio42@gmail.com>
  locale/es_MX/LC_MESSAGES/fdroidserver.po
  locale/sq/LC_MESSAGES/fdroidserver.po
Due: none

fix "warning: 'msgid' format string with unnamed arguments cannot be properly localized:
  fdroidserver/scanner.py
  fdroidserver/signindex.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Rafael Fontenelle <rafaelff@gnome.org>
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Hungarian (hu) by -J- <heyj0e@tuta.io>
  locale/hu/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Italian (it) by sofia <badpazzword@gmail.com>
  locale/it/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  locale/pt/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Traditional Han script) (zh_Hant) by UDP <udp@users.noreply.hosted.weblate.org>
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Swahili (sw) by Steve Solomon <stevenyasimi01@gmail.com>
  locale/sw/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (Portugal) (pt_PT) by Shin Kurogane Silva <ZeroXUnknown@proton.me>
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
Due: none

Path conditions:
  test_deploy_to_s3_with_rclone: any of: .gitlab-ci.yml, fdroidserver/deploy.py, tests/test_deploy.py, tests/test_integration.py
  bandit: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  pylint: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  shellcheck: any of: .gitlab-ci.yml, hooks/install-hooks.sh, hooks/pre-commit, tests/run-tests
  safety: any of: .gitlab-ci.yml, .safety-policy.yml, pyproject.toml, setup.py
  yamllint: any of: .gitlab-ci.yml, .safety-policy.yml, .yamllint, tests/*.yml, tests/*/*.yml, tests/*/*/.*.yml
  gradle: any of: .gitlab-ci.yml, makebuildserver
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py, makebuildserver, buildserver/*
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  Build documentation: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
  PUBLISH: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  podman system service: any of: .gitlab-ci.yml, fdroidserver/up.py, tests/test_up.py
