Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

gitlab-ci: add "lint" pre-stage before default "test" stage
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: refactor to rules: and ditch old only: syntax
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

checkupdates: always print remote message of git push
  fdroidserver/checkupdates.py
Due: none

verify: write verified.json in function to ease testing
  fdroidserver/verify.py
Due: none

verify: generate <appid>.json files that list all reports
  fdroidserver/verify.py
  tests/test_verify.py
Due: none

Clarify libmagic needs to be installed separately
  setup.py
Due: none

gitlab-ci: metadata_v0 test expects no config
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

repo_key_sha256 to list of valid config keys
  fdroidserver/lint.py
Due: none

update: include stages timing info in update.json
  fdroidserver/update.py
  tests/test_update.py
Due: none

gradle v8.14
  gradlew-fdroid
Due: gradlew-fdroid

Make v2 localized config optional
  fdroidserver/index.py
Due: none

Use latest Bookworm images for makebuildserver
  makebuildserver
Due: docker

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by Ceeee <marius.romanus@gmx.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Igor Rückert <igorruckert@yahoo.com.br>
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified Han script) (zh_Hans) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  locale/ja/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Irish (ga) by Aindriú Mac Giolla Eoin <aindriu80@gmail.com>
  locale/ga/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  locale/sq/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  locale/pt/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  locale/ru/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Laurent FAVOLE <laurentfavole03@gmail.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Turkish (tr) by "M. Fatih Uluçam" <mulucam@gmail.com>
  locale/tr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

update: never execute VCS e.g. git
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
  fdroidserver/metadata.py
  tests/test_common.py
Due: fdroid build

gradlew-fdroid: also search ../../gradle/ for wrapper files
  gradlew-fdroid
Due: gradlew-fdroid

SOURCE_DATE_EPOCH from app's git otherwise fdroiddata metadata file
  fdroidserver/build.py
  fdroidserver/common.py
  tests/test_build.py
  tests/test_common.py
  tests/test_scanner.py
Due: fdroid build

Fix handling of Triple-T 1.0.0 graphics
  fdroidserver/update.py
Due: none

Add test case for Triple-T 1.0.0 graphics
  MANIFEST.in
  tests/test_update.py
  tests/triple-t-1-graphics/build/de.wivewa.dialer/app/src/main/play/en-US/listing/featureGraphic/play_store_feature_graphic.png
  tests/triple-t-1-graphics/build/de.wivewa.dialer/app/src/main/play/en-US/listing/icon/icon.png
  tests/triple-t-1-graphics/build/de.wivewa.dialer/app/src/main/play/en-US/listing/phoneScreenshots/1.png
  tests/triple-t-1-graphics/metadata/de.wivewa.dialer.yml
Due: none

checkupdates: don't create branch with .lock end
  fdroidserver/checkupdates.py
Due: none

add test case
  tests/test_checkupdates.py
Due: none

checkupdates: set push ref to HEAD:refs/heads/branch_name
  fdroidserver/checkupdates.py
Due: none

flavour -> flavor
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/looseversion.py
  fdroidserver/update.py
Due: fdroid build

common: add calculate_gradle_flavor_combination
  fdroidserver/common.py
  tests/test_common.py
Due: fdroid build

calculate all combinations of gradle flavors
  MANIFEST.in
  fdroidserver/scanner.py
  fdroidserver/update.py
  tests/source-files/flavor.test/build.gradle
  tests/test_scanner.py
Due: fdroid build

💸 add .well-known/funding-manifest-urls
  .well-known/funding-manifest-urls
Due: none
