Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - cd buildserver
  - docker build -t $TEST_IMAGE --build-arg GIT_REV_PARSE_HEAD=$(git rev-parse HEAD) .
  ...

Translated using Weblate: Arabic (ar) by Ahmad0a <Ahmad3p@protonmail.com>
  locale/ar/LC_MESSAGES/fdroidserver.po
Due: none

Added translation using Weblate: Catalan (ca) by Rubén <rubenx@mail.com>
  locale/ca/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  locale/fa/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Max Xie <monyxie@gmail.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguz@ersen.moe>
  locale/tr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <ifjuro@proton.me>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

fix bad formats in translations
  locale/bo/LC_MESSAGES/fdroidserver.po
  locale/cy/LC_MESSAGES/fdroidserver.po
  locale/el/LC_MESSAGES/fdroidserver.po
  locale/es_AR/LC_MESSAGES/fdroidserver.po
  locale/hu/LC_MESSAGES/fdroidserver.po
  locale/id/LC_MESSAGES/fdroidserver.po
  locale/ko/LC_MESSAGES/fdroidserver.po
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
  locale/sv/LC_MESSAGES/fdroidserver.po
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

gitlab-ci: break out locale tests into job that fails on errors
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

update CHANGELOG for 2.2.1
  CHANGELOG.md
Due: none

version 2.2.1
  setup.py
Due: none

set dev version: 2.3 alpha 0
  setup.py
Due: none

update: handle messed up namespaces in AndroidManifest.xml
  MANIFEST.in
  fdroidserver/update.py
  tests/org.sajeg.fallingblocks_3.apk
  tests/update.TestCase
Due: none

metadata.Build.ndk_path(): find long form ndk too
  fdroidserver/metadata.py
Due: fdroid build

build: actually raise exception when ndk: entry is invalid
  fdroidserver/common.py
Due: fdroid build

pylint: hide broad-exception-caught and broad-exception-raised
  pyproject.toml
Due: none

always use defusedxml.ElementTree, never xml.etree.ElementTree
  fdroidserver/common.py
Due: fdroid build

fix code format for new black rule
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/gpgsign.py
  fdroidserver/import_subcommand.py
  fdroidserver/init.py
  fdroidserver/install.py
  fdroidserver/lint.py
  fdroidserver/nightly.py
  fdroidserver/readmeta.py
  fdroidserver/rewritemeta.py
  fdroidserver/signindex.py
  fdroidserver/update.py
  fdroidserver/verify.py
  tests/build.TestCase
  tests/deploy.TestCase
  tests/lint.TestCase
  tests/nightly.TestCase
  tests/rewritemeta.TestCase
  tests/signindex.TestCase
  tests/verify.TestCase
Due: fdroid build

checkupdates: skip when there is no match for version
  fdroidserver/checkupdates.py
Due: none

pylint: Set Python version, exclude vendored file
  pyproject.toml
Due: none

pylint: Reenable R1723 no-else-break
  fdroidserver/common.py
  fdroidserver/deploy.py
  pyproject.toml
Due: fdroid build

pylint: Reenable C0201 consider-iterating-dictionary
  fdroidserver/__main__.py
  fdroidserver/metadata.py
  makebuildserver
  pyproject.toml
Due: fdroid build, plugin_fetchsrclibs, docker

pylint: Reenable R1722 consider-using-sys-exit
  makebuildserver
  pyproject.toml
  tests/gradle-release-checksums.py
  tests/ndk-release-checksums.py
Due: docker

pylint: Reenable E1101 no-member
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/metadata.py
  fdroidserver/vmtools.py
  pyproject.toml
  tests/gradle-release-checksums.py
  tests/ndk-release-checksums.py
Due: fdroid build

disable pylint no-member on tests/extra/manual-vmtools-test.py
  tests/extra/manual-vmtools-test.py
Due: none

vmtools: Properly initialize provider member
  fdroidserver/vmtools.py
Due: fdroid build

Scanner - add newer sonatype maven repos
  fdroidserver/scanner.py
Due: fdroid build

index.TestCase: support more arguments (like -k)
  tests/index.TestCase
Due: none

Don't copy per version anti features to all versions
  fdroidserver/index.py
  fdroidserver/update.py
  tests/index.TestCase
  tests/metadata/com.politedroid.yml
  tests/metadata/dump/com.politedroid.yaml
  tests/repo/entry.json
  tests/repo/index-v1.json
  tests/repo/index-v2.json
  tests/repo/index.xml
  tests/run-tests
Due: none

set skipUnless for test that relies on ANDROID_HOME
  tests/common.TestCase
Due: none

Strip ipfsCIDv1 before testing index-v2
  .gitlab-ci.yml
  tests/repo/entry.json
  tests/repo/index-v2.json
  tests/run-tests
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

remove NDK download handling in favor of fdroid/sdkmanager
  .gitlab-ci.yml
  fdroidserver/common.py
  setup.py
  tests/build.TestCase
  tests/common.TestCase
  tests/ndk-release-checksums.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

common.get_android_tools_versions() for modern NDK dir layout
  MANIFEST.in
  fdroidserver/common.py
  tests/common.TestCase
  tests/get_android_tools_versions/android-ndk-r10e/RELEASE.TXT
  tests/get_android_tools_versions/android-sdk/ndk-bundle/package.xml
  tests/get_android_tools_versions/android-sdk/ndk-bundle/source.properties
  tests/get_android_tools_versions/android-sdk/ndk/11.2.2725575/source.properties
  tests/get_android_tools_versions/android-sdk/ndk/17.2.4988734/source.properties
  tests/get_android_tools_versions/android-sdk/ndk/21.3.6528147/source.properties
Due: fdroid build

all ndk paths in config must be strings
  fdroidserver/common.py
  fdroidserver/metadata.py
  tests/common.TestCase
  tests/metadata.TestCase
Due: fdroid build

buildserver: fix apt Acquire::Retries syntax
  buildserver/Dockerfile
  buildserver/provision-apt-get-install
Due: docker

Write status json upon fdroid update start (Closes: #1114)
  fdroidserver/update.py
Due: none

Add maven central staging repo to allowed list
  fdroidserver/scanner.py
Due: fdroid build

gradle v8.1
  gradlew-fdroid
Due: gradlew-fdroid

gitlab-ci: ubuntu_lts_ppa & debian_testing jobs need sdkmanager
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

metadata: Remove ununsed code
  fdroidserver/metadata.py
Due: fdroid build

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
