Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

Path conditions:
  test_deploy_to_s3_with_rclone: any of: .gitlab-ci.yml, fdroidserver/deploy.py, tests/test_deploy.py, tests/test_integration.py
  bandit: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  pylint: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  shellcheck: any of: .gitlab-ci.yml, hooks/install-hooks.sh, hooks/pre-commit, tests/run-tests
  safety: any of: .gitlab-ci.yml, .safety-policy.yml, pyproject.toml, setup.py
  yamllint: any of: .gitlab-ci.yml, .safety-policy.yml, .yamllint, tests/*.yml, tests/*/*.yml, tests/*/*/.*.yml
  gradle: any of: .gitlab-ci.yml, makebuildserver
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py, makebuildserver, buildserver/*
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  Build documentation: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
  PUBLISH: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  podman system service: any of: .gitlab-ci.yml, fdroidserver/up.py, tests/test_up.py

compile locales to test on Debian/testing
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

ignore locale tests on macOS, localization is not yet used there
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

better test for gpg-agent to restrict test case
  tests/test_integration.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

push: support RepoType: srclib
  fdroidserver/push.py
Due: bandit, pylint, Build documentation, PUBLISH

purge support for deprecated RepoType: bzr svn
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/make_source_tarball.py
  fdroidserver/metadata.py
  fdroidserver/scanner.py
  tests/test_metadata.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

actually implement VCSException when git-svn includes username
  fdroidserver/common.py
  tests/test_common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

Drop support for Mercurial (hg)
  buildserver/provision-apt-get-install
  fdroidserver/checkupdates.py
  fdroidserver/common.py
Due: bandit, pylint, fdroid build, Build documentation, docker, PUBLISH

purge utf8 tricks that date back to Python 2.7
  fdroidserver/update.py
Due: bandit, pylint, Build documentation, PUBLISH

'manifest' in internal struct; remove single use of namedtuple
  fdroidserver/index.py
  fdroidserver/update.py
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/test_index.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

move 'apkName' field into internal index-v2 format
  fdroidserver/index.py
  fdroidserver/update.py
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/metadata/apk/org.maxsdkversion.yaml
  tests/test_index.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

init 'features' only when it is needed
  fdroidserver/index.py
  fdroidserver/update.py
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/test_index.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

port 'added' integration test to JSON for clarity of purpose
  tests/test_integration.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

move PackageAddedCache to update.py, it is only used there
  fdroidserver/common.py
  fdroidserver/update.py
  tests/test_common.py
  tests/test_update.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

move 'added' to internal index-v2 format
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/update.py
  tests/test_common.py
  tests/test_index.py
  tests/test_integration.py
  tests/test_update.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, fdroid build, Build documentation, PUBLISH

reset apkcache to move data to new internal format
  fdroidserver/update.py
  tests/repo/entry.json
  tests/repo/index-v1.json
  tests/repo/index.xml
Due: bandit, pylint, Build documentation, PUBLISH

move 'versionName' field to internal index-v2 format
  fdroidserver/index.py
  fdroidserver/update.py
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/metadata/apk/org.maxsdkversion.yaml
  tests/test_index.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

test_update: simplify scan_apk() tests
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

move 'signer' into internal index-v2 format
  fdroidserver/index.py
  fdroidserver/update.py
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/metadata/apk/org.maxsdkversion.yaml
  tests/test_index.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

minSdkVersion/targetSdkVersion/maxSdkVersion into internal index-v2 format
  MANIFEST.in
  fdroidserver/index.py
  fdroidserver/update.py
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/metadata/apk/org.maxsdkversion.yaml
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

update test APK to include one required <uses-feature>
  tests/repo/duplicate.permisssions_9999999.apk
  tests/repo/entry.json
  tests/repo/index-v1.json
  tests/repo/index-v2.json
  tests/repo/index.xml
  tests/test_common.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

test YAML 1.2 for config
  setup.cfg
  tests/test_common.py
Due: bandit, pylint, Build documentation, PUBLISH

move 'nativecode' field into internal index-v2 format
  fdroidserver/index.py
  fdroidserver/update.py
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

move repo["timestamp"] to internal index-v2 format
  fdroidserver/index.py
  fdroidserver/update.py
  tests/test_index.py
Due: bandit, pylint, Build documentation, PUBLISH

use standard common.get_file_extension()
  fdroidserver/index.py
Due: bandit, pylint, Build documentation, PUBLISH

build: use placeholder vcs() instance for 'hg' til its purged
  fdroidserver/common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

added a dns lookup while building the index so those results can be used to bypass dns queries at runtime
  examples/config.yml
  fdroidserver/index.py
Due: bandit, pylint, Build documentation, PUBLISH

add tests
  tests/test_index.py
  tests/test_integration.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

Update to a supported Fedora version
  .gitlab-ci.yml
  tests/test_integration.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

index_v1: restore nativecode field
  fdroidserver/index.py
Due: bandit, pylint, Build documentation, PUBLISH

test: test_index: test_make_v1: ensure nativecode exists
  tests/test_index.py
Due: bandit, pylint, Build documentation, PUBLISH

tests: test_index: add test_make_v1
  MANIFEST.in
  tests/metadata/org.dyndns.fules.ck.yml
  tests/test_index.py
Due: bandit, pylint, yamllint, Build documentation, PUBLISH

added check foripv6 suppot to dns tests
  tests/shared_test_code.py
  tests/test_index.py
  tests/test_integration.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

fix Fedora check in macOS job
  tests/test_integration.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

lint: add share.google to list of link shorteners
  fdroidserver/lint.py
Due: bandit, pylint, Build documentation, PUBLISH

index: make sure DNS records are in the "mirrors" list
  fdroidserver/index.py
  tests/test_integration.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

disable gradle jvm auto download
  buildserver/provision-gradle
  fdroidserver/scanner.py
  tests/test_scanner.py
Due: bandit, pylint, fdroid build, Build documentation, docker, PUBLISH

Conform to PEP 639
  setup.py
Due: bandit, pylint, safety, Build documentation, PUBLISH

gitlab-ci: make pip_audit ignore CVE-2026-4539
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

Don't run gradle clean
  fdroidserver/build.py
  fdroidserver/build_local_run.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

Replace python clint by python progress
  .gitlab-ci.yml
  fdroidserver/deploy.py
  setup.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service
