Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

Fix openjdk detection on different architectures
  fdroidserver/common.py
Due: fdroid build

Revert locale/hi/LC_MESSAGES/fdroidserver.po conflicting with Weblate
  locale/hi/LC_MESSAGES/fdroidserver.po
Due: none

purge all references to zipalign, that is delegated to other things
  .gitlab-ci.yml
  fdroidserver/common.py
  fdroidserver/publish.py
  tests/common.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradle v8.0.1
  gradlew-fdroid
Due: gradlew-fdroid

Gradle 7.6.1
  gradlew-fdroid
Due: gradlew-fdroid

Gradle 8.0.2
  gradlew-fdroid
Due: gradlew-fdroid

gitlab-ci: port lint_* job to Debian/bookworm for stability
  .gitlab-ci.yml
  pyproject.toml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Remove support for Buildozer
  .gitlab-ci.yml
  fdroidserver/build.py
  fdroidserver/import_subcommand.py
  fdroidserver/metadata.py
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

versioned download_repo_index_v1() to be future proof
  fdroidserver/__init__.py
  fdroidserver/index.py
Due: none

add new test module for the public API
  tests/api.TestCase
Due: none

add verify_jar_signature() to verify entry.jar
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

sign tests/repo/index-v1.jar once per index.TestCase run
  tests/index.TestCase
Due: none

download_repo_index_v2() for verified downloading of index-v2
  fdroidserver/__init__.py
  fdroidserver/index.py
  tests/api.TestCase
  tests/index.TestCase
Due: none

tame verbose logging in index tests by default
  tests/index.TestCase
Due: none

Translated using Weblate: Malayalam (ml) by Amal Benny <amalb1883@gmail.com>
  locale/ml/LC_MESSAGES/fdroidserver.po
Due: none

Added translation using Weblate: Hebrew (he) by bobwww <noambro199@gmail.com>
  locale/he/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Indonesian (id) by Linerly <linerly@protonmail.com>
  locale/id/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Persian (fa) by Goudarz Jafari <goudarz.jafari@gmail.com>
  locale/fa/LC_MESSAGES/fdroidserver.po
Due: none

Added translation using Weblate: Bulgarian (bg) by Aleksandar Hadzhivelichkov <Raphaelo245@gmail.com>
  locale/bg/LC_MESSAGES/fdroidserver.po
Due: none

Update translation files
  locale/ml/LC_MESSAGES/fdroidserver.po
Due: none

Update translation files
  locale/bg/LC_MESSAGES/fdroidserver.po
  locale/el/LC_MESSAGES/fdroidserver.po
  locale/es_AR/LC_MESSAGES/fdroidserver.po
  locale/es_MX/LC_MESSAGES/fdroidserver.po
  locale/eu/LC_MESSAGES/fdroidserver.po
  locale/fa/LC_MESSAGES/fdroidserver.po
  locale/he/LC_MESSAGES/fdroidserver.po
  locale/id/LC_MESSAGES/fdroidserver.po
  locale/ml/LC_MESSAGES/fdroidserver.po
  locale/sr/LC_MESSAGES/fdroidserver.po
  locale/sv/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Malayalam (ml) by Coding Otaku <contact@codingotaku.com>
  locale/ml/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Indonesian (id) by Holiq Ibrahim <holiq.ibrahim376@gmail.com>
  locale/id/LC_MESSAGES/fdroidserver.po
Due: none

Added translation using Weblate: Serbian (sr) by Саша Петровић <salepetronije@gmail.com>
  locale/sr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  locale/he/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Hindi (hi) by Saurmandal <saurmandal@protonmail.com>
  locale/hi/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  locale/ru/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Malayalam (ml) by Abhiram <abhiram@skiff.com>
  locale/ml/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  locale/de/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Update translation files
  locale/ar/LC_MESSAGES/fdroidserver.po
  locale/bg/LC_MESSAGES/fdroidserver.po
  locale/ca/LC_MESSAGES/fdroidserver.po
  locale/el/LC_MESSAGES/fdroidserver.po
  locale/es_AR/LC_MESSAGES/fdroidserver.po
  locale/es_MX/LC_MESSAGES/fdroidserver.po
  locale/eu/LC_MESSAGES/fdroidserver.po
  locale/fa/LC_MESSAGES/fdroidserver.po
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/he/LC_MESSAGES/fdroidserver.po
  locale/id/LC_MESSAGES/fdroidserver.po
  locale/ml/LC_MESSAGES/fdroidserver.po
  locale/sr/LC_MESSAGES/fdroidserver.po
  locale/sv/LC_MESSAGES/fdroidserver.po
  locale/ta/LC_MESSAGES/fdroidserver.po
Due: none

Update translation files
  locale/ar/LC_MESSAGES/fdroidserver.po
  locale/bg/LC_MESSAGES/fdroidserver.po
  locale/ca/LC_MESSAGES/fdroidserver.po
  locale/de/LC_MESSAGES/fdroidserver.po
  locale/el/LC_MESSAGES/fdroidserver.po
  locale/es_AR/LC_MESSAGES/fdroidserver.po
  locale/es_MX/LC_MESSAGES/fdroidserver.po
  locale/eu/LC_MESSAGES/fdroidserver.po
  locale/fa/LC_MESSAGES/fdroidserver.po
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/he/LC_MESSAGES/fdroidserver.po
  locale/hi/LC_MESSAGES/fdroidserver.po
  locale/id/LC_MESSAGES/fdroidserver.po
  locale/ml/LC_MESSAGES/fdroidserver.po
  locale/sr/LC_MESSAGES/fdroidserver.po
  locale/sv/LC_MESSAGES/fdroidserver.po
  locale/ta/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Translator <kvb@tuta.io>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Tamil (ta) by K.B.Dharun Krishna <kbdharunkrishna@gmail.com>
  locale/ta/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  locale/sq/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  locale/de/LC_MESSAGES/fdroidserver.po
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Eric <hamburger2048@users.noreply.hosted.weblate.org>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Serbian (sr) by Đorđe Vasiljević <djordje.vasiljevich@gmail.com>
  locale/sr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none
