Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fdroid build, plugin_fetchsrclibs

Path conditions:
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py

fetchsrclibs: disable preparation
  examples/fdroid_fetchsrclibs.py
Due: plugin_fetchsrclibs

use subclass hack for better ZIP cloning
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

vendor & use apksigcopier v0.4.0-12-g93d8e14
  fdroidserver/apksigcopier.py
  fdroidserver/common.py
  fdroidserver/publish.py
  tests/common.TestCase
Due: fdroid build

jenkins-build-all: refocus on building reproducible apps first
  jenkins-build-all
Due: none

publish: rename vars to match naming in JAR Signature docs
  fdroidserver/common.py
  fdroidserver/publish.py
  tests/common.TestCase
Due: fdroid build

common.py: update copyrights
  fdroidserver/common.py
Due: fdroid build

apksigcopier: remove exclude_all_meta logic
  fdroidserver/apksigcopier.py
  fdroidserver/common.py
Due: fdroid build

publish: add test for reproduble builds with signatures
  tests/publish.TestCase
Due: none

force apksigcopier "AUTO" to select sigs by available files
  fdroidserver/common.py
  fdroidserver/publish.py
Due: fdroid build

apksigcopier: purge main() to avoid confusion
  fdroidserver/apksigcopier.py
Due: none

gitlab-ci: prevent dualing linters: pyflakes vs mypy
  .gitlab-ci.yml
  fdroidserver/apksigcopier.py
Due: fdroid build, plugin_fetchsrclibs

fix metadata_find_signing_files()
  fdroidserver/common.py
Due: fdroid build

Bump METADATA_VERSION for apksigner transition
  fdroidserver/update.py
  tests/repo/index-v1.json
  tests/repo/index.xml
Due: none

jenkins-build-all: fix failure when trying to rm a dir
  jenkins-build-all
Due: none

jenkins-build-all: stop deleting previous builds results
  jenkins-build-all
Due: none

gitlab-ci: document jobs
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

common: test abs and rel paths in get_all_gradle_and_manifests()
  tests/common.TestCase
Due: none

build: fix typo in regex for Binaries: verification
  fdroidserver/build.py
Due: fdroid build

build: --test now keeps unsigned APKs in tmp/ that fail to reproduce
  fdroidserver/build.py
  tests/build.TestCase
Due: fdroid build

Fix: Changelog.md dates incorrect year
  CHANGELOG.md
Due: none

gradle v7.0
  gradlew-fdroid
Due: none

gitlab-ci: use latest alpine/bandit to fix CVE flagged by safety
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Publish docu to GL Pages
  .gitignore
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Add missing index.rst
  docs/source/index.rst
Due: none

Only publish pages on default branch
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

Draft: set up docs based on docstrings and publish HTML versions
  .gitlab-ci.yml
  docs/Makefile
  docs/make.bat
  docs/source/conf.py
  setup.py
Due: fdroid build, plugin_fetchsrclibs

Publish docu to GL Pages
  .gitlab-ci.yml
  docs/source/index.rst
Due: fdroid build, plugin_fetchsrclibs

Don't remove logs of disabled builds
  fdroidserver/update.py
Due: none

gradle v7.0.1
  gradlew-fdroid
  makebuildserver
Due: none

[status_json] Add list of archivePolicy0
  fdroidserver/update.py
Due: none

[status_json] Don't list disabled builds as needs updated
  fdroidserver/update.py
Due: none

Don't return Gradle variables as string
  fdroidserver/common.py
Due: fdroid build

gitlab-ci: fix archlinux docker image
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

gradle v7.0.2
  gradlew-fdroid
  makebuildserver
Due: none

remove redundant imports and pointless code
  fdroidserver/index.py
  fdroidserver/init.py
  fdroidserver/metadata.py
  fdroidserver/update.py
  locale/pick-complete-translations.py
Due: fdroid build

move sha256sum() and sha256base64() to common
  fdroidserver/common.py
  fdroidserver/update.py
Due: fdroid build

build: auto-download missing NDKS if they're known and can be verified
  fdroidserver/build.py
  fdroidserver/common.py
  tests/build.TestCase
Due: fdroid build

build: remove default NDK, closes #717
  examples/config.yml
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/init.py
  fdroidserver/metadata.py
Due: fdroid build

buildserver: trim pre-installed NDK list down to the bare minimum
  buildserver/config.buildserver.yml
  buildserver/provision-android-ndk
  makebuildserver
Due: none

gitlab-ci: auto-generate merge request when NDK release found
  .gitlab-ci.yml
  tests/ndk-release-checksums.py
Due: fdroid build, plugin_fetchsrclibs
