Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

fix format strings
  locale/sr/LC_MESSAGES/fdroidserver.po
Due: none

make -C locale compile
  locale/bo/LC_MESSAGES/fdroidserver.po
  locale/ca/LC_MESSAGES/fdroidserver.po
  locale/cs/LC_MESSAGES/fdroidserver.po
  locale/de/LC_MESSAGES/fdroidserver.po
  locale/es/LC_MESSAGES/fdroidserver.po
  locale/fdroidserver.pot
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/hu/LC_MESSAGES/fdroidserver.po
  locale/it/LC_MESSAGES/fdroidserver.po
  locale/ko/LC_MESSAGES/fdroidserver.po
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
  locale/pl/LC_MESSAGES/fdroidserver.po
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
  locale/ro/LC_MESSAGES/fdroidserver.po
  locale/ru/LC_MESSAGES/fdroidserver.po
  locale/sq/LC_MESSAGES/fdroidserver.po
  locale/sr/LC_MESSAGES/fdroidserver.po
  locale/sw/LC_MESSAGES/fdroidserver.po
  locale/tr/LC_MESSAGES/fdroidserver.po
  locale/uk/LC_MESSAGES/fdroidserver.po
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

run tests/refresh-SUSS_DEFAULT.py
  fdroidserver/scanner.py
Due: fdroid build

version 2.3 alpha 2
  setup.py
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by Jose Delvani <jsdelvani@users.noreply.hosted.weblate.org>
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  locale/es/LC_MESSAGES/fdroidserver.po
Due: none

Update translation files
  locale/ar/LC_MESSAGES/fdroidserver.po
  locale/az/LC_MESSAGES/fdroidserver.po
  locale/be/LC_MESSAGES/fdroidserver.po
  locale/bg/LC_MESSAGES/fdroidserver.po
  locale/bn/LC_MESSAGES/fdroidserver.po
  locale/cy/LC_MESSAGES/fdroidserver.po
  locale/el/LC_MESSAGES/fdroidserver.po
  locale/es_AR/LC_MESSAGES/fdroidserver.po
  locale/es_MX/LC_MESSAGES/fdroidserver.po
  locale/eu/LC_MESSAGES/fdroidserver.po
  locale/fa/LC_MESSAGES/fdroidserver.po
  locale/fi/LC_MESSAGES/fdroidserver.po
  locale/fy/LC_MESSAGES/fdroidserver.po
  locale/he/LC_MESSAGES/fdroidserver.po
  locale/hi/LC_MESSAGES/fdroidserver.po
  locale/id/LC_MESSAGES/fdroidserver.po
  locale/ja/LC_MESSAGES/fdroidserver.po
  locale/kab/LC_MESSAGES/fdroidserver.po
  locale/lv/LC_MESSAGES/fdroidserver.po
  locale/ml/LC_MESSAGES/fdroidserver.po
  locale/nl/LC_MESSAGES/fdroidserver.po
  locale/sk/LC_MESSAGES/fdroidserver.po
  locale/sv/LC_MESSAGES/fdroidserver.po
  locale/ta/LC_MESSAGES/fdroidserver.po
  locale/tzm/LC_MESSAGES/fdroidserver.po
  locale/ug/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  locale/sq/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Serbian (sr) by Hans-Christoph Steiner <hans@guardianproject.info>
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/it/LC_MESSAGES/fdroidserver.po
  locale/pl/LC_MESSAGES/fdroidserver.po
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
  locale/ro/LC_MESSAGES/fdroidserver.po
  locale/sq/LC_MESSAGES/fdroidserver.po
  locale/sr/LC_MESSAGES/fdroidserver.po
Due: none

import_subcommand.py: format
  fdroidserver/import_subcommand.py
  pyproject.toml
  tests/import_subcommand.TestCase
Due: none

import_subcommand.py: move functions from common.py
  fdroidserver/common.py
  fdroidserver/import_subcommand.py
  tests/common.TestCase
  tests/import_subcommand.TestCase
Due: fdroid build

import_subcommand.py: misc fixes and updates
  fdroidserver/import_subcommand.py
Due: none

deploy: rclone_config always as list to avoid code duplication
  fdroidserver/deploy.py
Due: none

deploy: lists for command lines to handle escaping
  fdroidserver/deploy.py
  tests/deploy.TestCase
Due: none

scanner - jcenter is gone
  fdroidserver/scanner.py
Due: fdroid build

add test files missing from MANIFEST.in
  MANIFEST.in
Due: none

Show \r when diffing reproducible apk
  fdroidserver/common.py
Due: fdroid build

scanner: always use built-in ruleset when running tests
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

Remove all mentions of Flattr
  .gitlab-ci.yml
  fdroidserver/index.py
  fdroidserver/lint.py
  fdroidserver/metadata.py
  tests/funding-usernames.yaml
  tests/metadata-rewrite-yml/org.fdroid.fdroid.yml
  tests/metadata/dump/app.with.special.build.params.yaml
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
  tests/metadata/org.adaway.yml
  tests/metadata/org.fdroid.fdroid.yml
  tests/metadata/souch.smsbypass.yml
  tests/repo/entry.json
  tests/repo/index-v1.json
  tests/repo/index-v2.json
  tests/repo/index.xml
  tests/update.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: include libcloud for tests
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

throw error when CLI appid args end with a : but no Version Code
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

scanner.TestCase: format
  tests/scanner.TestCase
Due: none

scanner: support libs.versions.toml
  MANIFEST.in
  fdroidserver/scanner.py
  setup.py
  tests/scanner.TestCase
  tests/source-files/catalog.test/app/build.gradle
  tests/source-files/catalog.test/build.gradle.kts
  tests/source-files/catalog.test/gradle/libs.versions.toml
  tests/source-files/catalog.test/libs.versions.toml
  tests/source-files/catalog.test/settings.gradle.kts
  tests/source-files/com.lolo.io.onelist/app/build.gradle.kts
  tests/source-files/com.lolo.io.onelist/build.gradle.kts
  tests/source-files/com.lolo.io.onelist/gradle/libs.versions.toml
  tests/source-files/com.lolo.io.onelist/gradle/wrapper/gradle-wrapper.properties
  tests/source-files/com.lolo.io.onelist/settings.gradle
  tests/source-files/org.piepmeyer.gauguin/build.gradle.kts
  tests/source-files/org.piepmeyer.gauguin/libs.versions.toml
  tests/source-files/org.piepmeyer.gauguin/settings.gradle.kts
Due: fdroid build

Use latest Bookworm images for makebuildserver
  makebuildserver
Due: docker

Only check for ipfs_cid when doing fdroid update
  fdroidserver/common.py
Due: fdroid build

gradle v8.10.2
  gradlew-fdroid
Due: gradlew-fdroid

scanner: catalog: dependency declaration can be declared as a simple string
  fdroidserver/scanner.py
  tests/scanner.TestCase
  tests/source-files/catalog.test/gradle/libs.versions.toml
Due: fdroid build

Drop duplicated code (already done in get_metadata_files)
  fdroidserver/common.py
Due: fdroid build

Use vercodes in read_metadata interface
  fdroidserver/common.py
  fdroidserver/metadata.py
Due: fdroid build

Read only metadata of apps given on the command line
  examples/fdroid_clean_repos.py
  examples/fdroid_fetchsrclibs.py
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/lint.py
  fdroidserver/rewritemeta.py
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build, plugin_fetchsrclibs

gradlew: fix plugin version
  gradlew-fdroid
Due: gradlew-fdroid

Consider subdir for Flutter app triple-t metadata discover
  fdroidserver/update.py
Due: none

mv mirror push script to fdroid-bootstrap-buildserver
  examples/mirror-to-mirror.sh
Due: none

Document repo_web_base_url
  examples/config.yml
Due: none

Use mtime and file size for apkcache
  fdroidserver/update.py
Due: none

scanner: catalog: relax VERSION_CATALOG_REGEX
  fdroidserver/scanner.py
  tests/source-files/catalog.test/settings.gradle.kts
Due: fdroid build

scanner: catalog: get catalog from parent dirs
  MANIFEST.in
  fdroidserver/scanner.py
  tests/scanner.TestCase
  tests/source-files/catalog.test/buildSrc/build.gradle.kts
  tests/source-files/catalog.test/buildSrc/settings.gradle.kts
  tests/source-files/catalog.test/buildSrc2/build.gradle.kts
  tests/source-files/catalog.test/buildSrc2/settings.gradle.kts
  tests/source-files/catalog.test/core/build.gradle
Due: fdroid build

checkupdates: remove appid branches that have been merged
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
Due: none

checkupdates: push_commits() to push auto-branch when new commits
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
Due: none
