Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

gitlab-ci: check that localization works when installed with pip
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Fix l10n broken in venvs
  setup.py
Due: none

Stop packaging makebuildserver script
  setup.py
Due: none

gitlab-ci: only run Windows job in branches called "windows
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

make F-Droid-specific changes to apksigcopier.py
  fdroidserver/apksigcopier.py
  fdroidserver/common.py
Due: fdroid build

import apksigcopier v1.1.1
  fdroidserver/apksigcopier.py
Due: none

signindex: add JSON check for entry.json
  .gitignore
  MANIFEST.in
  fdroidserver/signindex.py
  tests/config.py
  tests/repo/entry.json
  tests/repo/index-v1.json
  tests/repo/index-v2.json
  tests/repo/index.xml
  tests/run-tests
  tests/signindex.TestCase
  tests/stats/known_apks.txt
Due: none

support Java 20, which is already in Debian/unstable, closes #1070
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

Cleanup upon failing sign_apk (Closes: #1085)
  fdroidserver/common.py
Due: fdroid build

add test_sign_apk_fail and test_sign_apk_corrupt
  tests/common.TestCase
Due: none

gitlab-ci: bump RELEASE_COMMIT_ID to 2.2 beta
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

downgrade missing ipfs_cid WARNING to DEBUG
  fdroidserver/common.py
Due: fdroid build

gradle v8.0.1
  gradlew-fdroid
Due: gradlew-fdroid

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguz@ersen.moe>
  locale/tr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  locale/ro/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Hungarian (hu) by KissPandur <zoltankiss.web@gmail.com>
  locale/hu/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by TopFox <Arnaud.Savary@etu.unige.ch>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by John Donne <akheron@zaclys.net>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by gwenderer <gwenael.derer@gmail.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Translator <kvb@tuta.io>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  locale/sq/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Deleted User <noreply+22825@weblate.org>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by ButterflyOfFire <ButterflyOfFire@protonmail.com>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by gub <gub.gub@laposte.net>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: French (fr) by lilim <lionel@les-miquelots.net>
  locale/fr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (Brazil) (pt_BR) by The Cats <philosoph@danwin1210.de>
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Xiang Heng Wei <yylteam@hotmail.com>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

set --no-wrap on all translation files
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

tests/run-tests: silence err_handler output
  tests/run-tests
Due: none

Fix compare of Path objects
  fdroidserver/common.py
Due: fdroid build

update CHANGELOG for 2.2.0; include missing entries
  CHANGELOG.md
Due: none

version 2.2.0
  setup.py
Due: none

handle str and pathlib.Path in getvcs()
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

fix test_fill_config_defaults_java for non-amd64 arches
  tests/common.TestCase
Due: none

make -C locale update
  locale/bn/LC_MESSAGES/fdroidserver.po
  locale/bo/LC_MESSAGES/fdroidserver.po
  locale/cs/LC_MESSAGES/fdroidserver.po
  locale/cy/LC_MESSAGES/fdroidserver.po
  locale/es/LC_MESSAGES/fdroidserver.po
  locale/fdroidserver.pot
  locale/fi/LC_MESSAGES/fdroidserver.po
  locale/fy/LC_MESSAGES/fdroidserver.po
  locale/hi/LC_MESSAGES/fdroidserver.po
  locale/hu/LC_MESSAGES/fdroidserver.po
  locale/it/LC_MESSAGES/fdroidserver.po
  locale/ja/LC_MESSAGES/fdroidserver.po
  locale/kab/LC_MESSAGES/fdroidserver.po
  locale/ko/LC_MESSAGES/fdroidserver.po
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
  locale/nl/LC_MESSAGES/fdroidserver.po
  locale/pl/LC_MESSAGES/fdroidserver.po
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
  locale/ro/LC_MESSAGES/fdroidserver.po
  locale/ru/LC_MESSAGES/fdroidserver.po
  locale/sk/LC_MESSAGES/fdroidserver.po
  locale/sq/LC_MESSAGES/fdroidserver.po
  locale/tr/LC_MESSAGES/fdroidserver.po
  locale/tzm/LC_MESSAGES/fdroidserver.po
  locale/ug/LC_MESSAGES/fdroidserver.po
  locale/uk/LC_MESSAGES/fdroidserver.po
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

remove obsolete source strings, run xgettext without --join-existing
  locale/Makefile
Due: none
