Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - cd buildserver
  - docker build -t $TEST_IMAGE --build-arg GIT_REV_PARSE_HEAD=$(git rev-parse HEAD) .
  ...

gitlab-ci: port ubuntu_bionic_pip to Ubuntu/jammy
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: use python3-ruamel.yaml to avoid building from source
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

include tests/nightly.TestCase in dist tarball
  MANIFEST.in
Due: none

skip SystemWebView-repack.apk test when file is missing
  tests/common.TestCase
Due: none

Replace custom code by verify_jar_signature()
  fdroidserver/common.py
Due: fdroid build

Drop old getsig.java test
  MANIFEST.in
  tests/getsig/getsig.java
  tests/getsig/make.sh
  tests/getsig/run.sh
  tests/run-tests
  tests/update.TestCase
Due: none

init: use provided keyalias
  fdroidserver/init.py
Due: none

jarsigner: allow weak signatures
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/update.py
  tests/common.TestCase
Due: fdroid build

Test index before signing
  fdroidserver/signindex.py
Due: none

signindex: added simple test case
  .gitlab-ci.yml
  MANIFEST.in
  tests/signindex.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

tests/run-tests: fix "fatal: transport 'file' not allowed"
  tests/run-tests
Due: none

version 2.1.2
  setup.py
Due: none

Add plugin to cleanup app VCSs
  examples/fdroid_clean_repos.py
Due: none

examples/fdroid_clean_repos.py: black code format
  .gitlab-ci.yml
  examples/fdroid_clean_repos.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

examples/fdroid_clean_repos.py: fix typo
  examples/fdroid_clean_repos.py
Due: none

gradle 7.6
  gradlew-fdroid
Due: gradlew-fdroid

gradle v7.6
  gradlew-fdroid
Due: gradlew-fdroid

clean_repos plugin: also clean submodules
  examples/fdroid_clean_repos.py
Due: none

verify_apks(): compare to unsigned APK if copying fails
  fdroidserver/common.py
Due: fdroid build

checkupdates: Block one more openjdk-11
  fdroidserver/checkupdates.py
Due: none

checkupdates: only use bullseye_blocklist when openjdk-11 is mentioned
  fdroidserver/checkupdates.py
Due: none

CI: Use Debian packages for documenation build
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

index.make_v0: ensure name is a str
  fdroidserver/index.py
Due: none

Use ruamel.yaml in metadata.py and metadata.TestCase
  fdroidserver/metadata.py
  tests/metadata.TestCase
  tests/metadata/org.videolan.vlc.yml
Due: fdroid build

update.TestCase: Avoid creating metadata with duplicate keys
  tests/update.TestCase
Due: none

Add codeberg.org
  fdroidserver/common.py
Due: fdroid build

remove liberapayID
  .gitlab-ci.yml
  fdroidserver/index.py
  fdroidserver/metadata.py
  locale/fi/LC_MESSAGES/fdroidserver.po
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.adaway.yaml
  tests/metadata/dump/org.smssecure.smssecure.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
  tests/metadata/info.guardianproject.urzip.yml
  tests/metadata/org.adaway.yml
  tests/repo/index-v1.json
  tests/repo/index.xml
  tests/update.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Distroy VM when running into timeout (Closes: #1094)
  fdroidserver/build.py
Due: fdroid build

Android NDK None (None)
  fdroidserver/common.py
Due: fdroid build

gitlab-ci: use black from Debian for a stable code format
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

fix pylint W0404: Reimport 're' (imported line 21) (reimported)
  fdroidserver/__main__.py
Due: plugin_fetchsrclibs

fix pylint W0715: Exception arguments suggest string formatting might be intended (raising-format-tuple)
  fdroidserver/vmtools.py
Due: fdroid build

gitlab-ci: ignore setuptools DoS error from safety
  .safety-policy.yml
Due: none

fix pylint: C0104: Disallowed name "bar" (disallowed-name)
  fdroidserver/deploy.py
Due: none

fix pylint C1803: 'icons_src == {}' can be simplified to 'not icons_src' as an empty dict is falsey (use-implicit-booleaness-not-comparison)
  tests/update.TestCase
Due: none

fix pylint: C1803: 'local_metadata_files != []' can be simplified to 'local_metadata_files' as an empty list is falsey (use-implicit-booleaness-not-comparison)
  fdroidserver/import_subcommand.py
Due: none

silence new pylint checks that are too much for the current state
  pyproject.toml
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by Eric <hamburger1024@mailbox.org>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Ukrainian (uk) by Sergii Horichenko <m@sgg.im>
  locale/uk/LC_MESSAGES/fdroidserver.po
Due: none

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
