Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - cd buildserver
  - docker build -t $TEST_IMAGE --build-arg GIT_REV_PARSE_HEAD=$(git rev-parse HEAD) .
  ...

Addition of IPFS CIDv1 to Index IPFS CIDv1 is only generated for APKs and "repo files"
  .gitlab-ci.yml
  fdroidserver/common.py
  fdroidserver/index.py
  fdroidserver/update.py
  tests/common.TestCase
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/repo/index-v1.json
  tests/repo/index.xml
  tests/update.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

[lint] Fix comparisons in check_updates_expected
  fdroidserver/lint.py
Due: none

scanner: add some rules
  .gitignore
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

Use old python-git exception API for getref
  fdroidserver/common.py
Due: fdroid build

Add test for git getref
  tests/common.TestCase
Due: none

Work around old apksigner on f-droid.org publish server
  .gitlab-ci.yml
  fdroidserver/common.py
  fdroidserver/signindex.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Add .editorconfig
  .editorconfig
Due: none

scanner: allow repo.clojars.org
  fdroidserver/scanner.py
Due: fdroid build

Sync all status files
  fdroidserver/common.py
Due: fdroid build

Move lint tools configuration to pyproject.toml
  .gitlab-ci.yml
  .pylint-rcfile
  mypy.ini
  pyproject.toml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

scanner: open DEX/ZIP by file magic; throw errors on bad filenames
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

Support more file types in get_embedded_classes
  fdroidserver/scanner.py
Due: fdroid build

scanner.TestCase: manually convert to black code format
  .gitlab-ci.yml
  tests/scanner.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

fix typo
  fdroidserver/lint.py
Due: none

basic downloading for scan_binary signatures
  fdroidserver/common.py
  fdroidserver/exception.py
  fdroidserver/scanner.py
  tests/scanner.TestCase
  tests/testcommon.py
Due: fdroid build

use ScannerTool for basic cacheing and scanning
  fdroidserver/data/scanner/scanner.json
  fdroidserver/scanner.py
Due: fdroid build

convert fdroid scanner --exodus to SignatureDataController
  fdroidserver/common.py
  fdroidserver/scanner.py
  tests/build.TestCase
  tests/scanner.TestCase
  tests/testcommon.py
Due: fdroid build

add --clear-cache option to scanner
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

move NON_FREE_GRADLE_LINES to signature definition files
  fdroidserver/data/scanner/scanner.json
  fdroidserver/scanner.py
Due: fdroid build

fix timestamp check; remove dead code
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

rename to suss
  fdroidserver/data/scanner/suss.json
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

make cachedir subdirectories pick their place correctly based on parent folder
  fdroidserver/common.py
Due: fdroid build

scanner: remove allowlisted from scan_source
  fdroidserver/scanner.py
Due: fdroid build

scanner: implement caching rules for suss
  fdroidserver/build.py
  fdroidserver/common.py
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

add --refresh to scanner
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

scanner: use Path.resovle instead of undocumented absolute()
  fdroidserver/scanner.py
Due: fdroid build

move suss defaults into scanner.py
  fdroidserver/data/scanner/suss.json
  fdroidserver/scanner.py
Due: fdroid build

scanner: update suss defaults after removal of allowlisted feature
  fdroidserver/data/scanner/suss.json
  tests/scanner.TestCase
Due: none

scanner: switch form iso8601 to unix timestamp for python3.5 support
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

fix pydocstyle lint errors
  fdroidserver/common.py
  fdroidserver/scanner.py
Due: fdroid build

avoid running into native-date object issue
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

ignore cache write test case on older python versions
  tests/scanner.TestCase
Due: none

scanner: filter urlopen schemes, mute bandit
  fdroidserver/scanner.py
Due: fdroid build

scanner: add regression tests for signautre load logic
  tests/scanner.TestCase
Due: none

Apply 3 suggestion(s) to 2 file(s)
  fdroidserver/common.py
  fdroidserver/scanner.py
Due: fdroid build

Use ssh_config.d
  buildserver/setup-env-vars
Due: docker

switch to latest vagrant boxes
  makebuildserver
Due: docker

gitlab-ci: plugin_fetchsrclibs runs in same base OS as fdroiddata
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Drop vagrant ssh config
  fdroidserver/vmtools.py
Due: fdroid build

buildserver: use HTTPS for security.debian.org
  buildserver/provision-apt-get-install
Due: docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
