Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

test_deploy_to_s3_with_rclone:
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - apt-get update
  - apt-get install -y androguard apksigner curl docker.io git python3-venv rclone
  - docker info
  - python3 -m venv --system-site-packages test-venv
  - . test-venv/bin/activate
  ...

bandit:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

pylint:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

shellcheck:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

safety:
  variables:
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

yamllint:
  variables:
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

gradle:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

PUBLISH:
  image: debian:bookworm-backports
  script:
  - apt-get update
  - apt-get -qy upgrade
  ...

remove "undefineddpi" from screen_resolutions
  fdroidserver/update.py
Due: bandit, pylint, Build documentation, PUBLISH

update: stop running icon extraction for the 'archive' section
  fdroidserver/update.py
Due: bandit, pylint, Build documentation, PUBLISH

fix "doesn't conform to UPPER_CASE naming style (invalid-name)"
  fdroidserver/__init__.py
  fdroidserver/update.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

update: "0" DPI only needed for extraction, not icon_dirs
  fdroidserver/update.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

update: purge system clock check, APKs no longer have dates in them
  fdroidserver/common.py
  fdroidserver/update.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

update: fix ancient bug where not all icons get moved to archive
  fdroidserver/update.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

update: parse icons by fully resolving the resources
  fdroidserver/update.py
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/metadata/apk/org.maxsdkversion.yaml
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

update: add tests for extract_apk_icons()
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

update: PIL.Image constants moved to Resampling
  fdroidserver/update.py
Due: bandit, pylint, Build documentation, PUBLISH

update: stop using density values as strings, they're ints
  fdroidserver/mirror.py
  fdroidserver/update.py
  tests/metadata/apk/info.guardianproject.urzip.yaml
  tests/metadata/apk/org.dyndns.fules.ck.yaml
  tests/metadata/apk/org.maxsdkversion.yaml
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

update: move icon density parse to standalone function for testing
  fdroidserver/update.py
  tests/test_update.py
Due: bandit, pylint, Build documentation, PUBLISH

Correct a typo in `fdroidserver/vmtools.py`
  fdroidserver/vmtools.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

common, publish: support v2/v3-only sigdirs in developer signature graft
  fdroidserver/common.py
  fdroidserver/publish.py
  tests/test_common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

only use NoOverwriteDict workaround when Androguard needs it
  fdroidserver/common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

update CHANGELOG.md
  CHANGELOG.md
Due: none

version 2.4.5
  setup.py
Due: bandit, pylint, safety, Build documentation, PUBLISH

deploy: port virustotal to v3 API, closes #1276
  fdroidserver/deploy.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

⚾ fix scanner.py
  fdroidserver/scanner.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

gitlab-ci: set baseline for metadata_v0 after !1854
  .gitlab-ci.yml
Due: test_deploy_to_s3_with_rclone, bandit, pylint, shellcheck, safety, yamllint, gradle, fdroid build, plugin_fetchsrclibs, Build documentation, docker, PUBLISH, podman system service

Correct typos
  pyproject.toml
  setup.cfg
Due: safety

zlib-ng's non-determinism breaks implanting APK sigs #1354
  tests/test_publish.py
Due: bandit, pylint, Build documentation, PUBLISH

add test of production index.(css/html/png) setup
  tests/test_index.py
Due: bandit, pylint, Build documentation, PUBLISH

signindex: fix test_signindex case which was not running
  tests/test_signindex.py
Due: bandit, pylint, Build documentation, PUBLISH

signindex: ensure index.jar always uses SHA1
  fdroidserver/signindex.py
Due: bandit, pylint, Build documentation, PUBLISH

signindex: complete conversion to common.get_config()
  fdroidserver/index.py
  tests/test_api.py
  tests/test_common.py
  tests/test_index.py
Due: bandit, pylint, Build documentation, PUBLISH

hide icon warnings in integration tests
  tests/test_integration.py
  tests/test_signindex.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

index: ensure all indexes have the same timestamp
  fdroidserver/index.py
  tests/test_integration.py
Due: test_deploy_to_s3_with_rclone, bandit, pylint, Build documentation, PUBLISH

separate deleted and modified in git repo status JSON
  fdroidserver/common.py
Due: bandit, pylint, fdroid build, Build documentation, PUBLISH

Path conditions:
  test_deploy_to_s3_with_rclone: any of: .gitlab-ci.yml, fdroidserver/deploy.py, tests/test_deploy.py, tests/test_integration.py
  bandit: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  pylint: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  shellcheck: any of: .gitlab-ci.yml, hooks/install-hooks.sh, hooks/pre-commit, tests/run-tests
  safety: any of: .gitlab-ci.yml, .safety-policy.yml, pyproject.toml, setup.py
  yamllint: any of: .gitlab-ci.yml, .safety-policy.yml, .yamllint, tests/*.yml, tests/*/*.yml, tests/*/*/.*.yml
  gradle: any of: .gitlab-ci.yml, makebuildserver
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py, makebuildserver, buildserver/*
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  Build documentation: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
  PUBLISH: any of: .gitlab-ci.yml, fdroid, makebuildserver, setup.py, fdroidserver/*.py, tests/*.py
  podman system service: any of: .gitlab-ci.yml, fdroidserver/up.py, tests/test_up.py
