Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - export TEST_IMAGE=$CI_REGISTRY_IMAGE:$(printf $CI_COMMIT_REF_NAME | sed 's,[^a-zA-Z0-9_.-],_,g')
  - cd buildserver
  ...

also handle APKs entirely without JAR/v1 signatures
  MANIFEST.in
  tests/common.TestCase
  tests/issue-1128-min-sdk-30-poc.apk
Due: none

include @obfusk's proof-of-concept APKs in test suite
  MANIFEST.in
  tests/common.TestCase
  tests/issue-1128-poc1.apk
  tests/issue-1128-poc2.apk
  tests/issue-1128-poc3a.apk
  tests/issue-1128-poc3b.apk
Due: none

test APK signatures with a cert chain are parsed like apksigner
  MANIFEST.in
  tests/SANAPPSI.RSA
  tests/SANAPPSI.SF
  tests/common.TestCase
Due: none

gitlab-ci: fix ubuntu_lts_ppa job to work with Ubuntu/noble
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

[import] Add more docstrings
  fdroidserver/import_subcommand.py
Due: none

[nightly] Add more docstrings
  fdroidserver/nightly.py
Due: none

[checkupdates] Add module docstring
  fdroidserver/checkupdates.py
Due: none

[btlog] Add more docstrings
  fdroidserver/btlog.py
Due: none

[build] Add more docstrings
  fdroidserver/build.py
Due: fdroid build

Format files with ruff
  fdroidserver/btlog.py
  fdroidserver/init.py
  fdroidserver/lint.py
Due: none

remove all references to optparse (deprecated since Python 3.2)
  fdroidserver/__main__.py
  tests/build.TestCase
  tests/checkupdates.TestCase
  tests/common.TestCase
  tests/deploy.TestCase
  tests/exception.TestCase
  tests/gpgsign.TestCase
  tests/import_subcommand.TestCase
  tests/index.TestCase
  tests/init.TestCase
  tests/install.TestCase
  tests/lint.TestCase
  tests/main.TestCase
  tests/metadata.TestCase
  tests/net.TestCase
  tests/nightly.TestCase
  tests/publish.TestCase
  tests/rewritemeta.TestCase
  tests/scanner.TestCase
  tests/signatures.TestCase
  tests/signindex.TestCase
  tests/update.TestCase
  tests/vcs.TestCase
  tests/verify.TestCase
Due: plugin_fetchsrclibs

common: do not use module reference for local functions
  fdroidserver/common.py
Due: fdroid build

import: always load testcommon from localmodule
  tests/import_subcommand.TestCase
  tests/lint.TestCase
  tests/main.TestCase
  tests/metadata.TestCase
  tests/rewritemeta.TestCase
  tests/update.TestCase
Due: none

clarify that config/options can be global or module-level variable
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

common: make explicit which test cases need mocked options
  tests/common.TestCase
Due: none

rename local variable to stop overwriting global options
  fdroidserver/common.py
Due: fdroid build

common: only try to delete .testfiles dir if it exists
  tests/common.TestCase
Due: none

gitlab-ci: fix macOS job after !1466
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  locale/es/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguz@ersen.moe>
  locale/tr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Chinese (Simplified) (zh_Hans) by ALoLo_527 <ALoLo@users.noreply.hosted.weblate.org>
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Italian (it) by Random <random-r@users.noreply.hosted.weblate.org>
  locale/it/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  locale/cs/LC_MESSAGES/fdroidserver.po
Due: none

safety: ignore CVE-2018-20225, should never affect fdroidserver
  .safety-policy.yml
Due: none

version 2.3 alpha 1
  setup.py
Due: none

make -C locale update
  locale/az/LC_MESSAGES/fdroidserver.po
  locale/bg/LC_MESSAGES/fdroidserver.po
  locale/bn/LC_MESSAGES/fdroidserver.po
  locale/bo/LC_MESSAGES/fdroidserver.po
  locale/cs/LC_MESSAGES/fdroidserver.po
  locale/cy/LC_MESSAGES/fdroidserver.po
  locale/de/LC_MESSAGES/fdroidserver.po
  locale/es/LC_MESSAGES/fdroidserver.po
  locale/es_AR/LC_MESSAGES/fdroidserver.po
  locale/es_MX/LC_MESSAGES/fdroidserver.po
  locale/eu/LC_MESSAGES/fdroidserver.po
  locale/fa/LC_MESSAGES/fdroidserver.po
  locale/fdroidserver.pot
  locale/fi/LC_MESSAGES/fdroidserver.po
  locale/fr/LC_MESSAGES/fdroidserver.po
  locale/fy/LC_MESSAGES/fdroidserver.po
  locale/he/LC_MESSAGES/fdroidserver.po
  locale/hi/LC_MESSAGES/fdroidserver.po
  locale/hu/LC_MESSAGES/fdroidserver.po
  locale/id/LC_MESSAGES/fdroidserver.po
  locale/it/LC_MESSAGES/fdroidserver.po
  locale/kab/LC_MESSAGES/fdroidserver.po
  locale/ko/LC_MESSAGES/fdroidserver.po
  locale/ml/LC_MESSAGES/fdroidserver.po
  locale/nb_NO/LC_MESSAGES/fdroidserver.po
  locale/pl/LC_MESSAGES/fdroidserver.po
  locale/pt/LC_MESSAGES/fdroidserver.po
  locale/pt_BR/LC_MESSAGES/fdroidserver.po
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
  locale/ro/LC_MESSAGES/fdroidserver.po
  locale/ru/LC_MESSAGES/fdroidserver.po
  locale/sk/LC_MESSAGES/fdroidserver.po
  locale/sq/LC_MESSAGES/fdroidserver.po
  locale/sr/LC_MESSAGES/fdroidserver.po
  locale/tr/LC_MESSAGES/fdroidserver.po
  locale/tzm/LC_MESSAGES/fdroidserver.po
  locale/ug/LC_MESSAGES/fdroidserver.po
  locale/uk/LC_MESSAGES/fdroidserver.po
  locale/zh_Hans/LC_MESSAGES/fdroidserver.po
  locale/zh_Hant/LC_MESSAGES/fdroidserver.po
Due: none

fix merge conflict with https://hosted.weblate.org/projects/f-droid/fdroidserver/
  locale/fa/LC_MESSAGES/fdroidserver.po
Due: none

buildserver: use sdkmanager from backports
  buildserver/provision-apt-get-install
Due: docker

fix test cases
  tests/scanner.TestCase
Due: none

scanner - pickup by id, sort list
  fdroidserver/scanner.py
Due: fdroid build

Fix more tests after !1487
  tests/scanner.TestCase
Due: none

Adding rclone as an option to fdroid deploy
  examples/config.yml
  fdroidserver/deploy.py
  tests/deploy.TestCase
Due: none

gradle 8.8
  gradlew-fdroid
Due: gradlew-fdroid

safety: ignore false positive
  .safety-policy.yml
Due: none

Add index only deployment mode
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/nightly.py
  tests/deploy.TestCase
Due: fdroid build

fix: subprocess.check_output to produce string and not bytes
  fdroidserver/deploy.py
Due: none

fix: jinja 2 CVE
  fdroidserver/deploy.py
Due: none

🛰️ deploy: github releases
  examples/config.yml
  fdroidserver/deploy.py
  fdroidserver/github.py
Due: none

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
