Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

Update translation files
  locale/el/LC_MESSAGES/fdroidserver.po
  locale/es_AR/LC_MESSAGES/fdroidserver.po
  locale/id/LC_MESSAGES/fdroidserver.po
  locale/sv/LC_MESSAGES/fdroidserver.po
Due: none

scanner: Print all short options before long options
  fdroidserver/scanner.py
Due: fdroid build

build: add test to ensure Prepare: is only run in VM
  tests/build.TestCase
Due: none

Fix Chinese example in doc string
  fdroidserver/metadata.py
Due: fdroid build

metadata: test None in post_metadata_parse
  tests/metadata.TestCase
Due: none

metadata: handle SHA-256 values that parse as decimal ints
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: _normalize_type_int to handle exceptions
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: _normalize_type_list for TYPE_LIST quirks and errors
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: normalize TYPE_BOOL to YAML 1.2 booleans
  .gitlab-ci.yml
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

metadata: auto-convert YAML special float values: .nan .inf -.inf
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

versionCode is an int everywhere since !1176 fixed #332
  tests/metadata.TestCase
Due: none

metadata: YAML 1.2 handles `gradle: off` now, "off" isn't a boolean
  fdroidserver/metadata.py
Due: fdroid build

metadata: tests for converting Builds: entries for writing out
  tests/metadata.TestCase
Due: none

gitlab-ci: purge stale removals from metadata_v0 job.
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

metadata: refactor _builds_to_yaml to use dicts and _format functions
  fdroidserver/metadata.py
Due: fdroid build

metadata: remove STRING/INT conversion on output
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: case-insensitive sort for AntiFeatures Categories
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: type conversion happens at parsing, not at writing
  tests/metadata.TestCase
Due: none

metadata: remove non-values from Builds: entries
  fdroidserver/metadata.py
  tests/metadata.TestCase
Due: fdroid build

metadata: Make ArchivePolicy an interger internally
  .gitlab-ci.yml
  fdroidserver/lint.py
  fdroidserver/metadata.py
  fdroidserver/update.py
  tests/metadata-rewrite-yml/app.with.special.build.params.yml
  tests/metadata-rewrite-yml/org.fdroid.fdroid.yml
  tests/metadata.TestCase
  tests/metadata/app.with.special.build.params.yml
  tests/metadata/dump/app.with.special.build.params.yaml
  tests/metadata/dump/com.politedroid.yaml
  tests/metadata/dump/org.videolan.vlc.yaml
  tests/update.TestCase
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

add unit tests
  tests/metadata.TestCase
Due: none

fixup! metadata: Make ArchivePolicy an interger internally
  fdroidserver/metadata.py
Due: fdroid build

scanner - tgz is gzip
  fdroidserver/scanner.py
Due: fdroid build

Don't modify app dict when generating v2 antifeatures
  fdroidserver/index.py
Due: none

update: fix regression for ArchivePolicy: 0
  fdroidserver/update.py
Due: none

update: test archive_old_apks() with ArchivePolicy: 0
  tests/update.TestCase
Due: none

Add test for !1370
  tests/metadata/com.politedroid.yml
  tests/metadata/dump/com.politedroid.yaml
  tests/repo/entry.json
  tests/repo/index-v1.json
  tests/repo/index-v2.json
  tests/repo/index.xml
Due: none

gitlab-ci: bump version to compare in metadata_v0 job
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

lint: get Categories from config
  fdroidserver/lint.py
  tests/lint.TestCase
Due: none

purge remnants of repo/categories.txt, which is long unused
  MANIFEST.in
  fdroidserver/common.py
  fdroidserver/update.py
  tests/common.TestCase
  tests/repo/categories.txt
  tests/update.TestCase
Due: fdroid build

test load_localized_config() with categories
  MANIFEST.in
  tests/common.TestCase
  tests/config/categories.yml
  tests/repo/entry.json
  tests/repo/index-v2.json
  tests/run-tests
Due: none

gitlab-ci: switch archlinux job to virtualenv
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

update: use proper name for PIL image filter ANTIALIAS -> LANCZOS
  fdroidserver/update.py
Due: none

Gradle 8.2
  gradlew-fdroid
Due: gradlew-fdroid

gradle v8.2
  gradlew-fdroid
Due: gradlew-fdroid

Don't specify a release candidate in version constraint for androguard dependency
  setup.py
Due: none

Gradle 8.2.1
  gradlew-fdroid
Due: gradlew-fdroid

Import - add more template content
  fdroidserver/import_subcommand.py
Due: none

mirror-to-mirror.sh: set 1h timeout for rsync runs
  examples/mirror-to-mirror.sh
Due: none
