Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: fdroid build, plugin_fetchsrclibs

Path conditions:
  fdroid build: any of: .gitlab-ci.yml, buildserver/provision-apt-get-install, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py

[checkupdates] UpdateCheckData use tag by default
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
Due: none

[lint] convert path to Path first
  fdroidserver/lint.py
Due: none

Fix matching substring flavour detection
  MANIFEST.in
  fdroidserver/common.py
  tests/common.TestCase
  tests/source-files/com.github.jameshnsears.quoteunquote/build.gradle
Due: fdroid build

Support '{' in extra line in parse_androidmanifests
  MANIFEST.in
  fdroidserver/common.py
  tests/common.TestCase
  tests/source-files/com.jens.automation2/build.gradle
Due: fdroid build

Use git tag in latesttags
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

latesttags revert to git log and fix comma handling
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

gradle v7.1
  gradlew-fdroid
Due: none

[checkupdates] UpdateCheckData tag for verocode if no regex
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
Due: none

Ignore git submodule failure in gotorevisionx
  fdroidserver/common.py
  tests/run-tests
Due: fdroid build

Use hash of tag when adding new version
  fdroidserver/checkupdates.py
  fdroidserver/common.py
Due: fdroid build

[checkupdates] Only update if version code is grater
  fdroidserver/checkupdates.py
  tests/checkupdates.TestCase
Due: none

NON_FREE_GRADLE_LINES: add com.android.billingclient
  fdroidserver/scanner.py
Due: fdroid build

add vscode settings
  .bandit
  .gitlab-ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  mypy.ini
  pyproject.toml
Due: fdroid build, plugin_fetchsrclibs

metadata: add test_build_ndk_path
  tests/metadata.TestCase
Due: none

fix typo
  tests/build.TestCase
Due: none

publish: use platform-neutral newlines
  fdroidserver/publish.py
Due: none

metadata: always open metadata files as UTF-8
  fdroidserver/common.py
  fdroidserver/metadata.py
  fdroidserver/rewritemeta.py
  tests/metadata.TestCase
  tests/rewritemeta.TestCase
Due: fdroid build

stats/known_apks.txt must be in UTF-8 format on all platforms
  fdroidserver/common.py
Due: fdroid build

win fixes
  fdroidserver/common.py
  tests/update.TestCase
Due: fdroid build

always open Android source files as UTF-8
  fdroidserver/common.py
  fdroidserver/update.py
  tests/build.TestCase
  tests/common.TestCase
  tests/scanner.TestCase
Due: fdroid build

require config.yml use UTF-8 as encoding
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

skip tests on Windows that need bash
  tests/common.TestCase
  tests/init.TestCase
Due: none

'import resource' only where its used, Windows does not have it
  fdroidserver/build.py
Due: fdroid build

gitlab-ci: add Windows job
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

switch to allow/block list terminology throughout code base
  MANIFEST.in
  buildserver/provision-android-sdk
  fdroidserver/build.py
  fdroidserver/scanner.py
  tests/common.TestCase
  tests/source-files/firebase-allowlisted/app/build.gradle
  tests/source-files/firebase-allowlisted/build.gradle
Due: fdroid build

[checkupdates] Use tag if version is 'Unknown'
  fdroidserver/checkupdates.py
Due: none

ignore E203 for black
  hooks/pre-commit
Due: none

fix vscode setting
  .vscode/settings.json
Due: none

Make lint max-line-length to 88 for black
  .pylint-rcfile
  setup.cfg
Due: none

fix invalid extension of output apk
  fdroidserver/build.py
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

gitlab-ci: switch ubuntu_lts_ppa job to keyserver.ubuntu.com
  .gitlab-ci.yml
Due: fdroid build, plugin_fetchsrclibs

gradle-release-checksums.py: check for GitLab token before committing
  tests/gradle-release-checksums.py
Due: none

this codebase has started to use things introduced in Python 3.5
  setup.py
Due: none

rewrite docstrings to match numpy style guide
  README.md
  fdroidserver/apksigcopier.py
  fdroidserver/btlog.py
  fdroidserver/build.py
  fdroidserver/common.py
  setup.cfg
  setup.py
Due: fdroid build

Fix pep8 whitespace errors
  fdroidserver/__main__.py
  fdroidserver/apksigcopier.py
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/index.py
  fdroidserver/publish.py
  fdroidserver/scanner.py
  fdroidserver/tail.py
  fdroidserver/update.py
  fdroidserver/vmtools.py
Due: fdroid build, plugin_fetchsrclibs

rewrite docstrings to match numpy style guide
  .gitlab-ci.yml
  fdroidserver/__main__.py
  fdroidserver/apksigcopier.py
  fdroidserver/asynchronousfilereader/__init__.py
  fdroidserver/build.py
  fdroidserver/checkupdates.py
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/gpgsign.py
  fdroidserver/index.py
  fdroidserver/init.py
  fdroidserver/lint.py
  fdroidserver/metadata.py
  fdroidserver/mirror.py
  fdroidserver/net.py
  fdroidserver/publish.py
  fdroidserver/scanner.py
  fdroidserver/signindex.py
  fdroidserver/tail.py
  fdroidserver/update.py
  fdroidserver/verify.py
  fdroidserver/vmtools.py
Due: fdroid build, plugin_fetchsrclibs

rewrite docstrings to match numpy style guide
  fdroidserver/common.py
Due: fdroid build

apply numpy docstyle
  fdroidserver/common.py
  fdroidserver/lint.py
Due: fdroid build

Fix errors from merge and review
  fdroidserver/common.py
  fdroidserver/lint.py
  setup.cfg
Due: fdroid build

add require_signature param to scan_apk
  fdroidserver/update.py
Due: none
