Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*

Deprecate bzr, hg and git-svn support (attack surface)
  fdroidserver/common.py
Due: fdroid build

gradle - 8.14.1
  gradlew-fdroid
Due: gradlew-fdroid

gradle 8.14.2
  gradlew-fdroid
Due: gradlew-fdroid

gitlab-ci: make gradle job show files with trigger it
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

make_website: only parse repo_pubkey if its needed
  fdroidserver/index.py
Due: none

gradlew-fdroid: update AGP required gradle version
  gradlew-fdroid
Due: gradlew-fdroid

Lazyload environment variables in config.yml
  fdroidserver/common.py
  tests/test_common.py
Due: fdroid build

update: use ctime/mtime to control _strip_and_copy_image runs
  fdroidserver/update.py
  tests/test_update.py
Due: none

gitlab-ci: show pylint output in log when it fails
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

let pylint choose how many CPUs to use
  pyproject.toml
Due: none

pylint: use default good-names list
  pyproject.toml
Due: none

update: If cateogories.yml only has icon:, then add name:
  fdroidserver/index.py
  tests/test_update.py
Due: none

nightly: set up test for git clone function
  fdroidserver/nightly.py
  tests/test_nightly.py
Due: none

nightly: switch dep from vcs_git to GitPython
  fdroidserver/nightly.py
Due: none

nightly: convert to black format
  fdroidserver/nightly.py
  pyproject.toml
Due: none

Translated using Weblate: Catalan (ca) by Ecron <ecron_89@hotmail.com>
  locale/ca/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Turkish (tr) by Nuri KÜÇÜKLER <enatsek@gmail.com>
  locale/tr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Portuguese (Portugal) (pt_PT) by ssantos <ssantos@web.de>
  locale/pt_PT/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Turkish (tr) by Bora Atıcı <boratici.acc@gmail.com>
  locale/tr/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Polish (pl) by WaldiS <sto@tutanota.de>
  locale/pl/LC_MESSAGES/fdroidserver.po
Due: none

buildserver: androguard res0/res1 fixes from bookworm-backports
  buildserver/provision-apt-get-install
Due: docker

deploy: use master branch when working complete git-mirror repo
  fdroidserver/deploy.py
Due: none

update: change assert to fix flaky tests
  tests/test_update.py
Due: none

run tests/refresh-SUSS_DEFAULT.py
  fdroidserver/scanner.py
Due: fdroid build

update CHANGELOG.md
  CHANGELOG.md
Due: none

version 2.4.1
  setup.py
Due: none

scanner: fix tests after !1526
  tests/test_scanner.py
Due: none

gitlab-ci: "fdroid build" changes: for "docker" job
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

nightly: fix bug that clones nightly repo to wrong location
  fdroidserver/nightly.py
Due: none

nightly: include project's LICENSE in the nightly repo
  fdroidserver/nightly.py
Due: none

gradle v8.14.2
  gradlew-fdroid
Due: gradlew-fdroid

Translated using Weblate: Russian (ru) by Artyom Rybakov <rib.artem@gmail.com>
  locale/ru/LC_MESSAGES/fdroidserver.po
Due: none

Translated using Weblate: Spanish (es) by Swyter <swyterzone@gmail.com>
  locale/es/LC_MESSAGES/fdroidserver.po
Due: none

version 2.4.2
  setup.py
Due: none

gitlab-ci: rm dash from macOS tests, it reliably segfaults
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Translated using Weblate: Bashkir (ba) by Zulfar <mzulfar20@gmail.com>
  locale/ba/LC_MESSAGES/fdroidserver.po
Due: none

enable Bashkir (ba) as supported locale, its at 100%
  MANIFEST.in
Due: none
