Repository f-droid/fdroidserver: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradlew-fdroid:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

fdroid build:
  image: registry.gitlab.com/fdroid/fdroidserver:buildserver
  cache:
    key: $CI_JOB_NAME
    paths:
    - .gradle
  script:
  - apt-get update
  - apt-get dist-upgrade
  - apt-get clean
  - test -n "$fdroidserver" || source /etc/profile.d/bsenv.sh
  - ln -fsv "$CI_PROJECT_DIR" "$fdroidserver"
  ...

plugin_fetchsrclibs:
  variables:
    DEBIAN_FRONTEND: noninteractive
    LANG: C.UTF-8
  before_script:
  - echo Etc/UTC > /etc/timezone
  - echo 'APT::Install-Recommends "0";' 'APT::Install-Suggests "0";' 'APT::Get::Assume-Yes "true";' 'Acquire::Retries "20";' 'Dpkg::Use-Pty "0";' 'quiet "1";' >> /etc/apt/apt.conf.d/99gitlab
  ...

docker:
  dependencies:
  - fdroid build
  image: docker:git
  services:
  - docker:dind
  variables:
    RELEASE_IMAGE: $CI_REGISTRY_IMAGE:buildserver
  script:
  - export TEST_IMAGE=$CI_REGISTRY_IMAGE:$(printf $CI_COMMIT_REF_NAME | sed 's,[^a-zA-Z0-9_.-],_,g')
  - cd buildserver
  ...

deploy: update_serverwebroot() works w/o options/config
  fdroidserver/deploy.py
  tests/deploy.TestCase
Due: none

deploy: update_serverwebroots() for testable logic
  fdroidserver/__init__.py
  fdroidserver/deploy.py
  tests/deploy.TestCase
Due: none

Update default suss
  fdroidserver/scanner.py
Due: fdroid build

scanner: script to update default rules from SUSS
  tests/refresh-SUSS_DEFAULT.py
Due: none

scanner: update test counts based on new default rules
  tests/scanner.TestCase
Due: none

Fix "fdroid --version"
  fdroidserver/__main__.py
Due: plugin_fetchsrclibs

fdroid build: add --refresh-scanner option
  fdroidserver/build.py
  fdroidserver/scanner.py
Due: fdroid build

scanner: refresh data before loading data
  fdroidserver/scanner.py
Due: fdroid build

scanner: test of --refresh controls triggering a refresh
  tests/scanner.TestCase
Due: none

scanner: add refresh_config config item for buildserver
  examples/config.yml
  fdroidserver/scanner.py
  tests/scanner.TestCase
Due: fdroid build

scanner: refresh data without scaning
  fdroidserver/scanner.py
Due: fdroid build

add gradle 8.6
  gradlew-fdroid
Due: gradlew-fdroid

safety: ignore CVE-2024-22190 it only affects Windows
  .safety-policy.yml
Due: none

feat: add servergitmirrors as a dict support
  .gitlab-ci.yml
  examples/config.yml
  fdroidserver/common.py
  fdroidserver/deploy.py
  fdroidserver/index.py
  fdroidserver/nightly.py
  tests/deploy.TestCase
  tests/index.TestCase
  tests/nightly.TestCase
  tests/run-tests
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

fixups from "feat: add servergitmirrors as a dict support"
  .gitlab-ci.yml
  examples/config.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: revert to old config.py for servergitmirrors: job
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gradle v8.6
  gradlew-fdroid
Due: gradlew-fdroid

build: pass --refresh-scanner thru to buildserver VM
  fdroidserver/build.py
Due: fdroid build

add 'non-changeable' to NonFreeNet description
  tests/config/antiFeatures.yml
  tests/repo/entry.json
  tests/repo/index-v2.json
Due: none

fix litecoin address regex
  fdroidserver/metadata.py
Due: fdroid build

method to globally set logging to output nicely to the console
  fdroidserver/common.py
  fdroidserver/init.py
  fdroidserver/install.py
  fdroidserver/mirror.py
  fdroidserver/signatures.py
Due: fdroid build

use tiny entry.jar rather than large index-v1.jar for net test case
  tests/net.TestCase
Due: none

convert tests/testcommon.py to black code format
  pyproject.toml
  tests/testcommon.py
Due: none

convert install.py to black code format
  fdroidserver/install.py
  pyproject.toml
Due: none

net: add test of automatic retries in download_file()
  fdroidserver/net.py
  tests/net.TestCase
Due: fdroid build

net: fix test_download_file_url_parsing
  tests/net.TestCase
Due: none

split out mirrors data structure into standalone, tested function
  fdroidserver/common.py
  tests/common.TestCase
Due: fdroid build

gitlab-ci: always use HTTPS for apt repos
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

gitlab-ci: docker:git has become stable, so switch to stable tag
  .gitlab-ci.yml
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

scanner: update maven repo regex
  fdroidserver/scanner.py
  tests/gradle-maven-blocks.yaml
Due: fdroid build

Add unversioned whatsNew to index-v2 (Closes: #1202)
  fdroidserver/index.py
Due: none

Fix path splitting error on Windows
  fdroidserver/common.py
Due: fdroid build

Upgrade Buildserver VM to latest Debian (Bookworm)
  .gitlab-ci.yml
  buildserver/Dockerfile
  buildserver/Vagrantfile
  fdroidserver/checkupdates.py
Due: gradlew-fdroid, fdroid build, plugin_fetchsrclibs, docker

Upgrade Buildserver VM to latest Debian (Bookworm)
  buildserver/provision-apt-get-install
Due: docker

Upgrade Buildserver VM to latest Debian (Bookworm)
  buildserver/Dockerfile
Due: docker

use full base docker image
  buildserver/Dockerfile
Due: docker

fine tune purge
  buildserver/provision-apt-get-install
Due: docker

add missed file
  makebuildserver
Due: docker

drop gradle support before 7.3
  tests/test-gradlew-fdroid
  tests/triple-t-anysoftkeyboard/metadata/com.anysoftkeyboard.languagepack.dutch.yml
  tests/triple-t-anysoftkeyboard/metadata/com.menny.android.anysoftkeyboard.yml
Due: gradlew-fdroid

upgrade basebox to 12.20231211.1
  makebuildserver
Due: docker

Path conditions:
  gradlew-fdroid: any of: .gitlab-ci.yml, gradlew-fdroid, tests/test-gradlew-fdroid
  fdroid build: any of: .gitlab-ci.yml, fdroidserver/build.py, fdroidserver/common.py, fdroidserver/exception.py, fdroidserver/metadata.py, fdroidserver/net.py, fdroidserver/scanner.py, fdroidserver/vmtools.py
  plugin_fetchsrclibs: any of: .gitlab-ci.yml, examples/fdroid_fetchsrclibs.py, fdroidserver/__main__.py
  docker: any of: .gitlab-ci.yml, makebuildserver, buildserver/*
